{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-book"></i> Log Master</div>
    <ul class="toolbar">
        <li>
            Logs From Date &nbsp;
            <input type="text" class="datepick" value="{{ now|date('01-m-Y') }}" style="width:90px">
            &nbsp; To &nbsp;
            <input type="text" class="datepick" value="{{ now|date('d-m-Y') }}" style="width:90px">
        </li>
        <li class="ml20">
            <button class="btn-pink">Get Log</button>
        </li>
    </ul>
{% endblock %}

{% block content %}

        <table class="table">
            <colgroup>
                <col style='width: 40px'>
                <col span=4>
                <col style='width: 88px'>
            </colgroup>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Changed In</th>
                <th>Operation</th>
                <th>Data</th>
                <th>Date Time</th>
            </tr>

            {% for item in Importers %}
                <tr>
                    <td class='text-center'>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.country }}</td>
                    <td>{{ item.phone }} <br> {{ item.phone2 }}</td>
                    <td>
                        <a href="{{ url('importer/edit/' ~ item.Id) }}" class='btn btn-yellow'><i class='ti-pencil'></i></a>
                        <a href="{{ url('importer/remove/' ~ item.Id) }}" class='btn btn-orange confirm-delete'><i class='ti-trash'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br><br><br>
        <legend style="color:red;font-weight:bold;font-size:13px;">Not Available Right Now :)</legend>

{% endblock %}