{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-medall"></i> Update Scheme</div>
    <ul class="toolbar">
        <li><a href="{{ url('schemes') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('scheme/edit/' ~ Scheme.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>Scheme Name</label>
                <input type="text" name="name" value="{{ Scheme.name }}">
            </div>

            <div class="form-group">
                <label>Detail</label>
                <textarea name="detail">{{ Scheme.detail }}</textarea>
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}