{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-package"></i> Update Product</div>
    <ul class="toolbar">
        <li><a href="{{ url('products') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('product/edit/' ~ Product.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" name="name" value="{{ Product.name }}">
            </div>

            <div class="form-group">
                <label>HS Code</label>
                <input type="text" name="hs_code" value="{{ Product.hs_code }}">
            </div>

            <div class="form-group">
                <label>Product Name Shortcode</label>
                <input type="text" name="shortcode" value="{{ Product.shortcode }}">
            </div>

            <div class="form-group">
                <label>DBK Scheme No.</label>
                <input type="text" name="dbk_scheme_no" value="{{ Product.dbk_scheme_no }}">
            </div>

            <div class="form-group">
                <label>FOB Value</label>
                <input type="text" name="fob" value="{{ Product.fob }}">
            </div>

            <div class="form-group">
                <label>File No.</label>
                <input type="text" name="file_no" value="{{ Product.file_no }}">
            </div>

            <div class="form-group">
                <label>Extra Description</label>
                <input type="text" name="extra1" value="{{ Product.extra1 }}">
            </div>

            <div class="form-group">
                <label>Extra 2</label>
                <input type="text" name="extra2" value="{{ Product.extra2 }}">
            </div>

            <div class="form-group">
                <label>Extra 3</label>
                <input type="text" name="extra3" value="{{ Product.extra3 }}">
            </div>

            <div class="form-group">
                <label>Extra 4</label>
                <input type="text" name="extra4" value="{{ Product.extra4 }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}