{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-package"></i> Products Register</div>
    <ul class="toolbar">
        <li><a href="{{ url('product/new') }}"><i class="ti-notepad"></i> Add New</a></li>
    </ul>
{% endblock %}

{% block content %}

        <table class="table">
            <colgroup>
                <col style='width: 40px'>
                <col>
                <col>
                <col style='width: 88px'>
            </colgroup>
            <tr>
                <th>No.</th>
                <th>Product's Name</th>
                <th>HS Code</th>
                <th>Shortcode</th>
                <th>DBK Scheme No</th>
                <th>FOB</th>
                <th>File No.</th>
                <th>Extra</th>
                <th></th>
            </tr>

            {% for item in Products %}
                <tr>
                    <td class='text-center'>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.hs_code }}</td>
                    <td>{{ item.shortcode }}</td>
                    <td>{{ item.dbk_scheme_no }}</td>
                    <td>{{ item.fob }}</td>
                    <td>{{ item.file_no }}</td>
                    <td>{{ item.extra1 }}</td>
                    <td>
                        <a href="{{ url('product/edit/' ~ item.Id) }}" class='btn btn-yellow'><i class='ti-pencil'></i></a>
                        <a href="{{ url('product/remove/' ~ item.Id) }}" class='btn btn-orange confirm-delete'><i class='ti-trash'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}