{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-package"></i> Add New Product</div>
    <ul class="toolbar">
        <li><a href="{{ url('products') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('product') }}" method='post' class="form">
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" name="name">
            </div>

            <div class="form-group">
                <label>HS Code</label>
                <input type="text" name="hs_code">
            </div>

            <div class="form-group">
                <label>Product Name Shortcode</label>
                <input type="text" name="shortcode">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Create</button>
            </div>
        </form>

{% endblock %}