{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-home"></i> Dashboard</div>
    <ul class="toolbar">
        <li><a href="#"><i class="ti-notepad"></i> Notepad</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="panel mt20 p20 mr20" style="display:inline-block;">
        <div class="text-center" style="font-size:42px;font-weight:300;font-family:RobotoRegular;">{{ Dashboard.contracts }}</div>
        <div class="text-center" style="font-size:20px;font-weight:300;font-family:RobotoRegular;">Total Contracts</div>
    </div>

    <div class="panel mt20 p20 mr20" style="display:inline-block;">
        <div class="text-center" style="font-size:42px;font-weight:300;font-family:RobotoRegular;">{{ Dashboard.shipments }}</div>
        <div class="text-center" style="font-size:20px;font-weight:300;font-family:RobotoRegular;">Successful Shipments</div>
    </div>

    <div class="panel mt20 p20 mr20" style="display:inline-block;">
        <div class="text-center" style="font-size:42px;font-weight:300;font-family:RobotoRegular;">{{ Dashboard.importers }}</div>
        <div class="text-center" style="font-size:20px;font-weight:300;font-family:RobotoRegular;">Happy Customers</div>
    </div>

    <div class="panel mt20 p20 mr20" style="display:inline-block;">
        <div class="text-center" style="font-size:42px;font-weight:300;font-family:RobotoRegular;">{{ Dashboard.products }}</div>
        <div class="text-center" style="font-size:20px;font-weight:300;font-family:RobotoRegular;">Awesome Products</div>
    </div>

    <div class="panel p20 mr20" style="display:inline-block;">
        <div class="text-center" style="font-size:42px;font-weight:300;font-family:RobotoRegular;">{{ Dashboard.countries }}</div>
        <div class="text-center" style="font-size:16px;font-weight:300;font-family:RobotoRegular;">Countries To Business With</div>
    </div>


{% endblock %}