{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-truck"></i> Update Forwarder</div>
    <ul class="toolbar">
        <li><a href="{{ url('forwarders') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('forwarder/edit/' ~ Forwarder.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>Forwarder Company Name</label>
                <input type="text" name="name" value="{{ Forwarder.name }}">
            </div>

            <div class="form-group">
                <label>Contact Person</label>
                <input type="text" name="contact_person" value="{{ Forwarder.contact_person }}">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" value="{{ Forwarder.phone }}">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{ Forwarder.email }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}