{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-truck"></i> Forwarders Register</div>
    <ul class="toolbar">
        <li><a href="{{ url('forwarder/new') }}"><i class="ti-notepad"></i> Add New</a></li>
    </ul>
{% endblock %}

{% block content %}

        <table class="table">
            <colgroup>
                <col style='width: 40px'>
                <col span=4>
                <col style='width: 88px'>
            </colgroup>
            <tr>
                <th>No.</th>
                <th>Forwarder's Name</th>
                <th>Contact Person</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>

            {% for item in Forwarders %}
                <tr>
                    <td class='text-center'>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.contact_person }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <a href="{{ url('forwarder/edit/' ~ item.Id) }}" class='btn btn-yellow'><i class='ti-pencil'></i></a>
                        <a href="{{ url('forwarder/remove/' ~ item.Id) }}" class='btn btn-orange confirm-delete'><i class='ti-trash'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}