{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-truck"></i> Add New Forwarder</div>
    <ul class="toolbar">
        <li><a href="{{ url('forwarders') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('forwarder') }}" method='post' class="form">
            <div class="form-group">
                <label>Forwarder Company Name</label>
                <input type="text" name="name">
            </div>

            <div class="form-group">
                <label>Contact Person</label>
                <input type="text" name="contact_person">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Create</button>
            </div>
        </form>

{% endblock %}