<form action="{{ url('quick/add/forwarder') }}" method='post' class="form quickForm">
    <div class="form-group">
        <label>Forwarder Company Name</label>
        <input type="text" name="name" class="quickFocus">
    </div>

    <div class="form-group">
        <label>Contact Person</label>
        <input type="text" name="contact_person">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="text" name="phone">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email">
    </div>

    <div class="form-group mt20">
        <label></label>
        <button type="button" class="btn quickAdd">Create</button>
    </div>
</form>