{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-direction-alt"></i> Company Profile</div>
    <ul class="toolbar">
        <li><a href="{{ url('products') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('company') }}" method='post' class="form">
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="name" value="{{ Company.name }}">
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea name="address">{{ Company.address }}</textarea>
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea name="address_short">{{ Company.address_short }}</textarea>
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" value="{{ Company.phone }}">
            </div>

            <div class="form-group">
                <label>Phone 2</label>
                <input type="text" name="phone2" value="{{ Company.phone2 }}">
            </div>

            <div class="form-group">
                <label>Company Website</label>
                <input type="text" name="website" value="{{ Company.website }}">
            </div>

            <div class="form-group">
                <label>IEC No.</label>
                <input type="text" name="iec_no" value="{{ Company.iec_no }}">
            </div>

            <div class="form-group">
                <label>PAN No.</label>
                <input type="text" name="pan_no" value="{{ Company.pan_no }}">
            </div>

            <div class="form-group">
                <label>GST No.</label>
                <input type="text" name="gst_no" value="{{ Company.gst_no }}">
            </div>

            <div class="form-group">
                <label>LUT No.</label>
                <input type="text" name="lut_no" value="{{ Company.lut_no }}">
            </div>            

            <div class="form-group">
                <label>Bank Name</label>
                <input type="text" name="bank_name" value="{{ Company.bank_name }}">
            </div>

            <div class="form-group">
                <label>Bank Address</label>
                <textarea name="bank_address">{{ Company.bank_address }}</textarea>
            </div>

            <div class="form-group">
                <label>Weighbridge registration no</label>
                <input type="text" name="weighbridge_reg_no" value="{{ Company.weighbridge_reg_no }}">
            </div>

            <div class="form-group">
                <label>Weighbridge Address</label>
                <textarea name="weighbridge_address">{{ Company.weighbridge_address }}</textarea>
            </div>
            
            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>

            

        </form>

{% endblock %}