<title>Page Not Found</title>
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

<div class="text-center" style="margin-top:20px">
    <h1>Page Not Found</h1>
    <p>You can start over from <a href="{{ url() }}" class="link">Homepage</a> here.</p>

    <div><img src="{{ asset('images/404.png') }}" class="mt20"></div>

    {#<div class="mt20"><i class="ti-face-smile" style="font-size:36px;color:orange;"></i></div>#}
</div>