<!doctype html>
<html>
<head>
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <style>
        html, body {
            overflow: hidden;
        }
        .right-side {
            height: 5000px;
            position: relative;
        }
        .right-side img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .form .form-group label {
            width: 100px;
        }
        .form .form-group input {
            width: 200px;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="col-4">
            <form action="" method="post" class="form mt20 ml20">
                <h2>User Login</h2>

                <div class="form-group mt20">
                    <label for="">Username</label>
                    <input type="text" name="Username" class="username">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="password" autocomplete="new-password">
                </div>

                <div class="form-group mt20">
                    <label></label>
                    <button type="submit" id="loginBtn" class="btn-purple">Login</button>
                </div>

                <div class="form-group mt20">
                    <div class="errormsg" style="color:#D9434E;margin-left:10px">&nbsp;</div>
                </div>
            </form>

            <div class="panel ml20 mr20 text-center p20" style="line-height: 1.6;margin-top: 150px; color: #A5ADB8; border:none">
                <h3>Made With <i class="ti-heart" style="color:#D9434E;font-size:12px;"></i> By</h3>
                <p class="mt20">
                    <strong>Hiren Modhvadia</strong><br>
                    <strong>Mail: </strong> modhvadia.hiren@gmail.com<br>
                    <strong>Phone: </strong> +91 9067639925<br>
                </p>
            </div>
        </div>
        <div class="col-8 right-side" id="loginImageWrap">
            <img src="{{ asset('images/bg.jpg') }}" id="loginImage">
        </div>
    </div>

    {# Javascript configuration #}
    <script type="text/javascript">
        var config = {
            'url': '{{ url() }}',
        }
    </script>
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/rainyday.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/login.js') }}"></script>
</body>
</html>