{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-flag"></i> Update Country</div>
    <ul class="toolbar">
        <li><a href="{{ url('countrys') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('country/edit/' ~ Country.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>Country Name</label>
                <input type="text" name="name" value="{{ Country.name }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}