{% include 'blocks/html-head.twig' %}

{% include 'blocks/sidebar.twig' %}
{% include 'blocks/header.twig' %}

<div class="container">
    <div class='page-content'>
        <div class='page-header'>
            {# Page Header Content Block #}
            {% block header %}{% endblock %}
        </div>

        {# Main Content Block #}
        {% block content %}{% endblock %}
    </div>

    {% include 'blocks/footer.twig' %}
</div>

{# Add Modals Here #}
{% block modals %}{% endblock %}

<!-- iFrame Modal - Required On Every Page With Print Preview Functionality -->
<div class="modal iFrameModal">
    <div class="modal-title"></div>
    <div class="modal-close"><i class="ti-close"></i></div>
    <div class="modal-content">
        <iframe src="" id="iFrameIframe" frameborder="0" type="application/pdf"></iframe>
    </div>
</div>

{% include 'blocks/html-footer.twig' %}

{# Extra javascript #}
{% block javascript %}{% endblock %}