{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-anchor"></i> Update FinalDestination</div>
    <ul class="toolbar">
        <li><a href="{{ url('finaldestinations') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('finaldestination/edit/' ~ FinalDestination.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>FinalDestination Name</label>
                <input type="text" name="name" value="{{ FinalDestination.name }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}