<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<div class="a4">
    <table contenteditable="true">
        <colgroup>
            <col style="width:22%">
            <col style="width:22%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%">
        </colgroup>

        <!-- Header Group -->
        <tr>
            <td colspan="6" style="text-align: center;">ORIGINAL</td>
        </tr>
        <tr>
            <td colspan="6">
                <img src="{{ asset('images/packing_list.jpg') }}" width="100%">
            </td>
        </tr>

        <!-- First Group -->
        <tr>
            <td rowspan="3" colspan="2">
                <div class="title">Manufacturer/ Exporter/Shipper/Beneficiary</div>
                {% if Contract.shipment.company_detail == "" %}
                    {{ Company.name }}<br>
                    {{ Company.address|nl2br }}
                {% else %}
                    {{ Contract.shipment.company_detail|nl2br }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice No.</div>
                GI/EXP/{{ Contract.shipments[0].comm_invoice_no }}/{{ Contract.shipments[0].comm_invoice_date | year_boundry }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice Date</div>
                {#{{ now|date('d-M-Y') }}#}
                {# {{ Contract.contract_date|date('d-M-Y') }} #}
                {{ Contract.shipments[0].comm_invoice_date|date('d-M-Y') }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="t-center">
                <div class="title t-center">L/C No.</div>
                <span style='text-transform:uppercase'>{{ Contract.shipment.lc_no }}</span>
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">L/C Date</div>
                {{ (Contract.shipment.lc_date != "0000-00-00") ? Contract.shipment.lc_date|date('d-M-Y') }}
            </td>

        </tr>
        <tr>
            <td colspan="2" class="t-center">
                <div class="title t-center">B/L No. </div>
                <span style='text-transform:uppercase'>{{ Contract.shipment.bl_no }}</span>
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">B/L Date</div>
                {{ (Contract.shipment.bl_date != "0000-00-00") ? Contract.shipment.bl_date|date('d-M-Y') }}
            </td>
        </tr>


        <!-- Second Group -->
        <tr>
            <td colspan="2">
                <div class="title">Buyer/Importer</div>
                {% if Contract.shipment.importer_address == "" or Contract.shipment.importer_address == "0" %}
                    {{ Contract.importer.name|upper }}<br>
                    <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_buyer_address|nl2br }}</span>
                {% else %}
                    {{ Contract.importer.name|upper }}<br>
                    <span style='text-transform:uppercase'>{{ Contract.shipment.importer_address|nl2br }}</span>
                {% endif %}
            </td>
            <td colspan="4">
                <div class="title">Notify Party (If any)</div>
                {% if Contract.shipment.notifier_party == "" %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_notifier_address|nl2br }}</span>
                {% else %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.shipment.notifier_party|nl2br }}</span>
                {% endif %}

            </td>
        </tr>

        <!-- Third Group -->
        <tr>
            <td colspan="2">
                <div class="title">Consignee</div>
                {% if Contract.shipment.invoice_consignee_address == "" %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.consignee_party|nl2br }}</span>
                    {# <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_consignee_address|nl2br }} #}
                {% else %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_consignee_address|nl2br }}
                {% endif %}
            </td>
            <td colspan="4">
                <div class="title">Beneficiary's Bank Details</div>
                {% if Contract.shipment.comm_bank_no =="" %}
                    {{ Company.bank_name }}<br>
                {% else %}
                    {{ Contract.shipment.comm_bank_no }}
                {% endif %}
                {% if Contract.shipment.comm_bank_detail =="" %}
                    <div style="margin-left:5px;font-weight: normal;">{{ Company.bank_address|nl2br }}</div>
                {% else %}
                    <div style="margin-left:5px;font-weight: normal;">{{ Contract.shipment.comm_bank_detail|nl2br }}</div>
                {% endif %}
            </td>
        </tr>

        <!-- Forth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Pre-Carriage by</div>
                &nbsp;
            </td>
            <td class="t-center">
                <div class="title t-center">Place of Receipt by Pre-Carrier</div>
                &nbsp;
            </td>
            <td colspan="2" class="t-center">
                <span class="title">GST NO.</span> {{ Company.gst_no }}<br>
                <span class="title">IEC NO.</span> {{ Company.iec_no }}<br>
                <span class="title">PAN NO.</span> {{ Company.pan_no }}<br>
                
            </td>
            <td colspan="2" class="t-center">
                {% if Contract.purchase_order_no == "" %}
                    <div class="title t-center">PI NO.</div>
                    GI/EXP/PI/{{ Contract.contract_no }}/{{ Contract.contract_date | year_boundry }}
                {% else %}
                    <div class="title t-center">PO NO.</div>
                    GI/EXP/{{ Contract.purchase_order_no }}/{{ Contract.contract_date | year_boundry }}
                {% endif %}
            </td>
        </tr>

        <!-- Fifth Group -->
        <tr>
            <td class="t-center" class="t-center">
                <div class="title t-center">Vessel/ Voy. No./Flight No.</div>
                {% if Contract.shipment.voyage_no == "" %}
                    {{ Contract.do.vessel_name }}
                {% else %}
                    {{ Contract.shipment.voyage_no }}
                {% endif %}
            </td>
            <td class="t-center">
                <div class="title">Port of Loading</div>
                {% if Contract.shipment.port_loading == "" %}
                    {{ Contract.port.name|upper }} PORT, INDIA
                {% else %}
                    {{ Contract.shipment.port.name }} PORT, INDIA
                {% endif %}    
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Origin of Goods </div>
                {% if Contract.shipment.comm_invoice_note2 == "" %}
                    INDIA
                {% else %}
                    {{ Contract.shipment.comm_invoice_note2 }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Final Destination</div>
                {% if Contract.shipment.final_destination_country == "" %}
                    {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.country.name }}
                {% endif %}
            </td>
        </tr>

        <!-- Sixth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Port of Discharge </div>
                {% if Contract.shipment.discharge_port == "" %}
                    {{ Contract.port_discharge|upper }}, {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.discharge_port }}, {{ Contract.shipment.country.name|upper }}
                {% endif %}

                {% if Contract.shipment.discharge_port2 == "" %}
                    {% if Contract.port_discharge2 != "" %}
                        <br>
                        {{ Contract.port_discharge2|upper }}, {{ Contract.country.name|upper }}
                    {% endif %}
                {% else %}
                    {% if Contract.shipment.discharge_port2 != "" %}
                        <br>
                        {{ Contract.shipment.discharge_port2|upper }}, {{ Contract.shipment.country.name|upper }}
                    {% endif %}
                {% endif %}
                
                {% if Contract.shipment.discharge_port3 == "" %}
                    {% if Contract.shipment.discharge_port3 != "" %}
                        <br>
                        {{ Contract.port_discharge3|upper }}, {{ Contract.country.name|upper }}
                    {% endif %}
                {% else %}
                    {% if Contract.shipment.discharge_port3 != "" %}
                        <br>
                        {{ Contract.shipment.discharge_port3|upper }}, {{ Contract.shipment.country.name|upper }}
                    {% endif %}
                {% endif %}
            </td>

            <td class="t-center">
                <div class="title t-center">Final Destination</div>
                {% if Contract.shipment.final_destination == "" %}
                    {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.final_destination }}, {{ Contract.shipment.country.name|upper }}
                {% endif %}
                
                {% if Contract.shipment.final_destination2 == "" %}
                    {% if Contract.final_destination2 != "" %}
                        <br>
                        {{ Contract.final_destination2|upper }}, {{ Contract.country.name|upper }}
                    {% endif %}
                {% else %}
                    {% if Contract.shipment.final_destination2 != "" %}
                        <br>
                        {{ Contract.shipment.final_destination2|upper }}, {{ Contract.shipment.country.name|upper }}
                    {% endif %}
                {% endif %}
                
                {% if Contract.shipment.final_destination3 == "" %}
                    {% if Contract.final_destination3 != "" %}
                        <br>
                        {{ Contract.final_destination3|upper }}, {{ Contract.country.name|upper }}
                    {% endif %}
                {% else %}
                    {% if Contract.shipment.final_destination3 != "" %}
                        <br>
                        {{ Contract.shipment.final_destination3|upper }}, {{ Contract.shipment.country.name|upper }}
                    {% endif %}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Delivery</div>
                {% if Contract.shipment.delivery_terms == "" %}
                    {{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.delivery_terms|upper }} {{ Contract.shipment.final_destination }}, {{ Contract.shipment.country.name|upper }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Payment</div>
                {% if Contract.shipment.payment_terms == "" %}
                    {{ Contract.payment_terms|upper }}
                {% else %}
                    {{ Contract.shipment.payment_terms }}
                {% endif %}
            </td>
        </tr>

        <!-- Seventh Group (Bill Header) -->
        <tr>
            <td>
                <div class="title t-center">Marks &amp; Nos./<br>Container No.</div>
            </td>
            <td>
                <div class="title t-center">No. &amp; Kind of packages</div>
            </td>
            <td>
                <div class="title t-center">Description of Goods</div>
            </td>
            <td>
                <div class="title t-center">Quantity<br>MT</div>
            </td>
            <td>
                <div class="title t-center">Gross Weight MT</div>
            </td>
            <td>
                <div class="title t-center">Net Weight MT</div>
            </td>
        </tr>


        <!-- Eighth Group (Product Data) -->
        {% set total_amount = 0 %}
        {% set total_gw = 0 %}
        {% set total_nw = 0 %}
        {% set flx = 0 %}
        {% for item in Contract.shipments %}
            {% for index,product in item.products %}
                <tr>
                    {% if loop.first %}
                        <td class="nbb nbt" rowspan="{{ (item.products|length*2)+1 }}">
                            {{ marks_data|raw }}
                        </td>
                    {% else %}

                    {% endif %}

                    <td class="nbb nbt t-center">
                        {% if loop.first %}
                            {% set container_exists = false %}
                            {% if item.container_size[0] > 0 %}
                                {% set flx = flx + item.container_size[0] %}
                                {{ item.container_size[0] }} X 20' FCL
                                {% set container_exists = true %}
                            {% endif %}
                            {% if item.container_size[1] > 0 %}
                                {% if container_exists %}
                                    ,
                                {% endif %}
                                {% set flx = flx + item.container_size[1] %}
                                {{ item.container_size[1] }} X 40' FCL
                            {% endif %}
                            CONTAINER<br>
                        {% endif %}

                        PACKING {{ product.package_type|upper }}

                        {% if loop.last %}
                            <br><br><br>
                            {% if Contract.shipment.flexitank == 0 %}
                            ( TOTAL {{ total_package|upper }} )
                            {% else %}
                                ( TOTAL {{ flx }} {{ total_package|upper }} )
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="nbb nbt t-center">
                    {{ product.product.name }}<br>
                        HS Code : {{ product.product.hs_code }}

                        {% if item.products|length > 1 %}
                            <br>
                            TOTAL : {{ product.total_packages }}
                            <br>
                        {% endif %}

                        {% if product.product.extra1 != "" %}
                            <br>( {{ product.product.extra1|upper }})
                        {% endif %}
                    
                    {# {% if product.comm_invoice_name != false %}
                             {{ product.comm_invoice_name }}
                        {% else %}
                        {{ product.product.name }}<br>
                        HS Code : {{ product.product.hs_code }}
                        {% if product.product.extra1 != "" %}
                            <br>( {{ product.product.extra1|upper }})
                        {% endif %}
                    {% endif %} #}
                    </td>
                    <td class="nbb nbt t-center">{{ product.total_nw|number_format(3,'.') }}</td>
                    <td class="nbb nbt t-center">{{ product.total_gw|number_format(3,'.') }}</td>
                    <td class="nbb nbt t-center">{{ product.total_nw|number_format(3,'.') }}</td>
                    {% set total_amount = total_amount + product.total_amount %}
                    {% set total_gw = total_gw + product.total_gw %}
                    {% set total_nw = total_nw + product.total_nw %}
                </tr>

                <tr>
                    {#<td class="nbb nbt"><br></td>#}
                    <td class="nbb nbt">&nbsp;</td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                </tr>

            {% endfor %}
        {% endfor %}

        <!-- Magic Row - It auto heights gap in billing area -->

        <tr><!--<td class="nbb nbt" style="height:auto !important;"><br></td>--><td class="nbb nbt" style="height:100% !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td></tr>
        <tr>
            <td rowspan="2" colspan="4" style="padding: 0" >
                <table>
                    <colgroup>
                        <col style="width:6%">
                        <col style="width:23.3%">
                        <col style="width:15%">
                        <col style="width:25%">
                        <col style="width:16.7%">
                        <col style="width:13.3%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Container No.</th>
                            <th>{% if Contract.shipment.flexitank == 1 %}Flexi tank no.{% else %}No. of packages{% endif %}</th>
                            <th>Line Seal No.</th>
                            <th>Gross Weight</th>
                            <th>Net Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% set total1 = 0 %}
                        {% set total2 = 0 %}
                        {% set total3 = 0 %}
                        {% for key, item in Containers.twentyGw %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ Containers.twentyContainer[key] }}</td>
                            <td>{{ Containers.twentyPkg[key] }}</td>
                            <td>{{ Containers.twentyLineSeal[key] }}</td>
                            <td>{{ Containers.twentyGw[key] }}</td>
                            <td>{{ Containers.twentyNw[key] }}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.twentyPkg[key] %}
                        {% set total2 = total2 + Containers.twentyGw[key] %}
                        {% set total3 = total3 + Containers.twentyNw[key] %}
                        {% endfor %}
                        {% for key, item in Containers.fortyGw %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ Containers.fortyContainer[key] }}</
                            <td>{{ Containers.fortyPkg[key] }}</td>
                            <td>{{ Containers.fortyLineSeal[key] }}</td>
                            <td>{{ Containers.fortyGw[key] }}</td>
                            <td>{{ Containers.fortyNw[key] }}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.fortyPkg[key] %}
                        {% set total2 = total2 + Containers.fortyGw[key] %}
                        {% set total3 = total3 + Containers.fortyNw[key] %}
                        {% endfor %}


                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="t-center">{% if Contract.shipment.flexitank != 1 %}TOTAL PACKAGES{% endif %}</td>
                            <td>{% if Contract.shipment.flexitank != 1 %}{{ total_package|upper }}{% endif %}</td>
                            <td style="font-size: 10px;">TOTAL WEIGHT IN KGS.</td>
                            <td>{{ total2 }}</td>
                            <td>{{ total3 }}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
            <td style="height: 100% !important" class="nbt" ></td>
            <td style="height: 100% !important" class="nbt" >

            </td>
        </tr>
        <tr>
            <td class="t-center">{{ total_gw|number_format(3,'.') }}</td>
            <td class="t-center">{{ total_nw|number_format(3,'.') }}</td>
        </tr>
        <tr>

            <td rowspan=2 colspan="3" class="t-center" style="font-weight:normal"></td>


        </tr>


        <!-- Tenth Group -->
        <tr>
            <td colspan="3" class="t-center nbb"><u>GIRNAR INDUSTRIES</u></td>
        </tr>
        <tr>
            <td colspan="3" class="t-center">
                {{Contract.shipment.drawn_under}}
            </td>
            <td colspan="3" rowspan="2" class="t-center nbt">
                <div style="height: 60px;"></div>
                Authorised Signatory
            </td>
        </tr>

        <tr>
            <td colspan="3">
                DECLARATION: <span style="font-weight: normal;">We declare that this invoice shows the actual price of the goods described and
                    that all the particulars are true &amp; correct.</span>
            </td>
        </tr>

        <!-- Footer Group -->
        {#<tr>#}
            {#<td class="t-center" style="font-weight:normal;vertical-align:middle">#}
                {#Please read and verify this proforma invoice and send us back with your duly signed &amp; stamped.#}
            {#</td>#}
            {#<td colspan="2" class="t-center">#}
                {#<u>{{ Contract.importer.name|upper }}</u>#}
                {#<br><br><br><br><br><br>#}
                {#Authorised Signatory#}
            {#</td>#}
            {#<td colspan="3" class="t-center">#}
                {#<u>GIRNAR INDUSTRIES</u><br>#}
                {#<img src="{{ asset('images/signature.jpg') }}" height="80px"><br>#}
                {#Authorised Signatory#}
            {#</td>#}
        {#</tr>#}
        <tr>
            <td colspan="6" class="t-center">{{ Company.website }}</td>
        </tr>
    </table>
</div>
