<div class="panel tab active" id="basicTab">
    <form action="{{ url('contract/edit/' ~ Contract.Id) }}" method='post'>
        <input type="hidden" name="shipment_id" value="{{ Contract.shipment.Id }}">
        <div class="row">
            <div class="col-6">
                <div class="form">
                    <div class="form-group">
                        <label>Contract No.</label>
                        <input type="text" name="contract_no" value="{{ Contract.contract_no }}">
                    </div>

                    <div class="form-group">
                        <label>Contract Date</label>
                        <input type="text" class="datepick" name="contract_date" value="{{ Contract.contract_date|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label>Surveyor Company</label>
                        <select name="surveyor_id" data-add-url="{{ url('quick/add/surveyor') }}">
                            <option value=""></option>
                            {% for item in Surveyors %}
                                {% if item.Id == Contract.surveyor_id %}
                                    <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.Id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Purchase Order No.</label>
                        <input type="text" name="purchase_order_no" value="{{ Contract.purchase_order_no }}">
                    </div>

                    <hr>

                    <div class="form-group">
                        <label>Buyer</label>
                        <select name="importer_id" id="importer_select" data-add-url="{{ url('quick/add/importer') }}" data-buyer="true">
                            <option value=""></option>
                            {% for item in Importers %}
                                {% if item.Id == Contract.importer_id %}
                                    <option value="{{ item.Id }}" data-address="{{ item.address }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.Id }}" data-address="{{ item.address }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Buyer's Address</label>
                        <textarea name="importer_address" id="importer_address">{{ Contract.importer_address }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="">Notifier Party</label>
                        <textarea name="notifier_party" id="notifier_party">{{ Contract.notifier_party }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="">Consignee Party</label>
                        <textarea name="consignee_party" id="consignee_party">{{ Contract.consignee_party }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form">
                    <div class="form-group">
                        <label>Loading Port</label>
                        <select name="port_loading" id="" data-add-url="{{ url('quick/add/port') }}">
                            <option value=""></option>
                            {% for item in Ports %}
                                {% if item.Id == Contract.port_loading %}
                                    <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.Id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="row mt20">
                            <div class="col-6 text-center"><label>Discharge Port</label></div>
                            <div class="col-6 text-center"><label>Final Destination</label></div>
                        </div>
                        <div class="row mt5">
                            <div class="col-6">
                                <select name="port_discharge" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in DischargePorts %}
                                        {% if item.name == Contract.port_discharge %}
                                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                        {% else %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="final_destination" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in FinalDestinations %}
                                        {% if item.name == Contract.final_destination %}
                                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                        {% else %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt5">
                            <div class="col-6">
                                <select name="port_discharge2" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in DischargePorts %}
                                        {% if item.name == Contract.port_discharge2 %}
                                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                        {% else %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="final_destination2" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in FinalDestinations %}
                                        {% if item.name == Contract.final_destination2 %}
                                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                        {% else %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt5">
                            <div class="col-6">
                                <select name="port_discharge3" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in DischargePorts %}
                                        {% if item.name == Contract.port_discharge3 %}
                                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                        {% else %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="final_destination3" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in FinalDestinations %}
                                        {% if item.name == Contract.final_destination3 %}
                                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                        {% else %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label>Destination Country</label>
                        <select name="final_destination_country" id="" data-add-url="{{ url('quick/add/country') }}">
                            <option value=""></option>
                            {% for item in Countries %}
                                {% if item.Id == Contract.final_destination_country %}
                                    <option value="{{ item.Id }}" selected="selected">{{ item.name|upper }}</option>
                                {% else %}
                                    <option value="{{ item.Id }}">{{ item.name|upper }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Delivery Terms</label>
                        <select name="delivery_terms" data-add-url="{{ url('quick/add/deliveryterm') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DeliveryTerms %}
                                {% if item.name == Contract.delivery_terms %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="">Payment Terms</label>
                        <select name="payment_terms" data-add-url="{{ url('quick/add/paymentterm') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in PaymentTerms %}
                                {% if item.name == Contract.payment_terms %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <style>
                        .dollor_exchange_rate_wrap .selectWrap button {
                            width: 140px;
                        }
                    </style>
                    <div class="form-group dollor_exchange_rate_wrap">
                        <label for="">Dollor Exchange Rate</label>
                        <input type="number" step="any" name="dollor_exchange_rate" value="{{ Contract.dollor_exchange_rate }}">
                        <select name="currency" style="width:50px">
                            <option value="usd" {% if Contract.currency == 'usd' %} selected="selected" {% endif %}>USD</option>
                            <option value="euro" {% if Contract.currency == 'euro' %} selected="selected" {% endif %}>EURO</option>
                            <option value="inr" {% if Contract.currency == 'inr' %} selected="selected" {% endif %}>INR</option>
                        </select>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="form-group mt20 mb20 ml20">
            <label></label>
            <button type="submit" class="btn"><i class="ti-plus"></i> Update Contract</button>
        </div>
    </form>
</div>