<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">
<style>
    .table1, .table1 tr td, .table1 tr th {
        border-width: 0 !important;
    }
    .table2, .table2 tr td, .table2 tr th {
        border-width: 1px !important;
    }
    .table1 tr td {
        font-weight: normal;
    }
</style>

<div class="a4">
    <table contenteditable="true" class="table1">
        <colgroup>
            <col style="width:3%;">
            <col style="width:47%">
            <col style="width:3%">
            <col style="width:47%">
        </colgroup>

        <tr>
            <td colspan="4" class="t-center">
                <h3>ANNEXURE C-1</h3>
                <h3>OFFICE OF THE SUPERINTENDENT OF CENTRAL EXCISE</h3>
                <h3 style="font-weight: normal;text-decoration: underline;">RANGE: JUNAGADH &nbsp;&nbsp; DIVISION: JUNAGADH &nbsp;&nbsp;  COMMISSINONERATE: BHAVNAGAR</h3>
                <h3 style="font-weight:normal;" class="t-center">
                    C.NO.
                    <span style="display: inline-block;width:120px"></span>
                    DATE:
                    <span style="display: inline-block;width:120px"></span>
                    SHIPPING BILL NO.
                    <span style="display: inline-block;width:120px"></span>
                    DATE:
                </h3>
                <h3 style="font-weight: normal;font-style:italic;">EXAMINATION REPORT FOR FACTORY SEALED PACKAGES/CONTAINERS</h3>
                <br>
            </td>
        </tr>
        <tr>
            <td>1.</td>
            <td>NAME OF EXPORTERS</td>
            <td>:</td>
            <td>{{ Company.name|upper }}</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>A).IEC NO.<br>
                B).BRANCH CODE<br>
                C).BIN (PAN BASED BUSINESS IDENTIFICATION)
            </td>
            <td>:<br>:<br>:</td>
            <td>
                2412004315<br>
                0<br>
                AAIFG8649KFT001
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td>NAME OF THE MANUFACTURER(IF DIFFERENT FROM THE EXPORTERS)</td>
            <td>:</td>
            <td>
                {{ Company.name|upper }}<br>
                {{ Company.address_short|upper|nl2br }}
            </td>
        </tr>
        <tr>
            <td>4.</td>
            <td>FACTORY NAME & ADDRESS</td>
            <td>:</td>
            <td>
                {{ Company.name|upper }}<br>
                {{ Company.address_short|upper|nl2br }}
            </td>
        </tr>
        <tr>
            <td>5.</td>
            <td>DATE OF EXAMINATION</td>
            <td>:</td>
            <td>{{ Info.examination_date|date('d-M-Y')|upper }}</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>NAME & DESIGNATION OF THE EXAMINIG OFFICERS<br>INSPECTOR/EO/PO</td>
            <td>:</td>
            <td>{{ Info.examining_officer }} (INSPECTOR)</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>NAME OF SUPERVISION OFFICERS SUPERINTENDENT</td>
            <td>:</td>
            <td>{{ Info.supervision_officer }} (SUPERINTENDENT)</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>A. NAME OF COMMISSIONERS/DIVISION OFFICER RANGE<br>
                B. LOCATION CODE
            </td>
            <td>:<br>:</td>
            <td>BHAVNAGAR, JUNAGADH,JUNAGADH<br>770301</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>ARE 1 NO. AND DATE</td>
            <td>:</td>
            <td>
                {% if Info.are_no == "" %}
                    NO
                {% else %}
                    {{ Info.are_no }}
                    {% if Info.are_date != "" %}
                        DT. {{ Info.are_date|date('d-m-Y') }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>10.</td>
            <td>PARTICULARS OF EXPORT INVOICE<br>A. EXPORT INVOICE NO.<br>B. TOTAL NO. OF PACKAGES<br>C. NAME AND ADDRESS OF THE BUYER ABROAD</td>
            <td>:<br>:<br>:<br>:</td>
            <td>
                <br>
                GI/EXP/PO{{ Contract.shipment.invoice_no }}/{{ Contract.shipment.export_invoice_date | year_boundry }}
                <br>
                {% set totalPkg = 0 %}
                {% for key, item in Containers.twentyGw %}
                    {% set totalPkg = totalPkg + Containers.twentyPkg[key] %}
                {% endfor %}
                {% for key, item in Containers.fortyGw %}
                    {% set totalPkg = totalPkg + Containers.fortyPkg[key] %}
                {% endfor %}
                {% if Contract.shipment.flexitank == 1 %}{{ total_containers }} FLEXI TANKS{% else %}{{ total_package|upper }}{% endif %}
                <br>
                {{ Contract.importer.name|upper }}<br>
                <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_buyer_address|nl2br }}</span>
            </td>
        </tr>
        <tr>
            <td>11.</td>
            <td>A.IS THE DESCRIPTION OF THE GOODS,<br>THE QUANTITY AND THEIR VALUE AS PER <br>PARTICULARS FURNISHED IN THE EXPORT INVOICE<br>B. WHETHER SAMPLE IS DRAWN OR BEING FORWARDED TO PORT OF EXPORT<br>C. IF YES, THE NUMBER OF THE SEAL OF<br>THE PACKEGE CONTANING THE SAMPLE</td>
            <td>:<br>:<br>:</td>
            <td>YES<br>NO<br>N.A</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>CENTRAL EXCISES SEAL NOS.<br>A.FOR NO-CONTAINERIZED CARGO<br>(i)SEAL NOS.<br>(ii)NO OF PACKAGES<br>B. FOR CONTAINERISED CARGO<br>C. DRAWBACK</td>
            <td>:<br><br>:<br>:<br>:<br>:</td>
            <td><br><br>NO<br>NO<br>AS BELOW<br>DRAWBACK</td>
        </tr>

        <tr>
            <td colspan="4" style="padding: 0;">
                <table class="table2">
                    <tr>
                        <th>SR. NO</th>
                        <th>CONTAINER NO.</th>
                        <th>SIZE</th>
                        <th>C. EXCISE SEAL NO.</th>
                        <th>LINE SEAL NO.</th>
                        <th style="display:none" class="productColumn">PRODUCT</th>
                        <th>{% if Contract.shipment.flexitank == 1 %}FLEXI TANK NO{% else %}NO. OF<br>PKGS{% endif %}</th>
                        <th>GROSS WEIGHT<br>(KGS)</th>
                        <th>NET WEIGHT<br>(KGS)</th>
                    </tr>

                    {% set i = 1 %}
                    {% set total1 = 0 %}
                    {% set total2 = 0 %}
                    {% set total3 = 0 %}
                    {% set productColumn = 0 %}
                    
                    {% for key, item in Containers.twentyGw %}
                        {% if containers[key+1]['pn']|length > 1 %}
                            
                            {% set displayed_once = 0 %}
                            
                            {% for subproduct_key, subproduct in containers[key+1]['pn'] %}
                                
                                {% if containers[key+1]['np'][subproduct_key] =="" and  containers[key+1]['gw'][subproduct_key] =="" and containers[key+1]['nw'][subproduct_key] =="" %}

                                {% else %}
                                    {% if displayed_once == 0 %}
                                        <tr>
                                            <td class="t-center">{{ i }}</td>
                                            <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                            <td class="t-center">20 FEET</td>
                                            <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                                            <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                            <td class="t-center productColumn" style="">{{ containers[key+1]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['nw'][subproduct_key] }}</td>
                                        </tr>
                                        {% set displayed_once = 1 %}
                                    {% else %}
                                        <tr>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center productColumn" style="">{{ containers[key+1]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['nw'][subproduct_key] }}</td>
                                        </tr>
                                        {% set displayed_once = 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% set productColumn = 1 %}

                        {% else %}
                            {% if Containers.twentyPkg[key] =="" and Containers.twentyGw[key] =="" and Containers.twentyNw[key] =="" %}
                            
                            {% else %}
                            <tr>
                                <td class="t-center">{{ i }}</td>
                                <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                <td class="t-center">20 FEET</td>
                                <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                                <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                <td class="t-center productColumn" style=""></td>
                                <td class="t-center">{{ Containers.twentyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.twentyGw[key] }}</td>
                                <td class="t-center">{{ Containers.twentyNw[key] }}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.twentyPkg[key] %}
                        {% set total2 = total2 + Containers.twentyGw[key] %}
                        {% set total3 = total3 + Containers.twentyNw[key] %}
                    {% endfor %}
                    
                    {% for key, item in Containers.fortyGw %}
                        {% if containers[i]['pn']|length > 1 %}
                            {% set displayed_two = 0 %}
                            {% for subproduct_key, subproduct in containers[i]['pn'] %}
                                {% if containers[i]['np'][subproduct_key] =="" and containers[i]['gw'][subproduct_key] =="" and containers[i]['nw'][subproduct_key] =="" %}

                                {% else %}
                                    {% if displayed_two == 0 %}
                                        <tr>
                                            <td class="t-center">{{ i }}</td>
                                            <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                            <td class="t-center">40 FEET</td>
                                            <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                                            <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                            <td class="t-center productColumn">{{ containers[i]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['nw'][subproduct_key] }}</td>
                                        </tr>
                                    {% set displayed_two = 1 %}
                                    {% else %}
                                        <tr>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center productColumn">{{ containers[i]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['nw'][subproduct_key] }}</td>
                                        </tr>
                                        {% set displayed_two = 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% set productColumn = 1 %}
                        {% else %}
                            {% if Containers.fortyPkg[key] =="" and Containers.fortyGw[key] =="" and Containers.fortyNw[key] =="" %}

                            {% else %}
                            <tr>
                                <td class="t-center">{{ i }}</td>
                                <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                <td class="t-center">40 FEET</td>
                                <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.fortyGw[key] }}</td>
                                <td class="t-center">{{ Containers.fortyNw[key] }}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.fortyPkg[key] %}
                        {% set total2 = total2 + Containers.fortyGw[key] %}
                        {% set total3 = total3 + Containers.fortyNw[key] %}
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style=""></td>
                        <td class="t-center">{% if Contract.shipment.flexitank != 1 %}TOTAL{% endif %}</td>
                        <td class="t-center">{% if Contract.shipment.flexitank == 1 %}TOTAL{% else %}{{ total_package|upper }}{% endif %}</td>
                        <td class="t-center">{{ total2 }}</td>
                        <td class="t-center">{{ total3 }}</td>
                    </tr>
                    
                    {# <!-- {% set i = 1 %}
                    {% set total1 = 0 %}
                    {% set total2 = 0 %}
                    {% set total3 = 0 %}
                    {% set productColumn = 0 %}
                    {% for key, item in Containers.twentyGw %}
                        {% if containers[key+1]['pn']|length > 1 %}
                            {% for subproduct_key, subproduct in containers[key+1]['pn'] %}
                                {% if loop.first %}
                                    <tr>
                                        <td class="t-center">{{ i }}</td>
                                        <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                        <td class="t-center">20 FEET</td>
                                        <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                                        <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                        <td class="t-center productColumn" style="display:none">{{ containers[key+1]['pn'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[key+1]['np'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[key+1]['gw'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[key+1]['nw'][subproduct_key] }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center productColumn" style="display:none">{{ containers[key+1]['pn'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[key+1]['np'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[key+1]['gw'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[key+1]['nw'][subproduct_key] }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            {% set productColumn = 1 %}
                        {% else %}
                            <tr>
                                <td class="t-center">{{ i }}</td>
                                <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                <td class="t-center">20 FEET</td>
                                <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                                <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                <td class="t-center productColumn" style="display: none"></td>
                                <td class="t-center">{{ Containers.twentyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.twentyGw[key] }}</td>
                                <td class="t-center">{{ Containers.twentyNw[key] }}</td>
                            </tr>
                        {% endif %}

                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.twentyPkg[key] %}
                        {% set total2 = total2 + Containers.twentyGw[key] %}
                        {% set total3 = total3 + Containers.twentyNw[key] %}
                    {% endfor %}
                    {% for key, item in Containers.fortyGw %}
                        {% if containers[i]['pn']|length > 1 %}
                            {% for subproduct_key, subproduct in containers[i]['pn'] %}
                                {% if loop.first %}
                                    <tr>
                                        <td class="t-center">{{ i }}</td>
                                        <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                        <td class="t-center">40 FEET</td>
                                        <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                                        <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                        <td class="t-center productColumn" style="display:none">{{ containers[i]['pn'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[i]['np'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[i]['gw'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[i]['nw'][subproduct_key] }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center"></td>
                                        <td class="t-center productColumn" style="display:none">{{ containers[i]['pn'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[i]['np'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[i]['gw'][subproduct_key] }}</td>
                                        <td class="t-center">{{ containers[i]['nw'][subproduct_key] }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            {% set productColumn = 1 %}
                        {% else %}
                            <tr>
                                <td class="t-center">{{ i }}</td>
                                <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                <td class="t-center">40 FEET</td>
                                <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.fortyGw[key] }}</td>
                                <td class="t-center">{{ Containers.fortyNw[key] }}</td>
                            </tr>
                        {% endif %}
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.fortyPkg[key] %}
                        {% set total2 = total2 + Containers.fortyGw[key] %}
                        {% set total3 = total3 + Containers.fortyNw[key] %}
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style="display:none"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style="display:none"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style="display:none"></td>
                        <td class="t-center">{% if Contract.shipment.flexitank != 1 %}TOTAL{% endif %}</td>
                        <td class="t-center">{% if Contract.shipment.flexitank == 1 %}TOTAL{% else %}{{ total_package|upper }}{% endif %}</td>
                        <td class="t-center">{{ total2 }}</td>
                        <td class="t-center">{{ total3 }}</td>
                    </tr> --> #}
                </table>
            </td>
        </tr>

        <tr>
            <td>13.</td>
            <td colspan="3">FILE NO. OF ORDER : {{ Info.file_no }}</td>
        </tr>

        <tr>
            <td>14.</td>
            <td colspan="3">MANUFACTURE HAS AVAILED BENEFIT UNDER MODVAT/CENVAT SCHEME : NO</td>
        </tr>

        <tr>
            <td>15.</td>
            <td colspan="3">STUFFING &amp; SEALING OF THE CONTAINER HAVE BEEN DONE UNDER MY DIRECT SUPERVISION. CERTIFIED THAT INSPECTED THE LOT, CHECKED THE MARKS AND NUMBERS &amp; EXMINED {{ Info.examined|upper }}.</td>
        </tr>

        <tr>
            <td colspan="4" class="nbb">
                <br><br>
                <div class="t-center" style="display:inline-block;width:30%;vertical-align: top;">
                    <b>SIGNATURE OF EXPORTER<br>
                    FOR GIRNAR INDUSTRIES</b>
                    <br><br><br><br>
                    Authorized Signatory
                </div>
                <div class="t-center" style="display:inline-block;width:30%">
                    <b>SIGNATURE OF INSPECTOR</b>
                    <br><br><br><br>
                    ({{ Info.examining_officer }})
                    <br>
                    INSPECTOR
                    <br>
                    CENTRAL EXCISE<br>
                    AR JUNAGADH
                </div>
                <div class="t-center" style="display:inline-block;width:30%">
                    <b>SIGNATURE OF SUPRITENDENT</b>
                    <br><br><br><br>
                    ({{ Info.supervision_officer }})
                    <br>
                    SUPERINTENDENT
                    <br>
                    CENTRAL EXCISE<br>
                    AR JUNAGADH
                </div>
            </td>
        </tr>

        <!-- Magic Row - It auto heights gap in billing area -->
        <tr><td class="nbb nbt nbr" style="height:auto !important;"><br></td><td class="nbb nbt nbl nbr" style="height:auto !important;"></td><td class="nbb nbt nbl" style="height:auto !important;"></td></tr>
    </table>
</div>

{% if productColumn == 1 %}
    <style>
        .productColumn {
            display: table-cell !important;
            font-size: 9px;
        }
    </style>
{% endif %}
