<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<div class="a4">
    <table contenteditable="true">
        <colgroup>
            <col style="width:22%">
            <col style="width:22%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%">
        </colgroup>

        <!-- Header Group -->
        <tr>
            <td colspan="6">
                <img src="{{ asset('images/invoice_cum_packing.jpg') }}" width="100%">
            </td>
        </tr>

        <!-- First Group -->
        <tr>
            <td rowspan="3" colspan="2">
                <div class="title">Manufacturer/ Exporter/Shipper/Beneficiary</div>
                {{ Company.name }}<br>
                {{ Company.address|nl2br }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice No.</div>
                GI/EXP/PO{{ Contract.shipments[0].invoice_no }}/{{ Contract.shipments[0].export_invoice_date | year_boundry }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice Date</div>
                {#{{ now|date('d-M-Y') }}#}
                {# {{ Contract.contract_date|date('d-M-Y') }} #}
                {{ Contract.shipments[0].export_invoice_date|date('d-M-Y') }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="title t-center">L/C No. L/C Date</div><br>
            </td>
            <td rowspan="2">
                <div class="title t-center">Shipping Bill No.</div>
            </td>
            <td rowspan="2">
                <div class="title t-center">Date</div><br>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="title t-center">B/L No. B/L Date</div><br></td>
        </tr>


        <!-- Second Group -->
        <tr>
            <td colspan="2">
                <div class="title">Buyer/Importer/Applicant</div>
                {{ Contract.importer.name|upper }}<br>
                <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_buyer_address|nl2br }}</span>
            </td>
            <td colspan="4">
                <div class="title">Notify Party (If any)</div>
                {#{{ Contract.importer.name|upper }}<br>#}
                <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_notifier_address|nl2br }}</span>
            </td>
        </tr>

        <!-- Third Group -->
        <tr>
            <td colspan="2">
                <div class="title">Consignee</div>
                {#{{ Contract.importer.name|upper }}<br>#}
                {# <span style='text-transform:uppercase'>{{ Contract.consignee_party|nl2br }}</span> #}
                TO ORDER
            </td>
            <td colspan="4">
                <div class="title">Beneficiary's Bank Details</div>
                {{ Company.bank_name }}<br>
                <div style="margin-left:5px;font-weight: normal;">{{ Company.bank_address|nl2br }}</div>
            </td>
        </tr>

        <!-- Forth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Pre-Carriage by</div>
                &nbsp;
            </td>
            <td class="t-center">
                <div class="title t-center">Place of Receipt by Pre-Carrier</div>
                &nbsp;
            </td>
            <td colspan="2" class="t-center">
                <span class="title">IEC NO.</span>{{ Company.iec_no }}<br>
                <span class="title">LUT NO.</span><span style="text-transform: uppercase;">{{ Company.lut_no }}</span><br>
                <span class="title">GST NO.</span>{{ Company.gst_no }}
            </td>
            <td colspan="2" class="t-center">
                {% if Contract.purchase_order_no == "" %}
                    <div class="title t-center">PI NO.</div>
                    {{ Contract.contract_no }}
                {% else %}
                    <div class="title t-center">PO NO.</div>
                    GI/EXP/PI/{{ Contract.purchase_order_no }}/{{ Contract.contract_date | year_boundry }}
                {% endif %}

                <!-- {# <div class="title t-center">PI NO.</div> -->
                    <!-- GI/EXP/PI/{{ Contract.contract_no }}/{{ Contract.contract_date | year_boundry }} #} -->
            </td>
        </tr>

        <!-- Fifth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Vessel/ Voy. No./Flight No.</div>
            </td>
            <td class="t-center">
                <div class="title">Port of Loading</div>
                {{ Contract.port.name|upper }} PORT, INDIA
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Origin of Goods </div>
                INDIA
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Final Destination</div>
                {{ Contract.country.name|upper }}
            </td>
        </tr>

        <!-- Sixth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Port of Discharge </div>
                {{ Contract.port_discharge|upper }}, {{ Contract.country.name|upper }}
                {% if Contract.port_discharge2 != "" %}
                    <br>
                    {{ Contract.port_discharge2|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
                {% if Contract.port_discharge3 != "" %}
                    <br>
                    {{ Contract.port_discharge3|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
            </td>
            <td class="t-center">
                <div class="title t-center">Final Destination</div>
                {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                <!-- {% if Contract.final_destination2 != "" %}
                    <br>
                    {{ Contract.final_destination2|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
                {% if Contract.final_destination3 != "" %}
                    <br>
                    {{ Contract.final_destination3|upper }}, {{ Contract.country.name|upper }}
                {% endif %} -->
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Delivery</div>
                {{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Payment</div>
                {{ Contract.payment_terms|upper }}
            </td>
        </tr>

        <!-- Seventh Group (Bill Header) -->
        <tr>
            <td>
                <div class="title t-center">Marks &amp; Nos./<br>Container No.</div>
            </td>
            <td>
                <div class="title t-center">No. &amp; Kind of packages</div>
            </td>
            <td>
                <div class="title t-center">Description of Goods</div>
            </td>
            <td>
                <div class="title t-center">Quantity<br>MT</div>
            </td>
            <td>
                <div class="title t-center">Rate<br>{{ Contract.currency | upper }}/MT</div>
            </td>
            <td>
                <div class="title t-center">Amount<br>{{ Contract.currency | upper }}</div>
            </td>
        </tr>

        <!-- Eighth Group (Product Data) -->
        {% set total_amount = 0 %}
        {% set total_final = 0 %}
        <!-- {% set total_qty = 0 %} -->
        <!-- {% set total_qty_ans = 0 %} -->
        <!-- {% set flx = 0 %} -->
        {% for item in Contract.shipments %}
            {% for index,product in item.products %}
                <tr>
                    {% if loop.first %}
                        <td class="nbb nbt" rowspan="{{ (item.products|length*2)+1 }}">
                            {{ marks_data|raw }}
                        </td>
                    {% else %}

                    {% endif %}

                    <td class="nbb nbt t-center">
                        {% if loop.first %}
                            {% set container_exists = false %}
                            {% if item.container_size[0] > 0 %}
                                <!-- {% set flx = flx + item.container_size[0] %} -->
                                {{ item.container_size[0] }} X 20' FCL
                                {% set container_exists = true %}
                            {% endif %}
                            {% if item.container_size[1] > 0 %}
                                {% if container_exists %}
                                    ,
                                {% endif %}
                                <!-- {% set flx = flx + item.container_size[1] %} -->
                                {{ item.container_size[1] }} X 40' FCL
                            {% endif %}
                            CONTAINER<br>
                        {% endif %}

                        {{ product.package_type|upper }}

                        {% if loop.last %}
                            <br><br><br>
                            ( TOTAL {{ total_package|upper }} )
                        {% endif %}
                    </td>
                    
                    <td class="nbb nbt t-center">
                        {{ product.product.name }}<br>
                        HS Code : {{ product.product.hs_code }}

                        {% if item.products|length > 1 %}
                            <br>
                            TOTAL : {{ product.total_packages }}
                            <br>
                        {% endif %}

                        {% if product.product.extra1 != "" %}
                            <br>( {{ product.product.extra1|upper }})
                        {% endif %}
                    </td>
                    
                    {% set product_name = product.product.name %}
                    {% set total_qty = 0 %}
                    {% set totaltw = 0 %}
                    {% set totalft = 0 %}
                    
                    {% if Contract.shipment.container_size[0] is not empty and Contract.shipment.container_size[0] != 0  %}
                    {% for i in 1..Contract.shipment.container_size[0] %}
                        {% for index, product in Contract.shipment.products %}
                            {% if product_name == product.product.name %}
                            
                            {% set totaltw = totaltw + (json_decode(Contract.shipment.containers_detail2)[i].nw[index]) %}
                            {% else %}
                            
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                    
                    {% if Contract.shipment.container_size[1] is not empty and Contract.shipment.container_size[1] != 0 %}
                    {% for i in (Contract.shipment.container_size[0]+1)..(Contract.shipment.container_size[0]+Contract.shipment.container_size[1]) %}
                        {% for index, product in Contract.shipment.products %}
                            {% if product_name == product.product.name %}
                            
                            {% set totalft = totalft + (json_decode(Contract.shipment.containers_detail2)[i].nw[index]) %}
                            {% else %}
                            
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                   
                    <!-- {% set total_qty_ans = total_qty + product.quantity %} -->
                    <!-- {% set qty_mt = net_weight/total_qty_ans %} -->
                    {% set total_qty = totaltw + totalft %}
                    <!-- {% set qty_mt_ans = net_weight/1000 %} -->
                    <!-- {% set qty_mt = net_weight/product.quantity %} -->
                    {% set qty_mt = total_qty / 1000 %}
                    <!-- {% set qty_mt = product.quantity %} -->
                    <!-- <td class="nbb nbt t-center">{{ qty_mt|number_format(3,'.') }}</td> -->
                    <td class="nbb nbt t-center">{{ product.total_nw|number_format(3,'.') }}</td>
                    <!-- <td class="nbb nbt t-center">{{ qty_mt_ans|number_format(3,'.') }}</td> -->
                    <!-- <td class="nbb nbt t-center">{{ product.quantity|number_format(3,'.') }}</td> -->
                    <td class="nbb nbt t-right">{{ Contract.currency | currency_symbol }} {{ product.rate|number_format(2,'.') }}</td>
                    
                    <td class="nbb nbt t-right">{{ Contract.currency | currency_symbol }} {{ (qty_mt * product.rate)|number_format(2,'.') }}</td>
                    {% set total_final = total_final + qty_mt * product.rate %}
                    {% set total_amount = total_amount + product.total_amount %}
                </tr>
                <tr>
                    {#<td class="nbb nbt"><br></td>#}
                    <td class="nbb nbt">&nbsp;</td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                </tr>
            {% endfor %}
        {% endfor %}

        <tr>
            <td class="nbb nbt">&nbsp;</td>
            <td class="nbb nbt"></td>
            <td class="nbb nbt"></td>
            <td class="nbb nbt">
                {% if Contract.shipments[0].comm_freight > 0 %}
                    <span style="text-align:center;display:block;border-top:1px solid #000;border-bottom:1px solid #000;">FREIGHT</span>
                {% endif %}

                {% if Contract.shipments[0].extra_charge > 0 %}
                    <span style="text-align:center;display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.shipments[0].extra_charge_name }}</span>
                {% endif %}
            </td>
            <td class="nbb nbt t-right">
                {% if Contract.shipments[0].comm_freight > 0 %}
                    <span style="display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.currency | currency_symbol }} {{ Contract.shipments[0].comm_freight|number_format(2,'.') }}</span>
                {% endif %}

                {% if Contract.shipments[0].extra_charge > 0 %}
                    <span style="display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.currency | currency_symbol }} {{ Contract.shipments[0].extra_charge|number_format(2,'.') }}</span>
                {% endif %}
            </td>
        </tr>
        {% set total_amount = total_amount + Contract.shipments[0].comm_freight + Contract.shipments[0].extra_charge %}

        <!-- Magic Row - It auto heights gap in billing area -->
        <tr><td class="nbb nbt" style="height:auto !important;"><br></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td></tr>

        <!-- Eigth-A Group -->
        <tr>
            <td class="np nbt"></td>
            <td rowspan="2" style="border-width: 0 1px 1px 0"></td>
            <td rowspan="2" style="border-width: 0 1px 1px 0"></td>
            <td rowspan="2" style="border-width: 0 1px 0 0"></td>
            <td rowspan="2" style="border-width: 0 1px 0px 0"></td>
            <td rowspan="2" style="border-width: 0 1px 0px 0"></td>
        </tr>

        <!-- Ninth Group -->
        <tr>
            <td class="nb t-center">
                NET WEIGHT : {{ net_weight }} KGS<br>
                GROSS WEIGHT: {{ gross_weight }} KGS
            </td>
        </tr>

        <tr>
            <td colspan="3" rowspan="2">
                EXPORT UNDER DBK SCHEME<br>
                DBK SR. NO. {{ dbk_sr_no }}<br>
                STAMENET CODE  :DB002 & DBOO3<br>
                "WE HEREBY DECLARE THAT, WE SHALL CLAIM THE BENEFITS, AS.
                ADMISSIBLE UNDER CHAPTER 3 OF FTP."
            </td>
            <td style="border-width: 0 0px 0px 1px">&nbsp;</td>
            <td style="border-width: 0 0px 0px 1px;height: auto !important;"></td>
            <td style="border-width: 0 0px 0px 1px;height: auto !important;"></td>
        </tr>
        <tr>
            <td style="border-width: 0 0px 0px 0"></td>
            <td class="t-center">TOTAL</td>
            <!-- <td class="t-right">{{ Contract.currency | currency_symbol }} {{ total_amount|number_format(2,'.') }}</td> -->
            <td class="t-right">{{ Contract.currency | currency_symbol }} {{ total_final|number_format(2,'.') }}</td>
        </tr>

        <!-- Tenth Group -->
        <tr>
            <td class="t-center">Amount  chargable(  in  words   )</td>
            <td colspan="2" class="t-center" style="font-weight:normal">( {{ Contract.currency | custom_currency }} {{ total_amount | to_word | upper }} ONLY )</td>
            <td colspan="3" rowspan="2" class="t-center">
                <u>GIRNAR INDUSTRIES</u><br>
                {#<img src="{{ asset('images/signature.jpg') }}" height="80px"><br>#} <div style="height: 80px;"></div>
                Authorised Signatory
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <br>
                DECLARATION: <span style="font-weight: normal;">We declare that this invoice shows the actual price of the goods described and
                    that all the particulars are true & correct.</span>
            </td>
        </tr>

        <!-- Footer Group -->
        {#<tr>#}
            {#<td class="t-center" style="font-weight:normal;vertical-align:middle">#}
                {#Please read and verify this proforma invoice and send us back with your duly signed &amp; stamped.#}
            {#</td>#}
            {#<td colspan="2" class="t-center">#}
                {#<u>{{ Contract.importer.name|upper }}</u>#}
                {#<br><br><br><br><br><br>#}
                {#Authorised Signatory#}
            {#</td>#}
            {#<td colspan="3" class="t-center">#}
                {#<u>GIRNAR INDUSTRIES</u><br>#}
                {#<img src="{{ asset('images/signature.jpg') }}" height="80px"><br>#}
                {#Authorised Signatory#}
            {#</td>#}
        {#</tr>#}
        <tr>
            <td colspan="6" class="t-center">{{ Company.website }}</td>
        </tr>
    </table>
</div>
