{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-anchor"></i> Add New Port</div>
    <ul class="toolbar">
        <li><a href="{{ url('ports') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('port') }}" method='post' class="form">
            <div class="form-group">
                <label>Port Name</label>
                <input type="text" name="name">
            </div>

            <div class="form-group">
                <label>Self Sealing Permission No.</label>
                <input type="text" name="permission_no">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Create</button>
            </div>
        </form>

{% endblock %}