<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<div class="a4">
    <table contenteditable="true">
        <colgroup>
            <col style="width:48%">
            <col style="width:4%">
            <col style="width:48%">
        </colgroup>

        <tr>
            <td colspan="3">
                <img src="{{ asset('images/self_sealing.jpg') }}" width="100%">
            </td>
        </tr>
        <tr>
            <td class="nbr">NAME OF EXPORTER</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">{{ Company.name|upper }}</td>
        </tr>
        <tr>
            <td class="nbr">BRANCE CODE</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">0</td>
        </tr>
        <tr>
            <td class="nbr">IEC NO.</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">{{ Company.iec_no }}</td>
        </tr>
        <tr>
            <td class="nbr">GST NO.</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">{{ Company.gst_no }}</td>
        </tr>
        <!-- <tr>
            <td class="nbr">BIN(PAN BASED BUSINESS IDENTIFICATION NO. OF EXPORTER)</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">AAIFG8649KFT001</td>
        </tr> -->
        <tr>
            <td class="nbr">FACTORY NAME & ADDRESS</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">{{ Company.name|upper }}<br>
                {{ Company.address_short|upper|nl2br }}
            </td>
        </tr>
        <tr>
            <td class="nbr">DATE OF EXAMINATON</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">{{ Info.examination_date|date('d-M-Y')|upper }}</td>
        </tr>
        <tr>
            <td class="nbr">NAME OF COMMISSIONERATE/DIVISION/RANGE</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">BHAVANAGAR/JUNAGADH/AR-JUNAGADH</td>
        </tr>
        <tr>
            <td class="nbr">LOCATION CODE</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">77301</td>
        </tr>
        <tr>
            <td class="nbr">ARE 1 NO AND DATE</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">
                {% if Info.are_no == "" %}
                    N.A.
                {% else %}
                    {{ Info.are_no }}
                    {% if Info.are_date != "" %}
                        DT. {{ Info.are_date|date('d-m-Y') }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="nbr"><u>PARTICULARS OF EXPORT INVOICE</u><br>
                EXPORT INVOICE NO. AND DATE<br>
                PACKING<br>
                TOTAL NO. OF PKGS
            </td>
            <td class="nbl nbr t-center">:<br>:<br>:<br>:</td>
            <td class="nbl">
                <br>
                <div>
                    <div class="pull-left">
                        GI/EXP/PO{{ Contract.shipment.invoice_no }}/{{ Contract.shipment.export_invoice_date | year_boundry }}
                    </div>
                    <div class="pull-right">
                        DATE : {{ Info.export_invoice_date|date('d-M-Y')|upper }}
                    </div>
                </div>
                <br>

                IN

                {% set newArray = [] %}
                {% for item in Contract.shipment.products %}

                    {% if item.package_type not in newArray %}
                        {% if loop.first == false %}
                            ,
                        {% endif %}
                        {{ item.package_type|upper }}

                        {% set newArray = newArray|merge([ item.package_type ]) %}
                    {% endif %}

                {% endfor %}

                <br>
                {#
                {% set container_exists = false %}
                {% if Contract.shipment.container_size[0] > 0 %}
                    {{ Contract.shipment.container_size[0] }} X 20' FCL
                    {% set container_exists = true %}
                {% endif %}
                {% if Contract.shipment.container_size[1] > 0 %}
                    {% if container_exists %}
                        ,
                    {% endif %}
                    {{ Contract.shipment.container_size[1] }} X 40' FCL
                {% endif %}
                 CONTAINER
                #}




                 {% set container_exists = false %}
                 {% if Containers.twentyGw|length > 0 %}
                     {{ Containers.twentyGw|length }} X 20' FCL
                     {% set container_exists = true %}
                 {% endif %}
                 {% if Containers.fortyGw|length > 0 %}
                     {% if container_exists %}
                         ,
                     {% endif %}
                     {{ Containers.fortyGw|length }} X 40' FCL
                 {% endif %}
                  CONTAINER
            </td>
        </tr>
        <tr>
            <td class="nbr">NAME AND ADDRESS OF IMPORTER`S</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">
                {{ Contract.importer.name|upper }}<br>
                <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_buyer_address|nl2br }}</span>
            </td>
        </tr>
        <tr>
            <td class="nbr">IS THE DESCRIPTION OF THE GOODS THE QUANTITY &<br>
                THEIR VALUE AS PER THE PARTICULARS FURNISHED<br>
                IN THE EXPORTER INVOICE
            </td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">YES</td>
        </tr>
        <tr>
            <td class="nbr">WHETHER SAMPLE IS DRAWN FOR BEING FORWARDED<br>
                TO PORT OF EXPORT
            </td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">N.A</td>
        </tr>
        <tr>
            <td class="nbr">IF YES,THE NUMBER OF THE SEAL OF THE PACKAGE <br>
                CONTAINING THE SAMPLE.
            </td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">N.A</td>
        </tr>
        <tr>
            <td class="nbr">SELF SEALING & SELF SUPERVISION PERMISSION NO.</td>
            <td class="nbl nbr t-center">:</td>
            <td class="nbl">{{ Contract.port.permission_no }}</td>
        </tr>
        <tr>
            <td class="nbr">DUTY DRAWBACK TO BE CLAIMED AS APPLICABLE <br>
                TARIFF ITEM NO. OF DBK SCHEDULE<br>
                RATE TO BE CLAIMED AS APPLICABLE
            </td>
            <td class="nbl nbr t-center">:<br>:<br>:</td>
            <td class="nbl">{{ Info.dbk_scheme|upper }}<br>
                {# {{ Info.dbk_tariff_item_no|upper }}<br>
                {{ Info.dbk_rate|upper }}% ON FOB #}

                {% set newArray = [] %}
                {% for item in Contract.shipment.products %}
                    
                    {% if item.product.hs_code not in newArray %}
                        {% if loop.first == false %}
                            ,
                        {% endif %}
                        {{ item.product.hs_code|upper }}
                        {% set newArray = newArray|merge([ item.product.hs_code ]) %}
                    {% endif %}
                {% endfor %}

                <br>
                
                {% set newArr = [] %}
                {% for item in Contract.shipment.products %}
                    {% if item.product.fob not in newArr %}
                        {% if loop.first == false %}
                            ,
                        {% endif %}
                        {{ item.product.fob|upper }}% ON FOB
                        {% set newArr = newArr|merge([ item.product.fob ]) %}
                    {% endif %}
                {% endfor %}

                <!-- {{ Info.dbk_rate|upper }}% ON FOB -->
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 0;">
                <table>
                    <tr>
                        <th>SR. NO</th>
                        <th>CONTAINER NO.</th>
                        <th>SIZE</th>
                        <th>SELF SEAL NO.</th>
                        <th>LINE SEAL NO.</th>
                        <th class="productColumn">PRODUCT</th>
                        <th>{% if Contract.shipment.flexitank == 1 %}FLEXI TANK NO{% else %}NO. OF<br>PKGS{% endif %}</th>
                        <th>GROSS WEIGHT<br>(KGS)</th>
                        <th>NET WEIGHT<br>(KGS)</th>
                    </tr>

                    {% set i = 1 %}
                    {% set total1 = 0 %}
                    {% set total2 = 0 %}
                    {% set total3 = 0 %}
                    {% set productColumn = 0 %}
                    
                    {% for key, item in Containers.twentyGw %}
                        {% if containers[key+1]['pn']|length > 1 %}
                            
                            {% set displayed_once = 0 %}
                            
                            {% for subproduct_key, subproduct in containers[key+1]['pn'] %}
                                
                                {% if containers[key+1]['np'][subproduct_key] =="" and  containers[key+1]['gw'][subproduct_key] =="" and containers[key+1]['nw'][subproduct_key] =="" %}

                                {% else %}
                                    {% if displayed_once == 0 %}
                                        <tr>
                                            <td class="t-center">{{ i }}</td>
                                            <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                            <td class="t-center">20 FEET</td>
                                            <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                                            <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                            <td class="t-center productColumn" style="">{{ containers[key+1]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['nw'][subproduct_key] }}</td>
                                        </tr>
                                        {% set displayed_once = 1 %}
                                    {% else %}
                                        <tr>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center productColumn" style="">{{ containers[key+1]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[key+1]['nw'][subproduct_key] }}</td>
                                        </tr>
                                        {% set displayed_once = 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% set productColumn = 1 %}

                        {% else %}
                            {% if Containers.twentyPkg[key] =="" and Containers.twentyGw[key] =="" and Containers.twentyNw[key] =="" %}
                            
                            {% else %}
                            <tr>
                                <td class="t-center">{{ i }}</td>
                                <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                <td class="t-center">20 FEET</td>
                                <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                                <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                <td class="t-center productColumn" style=""></td>
                                <td class="t-center">{{ Containers.twentyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.twentyGw[key] }}</td>
                                <td class="t-center">{{ Containers.twentyNw[key] }}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.twentyPkg[key] %}
                        {% set total2 = total2 + Containers.twentyGw[key] %}
                        {% set total3 = total3 + Containers.twentyNw[key] %}
                    {% endfor %}
                    
                    {% for key, item in Containers.fortyGw %}
                        {% if containers[i]['pn']|length > 1 %}
                            {% set displayed_two = 0 %}
                            {% for subproduct_key, subproduct in containers[i]['pn'] %}
                                {% if containers[i]['np'][subproduct_key] =="" and containers[i]['gw'][subproduct_key] =="" and containers[i]['nw'][subproduct_key] =="" %}

                                {% else %}
                                    {% if displayed_two == 0 %}
                                        <tr>
                                            <td class="t-center">{{ i }}</td>
                                            <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                            <td class="t-center">40 FEET</td>
                                            <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                                            <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                            <td class="t-center productColumn">{{ containers[i]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['nw'][subproduct_key] }}</td>
                                        </tr>
                                    {% set displayed_two = 1 %}
                                    {% else %}
                                        <tr>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center"></td>
                                            <td class="t-center productColumn">{{ containers[i]['pn'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['np'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['gw'][subproduct_key] }}</td>
                                            <td class="t-center">{{ containers[i]['nw'][subproduct_key] }}</td>
                                        </tr>
                                        {% set displayed_two = 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% set productColumn = 1 %}
                        {% else %}
                            {% if Containers.fortyPkg[key] =="" and Containers.fortyGw[key] =="" and Containers.fortyNw[key] =="" %}

                            {% else %}
                            <tr>
                                <td class="t-center">{{ i }}</td>
                                <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                <td class="t-center">40 FEET</td>
                                <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.fortyGw[key] }}</td>
                                <td class="t-center">{{ Containers.fortyNw[key] }}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.fortyPkg[key] %}
                        {% set total2 = total2 + Containers.fortyGw[key] %}
                        {% set total3 = total3 + Containers.fortyNw[key] %}
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="productColumn" style=""></td>
                        <td class="t-center">{% if Contract.shipment.flexitank != 1 %}TOTAL{% endif %}</td>
                        <td class="t-center">{% if Contract.shipment.flexitank == 1 %}TOTAL{% else %}{{ total_package|upper }}{% endif %}</td>
                        <td class="t-center">{{ total2 }}</td>
                        <td class="t-center">{{ total3 }}</td>
                    </tr>

                    {# <!-- {% set i = 1 %}
                    {% set total1 = 0 %}
                    {% set total2 = 0 %}
                    {% set total3 = 0 %}
                    {% for key, item in Containers.twentyGw %}
                        <tr>
                            <td class="t-center">{{ i }}</td>
                            <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                            <td class="t-center">20 FEET</td>
                            <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                            <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                            <td class="t-center">{{ Containers.twentyPkg[key] }}</td>
                            <td class="t-center">{{ Containers.twentyGw[key] }}</td>
                            <td class="t-center">{{ Containers.twentyNw[key] }}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.twentyPkg[key] %}
                        {% set total2 = total2 + Containers.twentyGw[key] %}
                        {% set total3 = total3 + Containers.twentyNw[key] %}
                    {% endfor %}
                    {% for key, item in Containers.fortyGw %}
                        <tr>
                            <td class="t-center">{{ i }}</td>
                            <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                            <td class="t-center">40 FEET</td>
                            <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                            <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                            <td class="t-center">{{ Containers.fortyPkg[key] }}</td>
                            <td class="t-center">{{ Containers.fortyGw[key] }}</td>
                            <td class="t-center">{{ Containers.fortyNw[key] }}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% set total1 = total1 + Containers.fortyPkg[key] %}
                        {% set total2 = total2 + Containers.fortyGw[key] %}
                        {% set total3 = total3 + Containers.fortyNw[key] %}
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="t-center">{% if Contract.shipment.flexitank != 1 %}TOTAL{% endif %}</td>
                        <td class="t-center">{% if Contract.shipment.flexitank == 1 %}TOTAL{% else %}{{ total_package|upper }}{% endif %}</td>
                        <td class="t-center">{{ total2 }}</td>
                        <td class="t-center">{{ total3 }}</td>
                    </tr> -->  #}
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="3" class="nbb">
                <br><br>
                CRETIFY THAT THE DESCRIPTION AND VALUE OF THE GOODS COVERD BY THIS INVOICE HAVE CHECKED BY ME & GOODS HAVE BEEN PACKED AND SEALED WITH ONE TIME LOCKED, SEAL HAVING NUMBER AS STATED ABOVE UNDER MY SUPERVISION.
                <br><br>

                <div class="pull-left">
                    DATE  : {{ Info.export_invoice_date|date('d-M-Y')|upper }}<br>
                    PLACE : JUNAGADH
                </div>
                <div class="pull-right t-center" style="width:200px">
                    FOR GIRNAR INDUSTRIES
                    <br><br><br><br>
                    Authorized Signatory
                </div>
            </td>
        </tr>

        <!-- Magic Row - It auto heights gap in billing area -->
        <tr><td class="nbb nbt nbr" style="height:auto !important;"><br></td><td class="nbb nbt nbl nbr" style="height:auto !important;"></td><td class="nbb nbt nbl" style="height:auto !important;"></td></tr>
    </table>
</div>
