<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.3em;
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }

    .squaredTwo {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: relative;
        border: 1px solid #000;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: -5px;
    }

    .squaredTwo label {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        left: 4px;
        top: 4px;
    }

    .squaredTwo label:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 2px;
        left: 2px;
        border: 3px solid #000;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
    }

    .squaredTwo input[type=checkbox] {
        visibility: hidden;
    }

    .squaredTwo input[type=checkbox]:checked + label:after {
        opacity: 1;
    }
</style>

<div class="a4">
    <table cxontenteditable="true" class="noborder-table" style="width:80%;margin:0 auto;">
        <colgroup>
            <col style="width:5%;">
            <col style="width:95%">
        </colgroup>

        <thead>
            <tr>
                <th colspan="2" style="text-align: center;text-decoration:underline;font-size:1.6em;">
                    <br>
                    Annexure-A
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center;text-decoration:underline;font-size:1.8em;"><b>EXPORT VALUE DECLARATION</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="text-align: center">
                    (See Rule 7 of Customs Valuation (Determination of Value of Export Goods) Rules, 2007.)
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>1.</td>
                <td>
                    Shipping Bill No.
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>
                    Invoice No &amp; Date :- <b>GI/EXP/PO{{ Info.invoice_no }}/{{ Info.export_invoice_date | year_boundry }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Date :</b> {{ Contract.shipment.export_invoice_date|date('d.m.Y')|upper }}
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>
                    Nature of Transaction
                    <br>
                    &emsp;&emsp;&emsp;&emsp;
                    Sale <div class="squaredTwo"><input type="checkbox" checked="checked"> <label></label></div>
                    Sale on consignment Basis <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    Gift <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    Sample <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    Other <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>
                    Method of Valuation
                    Rule 3 <div class="squaredTwo"><input type="checkbox" checked="checked"> <label></label></div>
                    Rule 4 <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    Rule 5 <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    Rule 6 <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>5.</td>
                <td>
                    Whether seller and buyer are related &nbsp;&nbsp;&nbsp;
                    Yes<div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    &nbsp;&nbsp;&nbsp;
                    No <div class="squaredTwo"><input type="checkbox" checked="checked"> <label></label></div>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>6.</td>
                <td>
                    If yes, whether relationship has influenced the price &nbsp;&nbsp;&nbsp;
                    Yes <div class="squaredTwo"><input type="checkbox"> <label></label></div> &nbsp;&nbsp;&nbsp;
                    No <div class="squaredTwo"><input type="checkbox"> <label></label></div>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>7.</td>
                <td>
                    Terms of Payment : {{ Contract.payment_terms|upper }}
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>8.</td>
                <td>
                    Terms of Delivery : {{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>9.</td>
                <td>
                    Any other relevant information (Attach separate sheet, if necessary)
                    <br><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br>
                    <u>DECLARATION</u>
                    <br>
                </td>
            </tr>
            <tr>
                <td>1.</td>
                <td>
                    I/We hereby declare that information furnished above is true, complete and correct in every respect.
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>
                    I/We herby undertake to bring to the notice of proper officer any particulars which subsequently to my/our  knowledge which will
                have bearing on a valuation.
                </td>
            </tr>
            <tr><td colspan="2"><br><br><br></td></tr>
            <tr>
                <td colspan="2">
                    <div class="pull-left">Place : JUNAGADH <br>Date : {{ Contract.shipment.export_invoice_date|date('d.m.Y')|upper }}</div>
                    <div class="pull-right">SIGNATURE OF THE EXPORTER<br>NAME OF THE SIGNATORY</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>