<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">
<style type="text/css">
    .style1{
        display: inline-block; 
        width: 59%; 
        vertical-align: top;
    }
    .style2
    {
      display: inline-block; 
      width: 39%; 
        
    }
    .noborder-table {
        
    }
    table td, table th {
        
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>


<div class="a4">
    <table cxontenteditable="true" style="width:95%;margin:0 auto; border-color: #fff;" border="1">
        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
        </colgroup>
        <thead>
            <tr>
                <td colspan="4" style="text-align: right;" class="nbb nbt nbr nbl">ANNEXURE VII</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center;" class="nbt nbr nbl">LETTER TO BANK FOR COLLECTION / NEGOTIATION OF EXPORT DOCUMENTS<br><br></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3" colspan="2">Drawer(Exporter)<br>GIRNAR INDUSTRIES<br>OPP.RAJDHANI WEIGHBRIDGE,RAJKOT ROAD,DOLATPARA,<br>JUNAGADH 362003,GUJARAT,INDIA</td>
                <td>Invoice no &amp; date<br><b>GI/EXP/{{ Contract.shipments[0].comm_invoice_no }}/{{ Contract.shipments[0].comm_invoice_date | year_boundry }} &nbsp;&nbsp;&nbsp;DATE: {{ Contract.shipments[0].comm_invoice_date|date('d-M-Y') }}</td>
                <td >Exporter’s Ref<br><br></td>
            </tr>
            <tr>
                <td colspan="2">Buyer’s Order no &amp; date<br><br></td>
            </tr>
            <tr>
                <td colspan="2">Importer Exporter Code<br><br></td>
            </tr>
            <tr>
                <td colspan="2">Buyer/importer<br> {{ Contract.importer.name|upper }}<br>
                <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_buyer_address|nl2br }}</span></td>
                <td colspan="2">Drawee (if other than consignee)</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">
                    Bank
                    <br>
                    <strong>
                        <u>{{Contract.shipment.comm_bank_no}}</u>
                        <br>
                        {{Contract.shipment.comm_bank_detail|nl2br}}
                    </strong>
                </td>
                <td colspan="2">ECGC policy no &amp; date<br><br></td>
            </tr>
            <tr>
                <td colspan="2" class="nbb">For Bank’s use<br><br></td>
            </tr>
            <tr>
                <td>Pre-carriage by<br><br></td>
                <td>Place of receipt by pre-carrier<br><br></td>
                <td colspan="2" rowspan="3" class="nbt"><br><br></td>
            </tr>
            <tr>
                <td>Vessel:<br>{{ Contract.do.vessel_name }}</td>
                <td>Port of lading :-<br>{{ Contract.port.name|upper }} PORT, INDIA</td>
            </tr>
            <tr>
                <td>Port of discharge<br>

                {{ Contract.port_discharge|upper }}, {{ Contract.country.name|upper }}
                {% if Contract.port_discharge2 != "" %}
                    <br>
                    {{ Contract.port_discharge2|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
                {% if Contract.port_discharge3 != "" %}
                    <br>
                    {{ Contract.port_discharge3|upper }}, {{ Contract.country.name|upper }}
                {% endif %}

                </td>


                <td>Final destination :-<br>

                {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                {% if Contract.final_destination2 != "" %}
                    <br>
                    {{ Contract.final_destination2|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
                {% if Contract.final_destination3 != "" %}
                    <br>
                    {{ Contract.final_destination3|upper }}, {{ Contract.country.name|upper }}
                {% endif %}

                </td>
            </tr>
            
            <tr>
                <td colspan="2" class="nbb">
                    <br>Please receive the following documents for as per instruction :<br><br>
                    <div class="style1" style="text-align: center;">
                        Document
                    </div>
                    <div class="style2" style="text-align: center;">
                        Number
                    </div>
                    <br><br><br>
                    
                    <div class="style1">
                         1. Invoice no. & date
                    </div>
                    <div class="style2">
                          commercial_______________<br>
                          consular________________<br>
                          customs______________
                    </div>
                    
                    <div class="style1">
                          2. Packing list no. & date
                    </div>
                    <div class="style2">
                         ______________ 
                    </div>

                    <div class="style1">
                         3. Bill of lading no & date/<br>
                         &nbsp;CTD no. & date<br><br>
                         &nbsp;Air way bill no & date<br>
                         &nbsp;Post Parcel receipt no & date

                    </div>
                    <div class="style2">
                          <br>original____________<br>
                          non-negotiable________<br>
                          ____________<br>
                          ____________
                    </div>

                    <div class="style1">
                        4. Certificate of Origin no & date  
                    </div>
                    <div class="style2">
                         ____________<br> 
                    </div>

                    <div class="style1">
                        5. GSP Certificate of Origin no & date  
                    </div>
                    <div class="style2">
                          ____________<br>
                    </div>

                    <div class="style1">
                          6. Inspection Certificate no & date
                    </div>
                    <div class="style2">
                          ____________<br>
                    </div>

                    <div class="style1">
                        7. Insurance policy/certificate no & date  
                    </div>
                    <div class="style1">
                          
                    </div>

                    <div class="style1">
                         8. Draft no & date 
                    </div>
                    <div class="style2">
                         Sight_______ 
                    </div>

                    <div class="style1" text-align: center ;">
                        &nbsp;&nbsp;&#10003; EXP/A-44 DT. 28/02/08 
                    </div>
                    <div class="style2">
                        Usance__________  
                    </div>

                    <div class="style1">
                         Amount 
                    </div>
                    <div class="style2">
                         __________
                    </div>

                    <div class="style1">
                         9. Letter of credit 
                    </div>
                    <div class="style2">
                        __________  
                    </div>

                    <div class="style1">
                         __________ <br>
                         Amount<br><br>
                    </div>
                    <div class="style1">
                          
                    </div>

                    <div class="style1">
                         __________ <br>
                         Expirty date<br> <br>
                    </div>
                    <div class="style1">
                          
                    </div>

                    <div class="style1">
                        10.GR S.Bill no. & date  
                    </div>
                    <div class="style2">
                        __________  
                    </div>

                    <div class="style1">
                        11.Bank certificate  
                    </div>
                    <div class="style2">
                        __________ 
                    </div>

                    <div class="style1">
                         12.Copy of declaration to ECGC<br>
                         &nbsp;&nbsp;regarding shipment 
                    </div>
                    <div class="style2">
                          <br>__________
                    </div>

                    <div class="style1">
                        13.Any other document<br>
                         &nbsp;&nbsp;(Specify) 
                    </div>
                    <div class="style2">
                         __________ 
                    </div>

                    <div class="style1">
                          
                    </div>
                    <div class="style1">
                          
                    </div>

                    <div class="style1">
                          
                    </div>
                    <div class="style2">
                          
                    </div>

                    <div class="style1">
                          
                    </div>
                    <div class="style2">
                          
                    </div>
                    
                   

                </td>
                                
                <td colspan="2" class="nbb">
                    <br>Instructions [Please tick ( &#10003; ) as required]<br><br>
                    1. Collect
                    <span class="pull-right">(&#10003;)</span>
                    <br>
                    2. Purchase/Discount
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    3. Despatch documents by courier
                    <span class="pull-right">(&#10003;)</span>
                    <br>
                    4. Release documents against payment
                    <span class="pull-right">(&#10003;)</span>
                    <br>
                    5. Avice non-payment
                    <span class="pull-right">(&#10003;)</span>
                    <br>
                    6. In case of non-payment/non-acceptance,
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                     &nbsp;protest/do not protest<br>
                    7. Negotiate documents drawn under L/C__________
                    <br>
                    &nbsp;issued by_________________________________ 
                    <br>
                    &nbsp;_________________________________________
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    8. Adjust our Packing Credit A/c no______________
                    <br>
                    _____________________________
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    9. Credit our A/c no08701020001574.on realization
                    <br>
                        &nbsp;of payment
                    <span class="pull-right">(&#10003;)</span>
                    <br>
                    10. Advice payment by telax/cable/fax/
                     <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    11. Deduct your charges/collect charges from _______
                    <br>
                         _______________________________
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    12. Do not waive charges/interest recoverable from Drawee
                    <br>
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    13. Collect interest@________p.a. from _________
                    <br>
                     &nbsp;_________________till_____________
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    14. In case of need, refer to _________________
                    <br>
                        &nbsp; ______________________
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    15. Return _____________copies of Bank Certificates and
                    <br>
                        &nbsp; ________________copies of Commercial Invoice duly
                    <br>
                        &nbsp;certified by you.
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    16. Return L/C after Negotiation
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>
                    17. Any other instruction (specify)
                    <span class="pull-right">(&nbsp;&nbsp;&nbsp;)</span>
                    <br>

                </td>
                               
            </tr>
            <tr>
                <td colspan="2"  class="nbt nbb">
                     Declaration:<br>
                    I/We declare that the particulars given herein are true and <br>
                    correct and that I/We accept the bank's conditions printed<br>
                    overleaf.
                </td>
                <td colspan="2" class="nbt nbb" >
                    
                     <span class="pull-right" style="margin-right: 20px">Signature & Date</span> 
                
                </td> 
            </tr>
            <tr>
                 <td colspan="2" class="nbt" style="height: auto !important;"></td>
                <td colspan="2" class="nbt" style="height: auto !important;"></td>
                
            </tr>
                
           
        </tbody>
    </table>
    <br>
    <br>
    <br>
   
    <table class="noborder-table" style="width: 80%; margin:0 auto;">
        <thead>
            <tr>
                <td style="text-align: right;">
                    <br><b>ANNEXURE VII……..contd</b><br><br>
                </td>

            </tr>
            
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;">
               TERMS & CONDITIONS<br><br>
            </td>
        </tr>
        <tr>
            <td>
                1.We agree to accept the rate of exchange ruling on the day that the documents are approved by     your
                authorized office and undertake to agree to any consequent adjustment in the rupee equivalent if the 
                proceeds have been credited/paid to us. However in case of the bills being covered by a specified forward 
                contract. the above shall not apply and the terms of the forward contract shall be binding on us. <br><br>

            </td>
        </tr>
        <tr>
            <td>
                2.In case of any discrepancy/discrepancies noticed by the Bank, please treat the documents on collection 
                basis/return the document to us. <br><br>
            </td>
        </tr>
        <tr>
            <td>
                3.Negotiations are undertaken on the understanding that the bank retains recourse to its customers, not only 
                for the due payment of the bills at the original maturity date as stated in the bills but also for any loss which
                may be incurred owing to a moratorium or currency restrictions imposed or to be imposed , in the country of 
                payment. Moreover, negotiations are undertaken only on the terms that the bank is not liable for loss, damage
                or delay however cause, which is not directly due to the negligence or default of its own officers or servants.<br><br>

            </td>
        </tr>
        <tr>
            <td>
                4.If the bill which has been purchased/ discounted remains unpaid/unaccepted, the amount due on the bil  
                together with interest and other charges may be debited to my/our account or otherwise recovered from 
                me/us. <br><br>
            </td>
        </tr>
        <tr>
            <td>
                5.We authorize the bank to take delivery and also to/do all other acts necessary for the safety, preservation 
                and storage of the merchandise relative to the accompanying documents and to sell without further notice to 
                us at our risk, cost and expenses part or whole of the said merchandise accompanying this bill, or otherwise 
                coming into your possession towards the realization of any dues costs or expenses incurred by the bank or 
                otherwise outstanding against us any time on this or any other account and that the account of sale and of 
                your expenses shall be accepted by us as correct and conclusive. <br><br>

            </td>
        </tr>
        <tr>
            <td>
                6.We agree that the bank shall not be responsible for:<br>
                &nbsp;a)&nbsp;  Any act, omission, default suspension, insolvency or bankruptcy of any correspondent agent or sub-
                agent or<br>
                &nbsp;b)&nbsp;  For any delay in remittance or loss in exchange during transmission or in the course of collection, or  <br>
                &nbsp;c)&nbsp;  For loss of any bill of exchange or documents in transit or in the possession of any correspondent agent
                or sub-agent.<br><br>

            </td>
        </tr>
        <tr>
            <td>
            7.Unless otherwise specified, this collection is subject to the uniform rules for the Collection of Commercial
            Paper, International Chamber of Commerce Brochure No. 522 (Unless otherwise specified, I/We also 
            undertake and agree to pay to the Bank and hereby authorize the Bank to reimburse itself for all commission 
            and collection charges and all expenses incurred in the handling of this item if such charges and expenses are 
            not paid by the drawee.) <br><br>
            *I/We further declare that the undersigned has the authority to give this application, declaration and 
            undertaking on behalf of the firm/company. <br><br>

            </td>
        </tr>
        <tr>
            <td>
               8. <u>Declaration</u> : I/We declare that the particulars given herein are true and correct and that I/We accept the bank’s conditions printed overleaf.<br><br>
            </td>
        </tr>
        <tr>
            <td>
                9.<u>UNDERTAKING</u> : WE ARE INDEMNIFYING AXIS BANK AGST ANY IMPOUNDING OF FUNDS, NON RECEIPT OF PROCEEDS AND AUTHORISE BANK TO HANDLE THE DOCS AT OUR RISK AND RESPONSIBILITY. <br><br><br><br>
            </td>
        </tr>
        <tr>
            <td>
                DATE : {{ Contract.shipment.export_invoice_date|date('d-M-Y')|upper }}<br> PLACE: JUNAGADH
                <span class="pull-right">STAMP & SIGNATURE<br>OF THE EXPORTER</span><br><br>
            </td>
        </tr>
        <tr>
            <td><br><br>*Applicable when the application /declaration /undertaking is signed on behalf of the firm / company</td>
        </tr>
        <tr>
                <td class="nbt" style="height: auto !important;"></td>
                
            </tr>

        </tbody>
    </table>
</div>