<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">
<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.05em;
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>

<div class="a4" style="height: 100% !important">
    <table contenteditable="true" class="noborder-table">
        <colgroup>
            <col style="width:5%">
            <col style="width:90%">
            <!-- <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%"> -->
        </colgroup>
        <thead>
        	<tr>
        		<td colspan="2" class="t-center"><br><br><br>APPENDIX-III<br><br></td>
        	</tr>
        	<tr>
        		<td colspan="2">DRAWBACK/DEEC DECLATRATION<br></td>
        	</tr>
        </thead>
        <tbody>
        	<tr>
        		<td colspan="2">(To be filed for export of goods under claim for Drawback)<br></td>
        	</tr>
        	<tr>
        		<td colspan="2">Shipping Bill No. and Date</td>
        	</tr>
        	<tr>
        		<td colspan="2"><br><br>I/We GIRNAR INDUSTRES <span class="pull-right">(Name of the Exporter) do hereby</span></td>
        	</tr>
        	<tr>
        		<td colspan="2">further declare as follows :-<br><br><br></td>
        	</tr>
        	<tr>
        		<td>1</td>
        		<td>
        			That the quality and specification of the goods as stated in this Shipping Bill are in accordance with the<br>
        			terms of the export contract entered into with thw buyer/consignee in pursuance of the goods which are<br>
        			being exported.<br><br>
        		</td>
        	</tr>
        	<tr>
        		<td>2</td>
        		<td>
        			That we are not claiming benefit under "Engineering Products Export (Replenishment of Iron and Streel <br> 
        			Intermediates) Scheme" notified vide Mninstry of Commerce Notification No. 539 RE/92-97 dated 1.3.95.<br><br>
        		</td>
        	</tr>
        	<tr>
        		<td>3</td>
        		<td>
        			That there is no change in the manufacturing formula and in the quantum per unit of the imported<br>
        			material or components, utilised in the manufacture of the export goods and that the materials or components<br>
        			which have been stated in the application under Rule 6 or 7 of the DBK Rules, 1995 to have brrn imported,<br>
        			continue to be so imported and are not been obtained from indegenous sources.<br><br>
        		</td>
        	</tr>
        	<tr>
        		<td>4</td>
        		<td>
        			*(A) That the export goods have not beenmanufactured by availing the procedure under rule<br>
        			12(1)(b)/13(1)(b) of the Central Excise Rules, 1944.<br>
        			<span class="t-center">OR</span><br>
        			*(B) That the export goods have been manufactured by availing the procedure under rule<br>
        			12(1)(b)/13(1)(b) of the Central Excise Rules, 1944 but we are/shall be claiming DBK on the basis of s <br>
        			special branch rate in terms of Rule 6 the DBK Rules, 1995<br><br>
        		</td>
        	</tr>
        	<tr>
        		<td>5</td>
        		<td>
        			*(A)	That the goods are not manufacture and are being exported in discharge of export obligation against an<br>
        			Advance Licence issud under the Duty Exemption Schece(DEEC) vide relevant import and Export Policy in force.<br>
        			OR<br>
        			*(B)	That goods are manufactured and are being exported in discharge of export obligation underthe Duty<br>
        			Exemption scheme(DEEC), in terms of Notification No. 79/95-Cus or 80/95-Cus both dated 31.3.93 or<br>
        			31/91 dated 1.4.97 but I/We are claiming Drawback of only the Central Excise portion of the duties on<br>
        			input specified in the Drawback in the Schedule.<br><br>
        			*(C)	That the goods are manufactured and are being export in discharge of export obligation under the<br>
        			Duty Exemption Scheme(DEEC),but I/We are claiming Brand rate of Drawback fixed under Rule 6 or 7 at<br>
        			the DBK rule, 1995(* Strike out whichever is inapplicable)<br><br><br>
        		</td>
        	</tr>

        </tbody>
    </table>
</div>

<div class="a4">
    <table contenteditable="true" class="noborder-table">
    	<colgroup>
            <col style="width:5%">
            <col style="width:90%">
            <!-- <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%"> -->
        </colgroup>
    	<tr>
    		<td><br><br><br><br><br><br>6</td>
    		<td>
    			<br><br><br><br><br><br>That the goods are not manufactured and/or exported after availing of the facility under the Passbok<br>
    			Scheme as  contained in para 7.25 of the Export and Import POlicy(April, 1997 -31st march, 2002).<br><br><br>
    		</td>
    	</tr>
    	<tr>
    		<td>7</td>
    		<td>
    			That the goods are not manufactured and/or exported by a unit licence as 100% Export Oriented Unit in<br>
				terms of Import and Export policy in force.<br><br><br>
    		</td>
    	</tr>
		<tr>
			<td>8</td>
			<td>
				That the goods are not manufactured and/or exported by a unit situated in any Free Trde Zone/Export<br>
				Processing Zone or any other such Zone<br><br><br>
			</td>
		</tr>
		<tr>
			<td>9</td>
			<td>
				That the goods are not manufactured partly or wholly in bond under Section 65 of the Customs Act, 1962.<br><br><br> 
			</td>
		</tr>
		<tr>
			<td>10</td>
			<td>
				That the present market value of the goods is as follows :-<br><br>
				<table>
					<tr>
						<td>SR NO.</td>
						<td>ITEM NO. IN INVOICE</td>
						<td>MARKET VALUE</td>
					</tr>
					<tr>
						<td><br><br><br></td>
						<td><br><br><br></td>
						<td><br><br><br></td>
					</tr>
				</table>
			</td>
		</tr>
        <tr>
			<td><br><br>11</td>
			<td>
				<br><br>That the export value of the goods covered by this Shipping Bill is not less than total value of<br>
				all imported materials used in manufacture of such goods<br><br><br>
			</td>
		</tr>
		<tr>
			<td>12</td>
			<td>
				That market price of the goods being exported is not less than the brawback amount being claimed.<br><br><br>
			</td>
		</tr>
		<tr>
			<td>13</td>
			<td>
				That the drawback amount claimed is more than 1% of the FOB value of the export product, or the<br>
				drawback amount claimed is less than 1% of the FOB value but more than Rs.500.00 against the<br>
				Shipping Bill.<br><br><br>
			</td>
		</tr>
		<tr>
			<td>14</td>
			<td>
				I/We undertake to repatriate export proceeds within 6 months from date of export and submit B.R.C. to<br>
				Asst.Commissioner(Drawback). In case, the export proceeds are not realised within 6 months from the<br>
				date of export, I/We will either furnish extension of time from R.B.I. and submit B.R.C. within such<br>
				extended period or will pay back the drawback received against this Shipping Bill.<br><br><br>
 			</td>
		</tr>
		<tr>
			<td colspan="2"><span class="pull-right">For GIRNAR INDUSTRIES</span></td>
		</tr>
		<tr>
			<td colspan="2">Name of Exporter : GIRNAR INDUSTRIES</td>
		</tr>
		<tr>
			<td colspan="2">
				Address : OPP. RAJDHANI WEIGH BRIDE,<span class="pull-right">(Signature of the Exporter)</span><br>
				RAJKOT ROAD, DOLATPARA,<br>
				JUNAGADH-362003,<br>
				GUJARAT,INDIA.
			</td>
		</tr>
		
    </table>
</div>