<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">
<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.05em;
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>

<div class="a4">
    <table contenteditable="true" class="noborder-table">
        <colgroup>
            <col style="width:5%">
            <col style="width:90%">
           <!--  <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%"> -->
        </colgroup>
        <thead>
        	<tr>
        		<td colspan="2" class="t-center">
        			APPENDIX-1<br>FORM SDF
        		</td>
        	</tr>
        	<tr>
        		<td colspan="2" class="t-center">
        			(Declaration under Foreign Exchange Management Act,1999)
        		</td>
        	</tr>
        </thead>
        <tbody>
        	<tr>
        		<td colspan="2">Shipping Bill No. and Date ____________________________________________________________________</td>
        	</tr>
        	<tr>
        		<td colspan="2">I/We, GIRNARINDUSTRIES(name of the Exporter) do hereby declare that :- <br><br></td>
        	</tr>
        	<tr>
        		<td>1</td>
        		<td>I/We am/are the seller/consignor of the goods in respect of which this declaration is made and that the particulars given<br>in the Shipping Bill No<br><br>

        		_______________________________________________________dated___________________________________________<br>
        		are true and that:-<br><br>
        		*(A)	The value as contracted with the buyer is the same as the full export value declared in the above<br>shipping bill or<br><br>
        		*(B)	the full export value of the goods is not ascertainable at the time of export and that the value <br>
        			declared is that which I/We having regard to the prevailing market conditions, expect to receive<br> 
        			on the sale of goods in the overseas market.
        		</td>
        	</tr>
        	<tr>
        		<td>2</td>
        		<td>
        			I/We undertake that I/We will deliver to the bank named here in<br><br>

        			AXIS BANK, JUNAGADH<br>

        			_______________________________________________________________________________________________________________<br>
        			________________________________________________________________________________________________________________<br>
        			_____________________________________________________________<br><br>

        			the foreign exchange representing the full export value of the goods on or before@	in the manner<br>
        			prescribed in Rule 9 of the Foreign Exchange Management Rules, 1999.<br>
        		</td>
        	</tr>
        	<tr>
        		<td>3</td>
        		<td>
        			That I/We am/are resident in India and I/We have a place of business in india.
        		</td>
        	</tr>
        	<tr>
        		<td>4</td>
        		<td>
        			That I/We am/are not in the caution list of the Reserve Bank Of India.
        		</td>
        	</tr>
        	<tr>
        		<td colspan="2">
        			Date : {{ (Contract.shipment.comm_invoice_date != "0000-00-00") ? Contract.shipment.comm_invoice_date|date('d-m-Y') }}<span class="pull-right">For GIRNAR INDUSTRIES</span>
        		</td>
        	</tr>
        	<tr>
        		<td colspan="2">
        			Name of Exporter: GIRNAR INDUSTRIES<br>
        			Address: DOLATPARA, OPP. RAJDHANI WEIGH BRIDE,<br>
        					JUNAGADH GUJARAT
        		</td>
        	</tr>
        	<tr>
        		<td colspan="2">
        			<span class="pull-right">(Authorized Signatory)</span>
        		</td>
        	</tr>
        	<tr>
        		<td colspan="2">
        			Invoice No:<br>
        			FOB Value:
        		</td>
        	</tr>
        	<tr>
        		<td>@</td>
        		<td>
        			State appropriate date of delivery which must be the due date for payment or within six months from <br>
        			the date of shipment, whichever is earlier, but for export to warehouses established outside India with<br>
        			Permission of the Reserve Bank, the date of delivery must be within fifteen months.<br>
        			* Strike out whichever is not applicable.
        		</td>
        	</tr>
        </tbody>
</table>
</div>