<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.2em;
        font-weight: normal;
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>
    {% set total_amount = 0 %}
    {% for item in Contract.shipments %}
    {% for index,product in item.products %}
    {% set total_amount = total_amount + product.total_amount %}
    {% endfor %}
    {% endfor %}
<div class="a4">
    <br><br><br><br><br><br><br><br><br><br><br>
    <table contenteditable="true" class="noborder-table" style="width:85%;margin:0 auto;">
        <colgroup>
            <col style="width:2%">
            <col style="width:48%">
            <col style="width:2%">
            <col style="width:48%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="4" style="text-align: right;">
                    {{ Contract.shipment.comm_invoice_date|date('d-M-Y')|upper }}
                </th>
            </tr>
            <tr>
                <th colspan="4">
                    <br>
                    <span style="font-weight:bold;font-size:1.4em;text-decoration:underline;">BILL OF EXCHANGE</span>
                    <br><br>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">{{Contract.shipment.drawn_under}}</td>
            </tr>
            <tr>
                <td colspan="4"><br>Invoice No. <b>GI/EXP/{{ Contract.shipment.comm_invoice_no }}/{{ Contract.shipment.comm_invoice_date | year_boundry }}&nbsp;&nbsp;&nbsp;&nbsp;</b>DATED : <b>{{ Contract.shipment.comm_invoice_date|date('d-M-Y')|upper }}</b><br>EXCHANGE FOR <b>{% if Contract.currency == 'usd' %} USD {% else %} EURO {% endif %} {{ total_amount|number_format(2,'.') }}
</b></td>
            </tr>

            <tr>
                <td colspan="4">
                    <br><br>
                    {{ Contract.payment_terms|upper }} PAY THIS BILL OF EXCHANGE TO THE ORDER OF AXIS BANK,
                    (RAJKOT) THE SUM OF ({{ Contract.currency | custom_currency }} {{ total_amount | to_word | upper }} ONLY) OR VALUE RECEIVED AGAINST OUR COMMERCIAL
                    INVOICE NO. GI/EXP/{{ Contract.shipment.comm_invoice_no }}/{{ Contract.shipment.comm_invoice_date | year_boundry }} DATED: {{ Contract.shipment.comm_invoice_date|date('d-M-Y')|upper }}
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td colspan="4"><b><u>On</u><br><u>{{Contract.shipment.comm_bank_no}}</u><br>{{Contract.shipment.comm_bank_detail|nl2br}}</b></td>

            </tr>
            <tr>
                <td colspan="4" style="text-align: right;">
                   <b>FOR , GIRNAR INDUSTRIES</b>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <br><br>
                    <b>AUTHORISED SIGNATORY</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>