<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">
<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.05em;
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>

<div class="a4">
    <table contenteditable="true" class="noborder-table" style="width:80%;margin:0 auto;">
        <colgroup>
            <col style="width:2%">
            <col style="width:98%">
        </colgroup>
        <thead>
            <th colspan="2"><span style="font-weight:bold;font-size:1.6em;text-decoration:underline;">DECLARATION</span><br><br><br></th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Inspected Container No.:
                    {% for key, item in Containers.twentyGw %}
                        {{ Containers.twentyContainer[key] }},
                    {% endfor %}
                    {% for key, item in Containers.fortyGw %}
                        {{ Containers.fortyContainer[key] }},
                    {% endfor %}
                 found as empty before stuffing,<br>
                lot opened and examined {{ Info.examined }}, after selection and checked, description,<br>
                verified the packed material and also weight is as per goods covered by this invoice cum packing list
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Goods stuffing in the above containers under my supervision and containers<br>sealed with central excise seal no.
                    {% for key, item in Containers.twentyGw %}
                        {{ Containers.twentySelfSeal[key] }},
                    {% endfor %}
                    {% for key, item in Containers.fortyGw %}
                        {{ Containers.fortySelfSeal[key] }},
                    {% endfor %}
                    Under my supervision</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Total {{ total_package }} stuffedin the {{ total_containers }} ({{ total_containers | to_word | upper }}) container</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Certified that the description and value, net weight and gross weight of the goods and quality<br>cortified by this invoice are correct and that weightment has been done found as declared</td>
            </tr>
            <tr>
                <td>5</td>
                <td>This export against the permission of the Asst./ Dy. Commissioner (Export), Custom house</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {{ Contract.port.name|upper }} PORT
                    <span style="display:inline-block;width: 100px"></span>
                    permission letter no :-
                </td>
            </tr>
            <tr>
                <td></td>
                <td>F.NO.:- {{ Info.file_no }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table style="height:auto !important;width: auto !important; min-width: 500px;">
                        <tr>
                            <th>Container No.</th>
                            <th>Line Seal No.</th>
                            <th>C.EX. Seal No.</th>
                        </tr>
                        {% for key, item in Containers.twentyGw %}
                            <tr>
                                <td class="t-center">{{ Containers.twentyContainer[key] }}</td>
                                <td class="t-center">{{ Containers.twentyLineSeal[key] }}</td>
                                <td class="t-center">{{ Containers.twentySelfSeal[key] }}</td>
                            </tr>
                        {% endfor %}
                        {% for key, item in Containers.fortyGw %}
                            <tr>
                                <td class="t-center">{{ Containers.fortyContainer[key] }}</td>
                                <td class="t-center">{{ Containers.fortyLineSeal[key] }}</td>
                                <td class="t-center">{{ Containers.fortySelfSeal[key] }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <br>

                    <table style="height:auto !important;width: auto !important; min-width: 500px;">
                        <tr>
                            <th>{{ pkgType }}</th>
                            <th>Gross Weight (KGS)</th>
                            <th>Net Weight (KGS)</th>
                        </tr>
                        {% set i = 1 %}
                        {% set total1 = 0 %}
                        {% set total2 = 0 %}
                        {% set total3 = 0 %}
                        {% for key, item in Containers.twentyGw %}
                            <tr>
                                <td class="t-center">{{ Containers.twentyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.twentyGw[key] }}</td>
                                <td class="t-center">{{ Containers.twentyNw[key] }}</td>
                            </tr>
                            {% set i = i + 1 %}
                            {% set total1 = total1 + Containers.twentyPkg[key] %}
                            {% set total2 = total2 + Containers.twentyGw[key] %}
                            {% set total3 = total3 + Containers.twentyNw[key] %}
                        {% endfor %}
                        {% for key, item in Containers.fortyGw %}
                            <tr>
                                <td class="t-center">{{ Containers.fortyPkg[key] }}</td>
                                <td class="t-center">{{ Containers.fortyGw[key] }}</td>
                                <td class="t-center">{{ Containers.fortyNw[key] }}</td>
                            </tr>
                            {% set i = i + 1 %}
                            {% set total1 = total1 + Containers.fortyPkg[key] %}
                            {% set total2 = total2 + Containers.fortyGw[key] %}
                            {% set total3 = total3 + Containers.fortyNw[key] %}
                        {% endfor %}

                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><b>STUFFING PLACE : GIRNAR INDUSTRIES
                    <br>
                    <span style="display:inline-block;width:100px"></span>OPP. RAJDHANI WEIGHBRIDGE, RAJKOT ROAD,<br>
                    <span style="display:inline-block;width:100px"></span>DOLATPARA, JUNAGADH-362003,GUJARAT,INDIA</b></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    PLACE : <span style="display:inline-block;width:30px"></span> JUNAGADH
                    <br>
                    DATE : <span style="display:inline-block;width:35px"></span> {{ Info.export_invoice_date|date('d-M-Y')|upper }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <br><br>
                    <div class="t-center" style="display:inline-block;width:30%;vertical-align: top;">
                        <b>SIGNATURE OF EXPORTER<br>
                        FOR GIRNAR INDUSTRIES</b>
                        <br><br><br><br>
                        Authorized Signatory
                    </div>
                    <div class="t-center" style="display:inline-block;width:30%">
                        <b>SIGNATURE OF INSPECTOR</b>
                        <br><br><br><br>
                        ({{ Info.examining_officer }})
                        <br>
                        INSPECTOR
                        <br>
                        CENTRAL EXCISE<br>
                        AR JUNAGADH
                    </div>
                    <div class="t-center" style="display:inline-block;width:30%">
                        <b>SIGNATURE OF SUPRITENDENT</b>
                        <br><br><br><br>
                        ({{ Info.supervision_officer }})
                        <br>
                        SUPERINTENDENT
                        <br>
                        CENTRAL EXCISE<br>
                        AR JUNAGADH
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
