<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.3em;
    }
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>

<div class="a4">
    <table contenteditable="true" class="noborder-table" style="width:80%;margin:0 auto;">
        <colgroup>
            <col style="width:20%">
            <col style="width:80%">
        </colgroup>
        <thead>
            <th style="vertical-align:middle;"><img src="{{ asset('images/excise-logo.png') }}" style="width:100%;vertical-align:middle"></th>
            <th>
                <code><i>OFFICE OF THE SUPERINTENDENT OF CENTRAL EXCISE<br>AR-JUNAGADH<br><br>2<sup>ND</sup> FLOOR KOTECHA COMMERCIAL CENTRE,<br>JAYSHREE ROAD,JUNAGADH-362001.</i>
                <br>
                <br>
                <span style="font-weight:normal;">Phone &amp; Fax No. 0285-2621200<br>
                Email: cexrgjnd@yahoo.co.in</span></code>
            </th>
        </thead>
        <tbody>
            <tr>
                <td colspan="2"><b><u>IN SEALED COVER</u></b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="pull-left">F.No. AR-JND/Girnar/Factory Stuffing/2015-16</div>
                    <div class="pull-right">Date: {{ Contract.shipment.export_invoice_date|date('d-M-Y')|upper }}</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br>
                    To,<br>
                    The Assistant Commissioner of Customs,<br>
                    Custom House,<br>
                    {{ Contract.port.name|upper }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br>
                    Sir,<br>
                    &emsp;&emsp;&emsp;&emsp;
                    Subject:

                    <div style="display:inline-block;vertical-align:top;margin-left:10px;">Submission of Invoice / Annexure C-l, &amp; declaration in<br>
                    respect of M/s. Girnar Industries, Opp. Rajdhani,<br>
                    Weighbridge, Rajkot Road, Dolatpara, Junagadh-362003<br>
                    (Gujarat) India - m/reg.</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br>
                    &emsp;&emsp;&emsp;&emsp;
                    Kindly refer to letter F.No. {{ Contract.shipment.file_no }} issued
                    by the Superintendent (Export), Custom House, Kandla regarding One Time
                    Factory Stuffing Permission (Multiple Customs Station) to the above named
                    exporter for Kandla, Mundra and Pipavav Port.
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <br>
                    &emsp;&emsp;&emsp;&emsp;
                    In this connection enclosed please find Invoice No. GI/EXP/PO{{ Info.invoice_no }}/{{ Info.export_invoice_date | year_boundry }} dated
                    {{ Info.export_invoice_date|date('d-M-Y')|upper }}, Annexure C-1, and Declaration dated {{ Info.export_invoice_date|date('d-M-Y')|upper }} for {{ total_containers | to_word | upper }} Container in respect of M/s. Girnar Industries, Opp. Rajdhani Weighbridge, Rajkot Road,
                    Dolatpara, Junagadh - 362003 (Gujarat) India, for further necessary actio at
                    your end.
                </td>
            </tr>
            <tr>
                <td colspan="2" >Please acknowledge the receipt.</td>
            </tr>
            <tr>
                <td colspan="2" style=" text-align: right;">Your faithfully,</td>
            </tr>
            <tr>
                <td colspan="2" >Encl.- As above.</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                        ( {{ Info.supervision_officer }} )<br>
                        SUPERINTENDENT,<br>
                        CENTRAL EXCISE,<br>
                        AR-JUNAGADH.
                </td>
            </tr>
        </tbody>
    </table>
</div>