<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<div class="a4">
    <table contenteditable="true">
        <colgroup>
            <col style="width:22%">
            <col style="width:22%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%">
        </colgroup>

        <!-- Header Group -->
        <tr>
            <td colspan="6">
                <img src="{{ asset('images/proforma_invoice.jpg') }}" width="100%">
            </td>
        </tr>

        <!-- First Group -->
        <tr>
            <td rowspan="3" colspan="2">
                <div class="title">Manufacturer/ Exporter/Shipper/Beneficiary</div>
                GIRNAR INDUSTRIES<br>
                {{ Company.address|nl2br }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice No.</div>
                GI/EXP/PI/{{ Contract.contract_no }}/{{ Contract.contract_date | year_boundry }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice Date</div>
                {#{{ now|date('d-M-Y') }}#}
                {{ Contract.contract_date|date('d-M-Y') }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="title t-center">L/C No. L/C Date</div><br>
            </td>
            <td rowspan="2">
                <div class="title t-center">Shipping Bill No.</div>
            </td>
            <td rowspan="2">
                <div class="title t-center">Date</div><br>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="title t-center">B/L No. B/L Date</div><br></td>
        </tr>


        <!-- Second Group -->
        <tr>
            <td colspan="2">
                <div class="title">Buyer/Importer</div>
                {{ Contract.importer.name|upper }}<br>
                <span style='text-transform:uppercase'>{{ Contract.importer_address|nl2br }}</span>
            </td>
            <td colspan="4">
                <div class="title">Notify Party (If any)</div>
                {#{{ Contract.importer.name|upper }}<br>#}
                <span style='text-transform:uppercase'>{{ Contract.notifier_party|nl2br }}</span>
            </td>
        </tr>

        <!-- Third Group -->
        <tr>
            <td colspan="2">
                <div class="title">Consignee</div>
                {#{{ Contract.importer.name|upper }}<br>#}
                <span style='text-transform:uppercase'>{{ Contract.consignee_party|nl2br }}</span>
            </td>
            <td colspan="4">
                <div class="title">Beneficiary's Bank Details</div>
                AXIS BANK<br>
                <div style="margin-left:5px;font-weight: normal;">Shop No. 1,2,3 Raiji Nagar Shoping Centre,<br>
                N K mehta Road,Motibag, Junagadh(362001), Gujarat, INDIA.<br>
                A/C No. 912030004364581, SWIFT Code:- AXISINBB087</div>
            </td>
        </tr>

        <!-- Forth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Pre-Carriage by</div>
                &nbsp;
            </td>
            <td class="t-center">
                <div class="title t-center">Place of Receipt by Pre-Carrier</div>
                &nbsp;
            </td>
            <td colspan="2" class="t-center">
                <span class="title">GST NO.</span> {{ Company.gst_no }}<br>
                <span class="title">IEC NO.</span> {{ Company.iec_no }}<br>
                <span class="title">PAN NO.</span> {{ Company.pan_no }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">PURCHASE NO.</div>
                {{ Contract.purchase_order_no }}
            </td>
        </tr>

        <!-- Fifth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Vessel/ Voy. No./Flight No.</div>
            </td>
            <td class="t-center">
                <div class="title">Port of Loading</div>
                ANY INDIAN PORT, INDIA
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Origin of Goods </div>
                INDIA
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Final Destination</div>
                {{ Contract.country.name|upper }}
            </td>
        </tr>

        <!-- Sixth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Port of Discharge </div>
                {{ Contract.port_discharge|upper }}
                {% if Contract.port_discharge2 != "" %}
                    <br>
                    {{ Contract.port_discharge2|upper }}
                {% endif %}
                {% if Contract.port_discharge3 != "" %}
                    <br>
                    {{ Contract.port_discharge3|upper }}
                {% endif %}
            </td>
            <td class="t-center">
                <div class="title t-center">Final Destination</div>
                {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                {% if Contract.final_destination2 != "" %}
                    <br>
                    {{ Contract.final_destination2|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
                {% if Contract.final_destination3 != "" %}
                    <br>
                    {{ Contract.final_destination3|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Delivery</div>
                {{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Payment</div>
                {{ Contract.payment_terms|upper }}
            </td>
        </tr>

        <!-- Seventh Group (Bill Header) -->
        <tr>
            <td>
                <div class="title t-center">Marks &amp; Nos./<br>Container No.</div>
            </td>
            <td>
                <div class="title t-center">No. &amp; Kind of packages</div>
            </td>
            <td>
                <div class="title t-center">Description of Goods</div>
            </td>
            <td>
                <div class="title t-center">Quantity<br>MT</div>
            </td>
            <td>
                <div class="title t-center">Rate<br>{{ Contract.currency | upper }}/MT</div>
            </td>
            <td>
                <div class="title t-center">Amount<br>{{ Contract.currency | upper }}</div>
            </td>
        </tr>

        <!-- Eighth Group (Product Data) -->
        {% set total_amount = 0 %}

        {% for item in Contract.shipments %}
            {% for product in item.products %}
                <tr>
                    <td class="nbb nbt"></td>

                    <td class="nbb nbt t-center">
                        {% if loop.first %}
                            {% set container_exists = false %}
                            {% if item.container_size[0] > 0 %}
                                {{ item.container_size[0] }} X 20' FCL
                                {% set container_exists = true %}
                            {% endif %}
                            {% if item.container_size[1] > 0 %}
                                {% if container_exists %}
                                ,
                                {% endif %}
                                {{ item.container_size[1] }} X 40' FCL
                            {% endif %}
                            CONTAINER<br>
                        {% endif %}
                        {{ product.package_type|upper }}

                        {% if loop.last %}
                            <br><br>{{ item.notes|upper|nl2br }}<br>
                        {% endif %}
                    </td>
                    <td class="nbb nbt">
                        HS Code : {{ product.product.hs_code }}<br>
                        {{ product.product.name }}
                    </td>
                    <td class="nbb nbt t-center">{{ product.quantity|number_format(2,'.') }}</td>
                    <td class="nbb nbt t-right">{{ Contract.currency | currency_symbol }} {{ product.rate|number_format(2,'.') }}</td>
                    <td class="nbb nbt t-right">{{ Contract.currency | currency_symbol }} {{ product.total_amount|number_format(2,'.') }}</td>
                    {% set total_amount = total_amount + product.total_amount %}
                </tr>
                <tr>
                    <td class="nbb nbt"><br></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                </tr>
            {% endfor %}
        {% endfor %}

        <!-- Magic Row - It auto heights gap in billing area -->
        <tr><td class="nbb nbt" style="height:auto !important;"><br></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td><td class="nbb nbt" style="height:auto !important;"></td></tr>

        <!-- Eigth-A Group -->
        <tr>
            <td class="np nbt"></td>
            <td class="np nbt"></td>
            <td rowspan="2" style="border-width: 0 1px 1px 0"></td>
            <td rowspan="2" style="border-width: 0 1px 1px 0"></td>
            <td rowspan="2" style="border-width: 0 1px 1px 0"></td>
            <td rowspan="2" style="border-width: 0 1px 1px 0"></td>
        </tr>

        <!-- Ninth Group -->
        <tr>
            <td colspan="2" class="nb">
                <div class="title">SHIPMENT</div>
                {% for item in Contract.shipments %}
                    {{ item.eta }}<br>
                {% endfor %}
            </td>
        </tr>

        <!-- Tenth Group -->
        <tr>
            <td>Amount  chargable(  in  words   )</td>
            <td colspan="4" class="t-center" style="font-weight:normal">TOTAL {{ Contract.currency | custom_currency }} {{ total_amount | to_word | upper }} ONLY</td>
            <td>{{ Contract.currency | currency_symbol }} {{ total_amount|number_format(2,'.') }}</td>
        </tr>

        <!-- Footer Group -->
        <tr>
            <td class="t-center" style="font-weight:normal;vertical-align:middle">
                Please read and verify this proforma invoice and send us back with your duly signed &amp; stamped.
            </td>
            <td colspan="2" class="t-center">
                <u>{{ Contract.importer.name|upper }}</u>
                <br><br><br><br><br><br>
                Authorised Signatory
            </td>
            <td colspan="3" class="t-center">
                <u>GIRNAR INDUSTRIES</u><br>
                <img src="{{ asset('images/signature.jpg') }}" height="80px"><br>
                Authorised Signatory
            </td>
        </tr>
        <tr>
            <td colspan="6" class="t-center">{{ Company.website }}</td>
        </tr>
    </table>
</div>
