<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">
<style>
    body { font-size: 14px }
    @page {
        margin: 80px;
    }
</style>

<div contenteditable="true" style="padding: 20px;">
    <img src="{{ asset('images/sales_order.jpg') }}" width="100%">

    <div class="clearfix mt20">
        <div class="pull-left">CONTRACT No. : GI/EXP/CO/{{ Contract.contract_no }}/16-17</div>
        <div class="pull-right">
            DATE:
            {#{{ now|date('d-M-Y') }}#}
            {{ Contract.contract_date|date('d-M-Y') }}
        </div>
    </div>

    <div class="mt20">WE HEREBY CONFIRM HAVING CONCLUDED THE TRANSACTION FOR THE FOLLOWING PRODUCT SHIPMENT, PACKING ETC AND OTHER TERMS, CONDITIONS ARE AS BELOW MENTIONED.</div>

    <div class="mt20">
        <div class="row mt20">
            <div class="col-4">MANUFACTURER / SHIPPER / BENEFICIARY</div>
            <div class="col-1">:</div>
            <div class="col-7">
                {{ Company.name }}<br>
                {{ Company.address|nl2br }}
            </div>
        </div>

        <div class="row mt20">
            <div class="col-4">BUYER / IMPORTER</div>
            <div class="col-1">:</div>
            <div class="col-7">
                {{ Contract.importer.name|upper }}<br>
                <span style="text-transform:uppercase">{{ Contract.importer_address|nl2br }}</span>
            </div>
        </div>

        <div class="row mt20">
            <div class="col-4">PURCHASE REF.</div>
            <div class="col-1">:</div>
            <div class="col-7">
                {{ Contract.purchase_order_no }}
                <span style="display:inline-block;width:100px"></span>
                <!-- DATE : {{ Contract.contract_date|date('d-m-Y') }} -->
            </div>
        </div>

        {% set i = 1 %}
        {% for item in Contract.shipments %}
            {% for product in item.products %}
                <div class="row mt20">
                    <div class="col-4">COMMODITY - {{ i }}</div>
                    <div class="col-1">:</div>
                    <div class="col-7">{{ product.product.name }}</div>
                </div>

                <div class="row mt20">
                    <div class="col-4">QUANTITY / MT - {{ i }}</div>
                    <div class="col-1">:</div>
                    <div class="col-7">{{ product.quantity|number_format(2,'.') }} MT</div>
                </div>

                <div class="row mt20">
                    <div class="col-4">PACKING</div>
                    <div class="col-1">:</div>
                    <div class="col-7">{{ product.package_type }}</div>
                </div>

                <div class="row mt20">
                <div class="col-4">SPECIFICATION</div>
                <div class="col-1">:</div>
                <div class="col-7">{{ product.specification }}</div>
            </div>

                <div class="row mt20">
                    <div class="col-4">PRICE - {{ i }}</div>
                    <div class="col-1">:</div>
                    <div class="col-7">{{ Contract.final_destination }} USD $ {{ product.rate }} / PMT</div>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        {% endfor %}

        <div class="row mt20">
            <div class="col-4">QUALITY</div>
            <div class="col-1">:</div>
            <div class="col-7">FINAL AT THE TIME OF LOADING BY {{ Contract.surveyor.name|upper }} SURVEYOR</div>
        </div>

        <div class="row mt20">
            <div class="col-4">DELIVERY</div>
            <div class="col-1">:</div>
            <div class="col-7">{{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}</div>
        </div>

        <div class="row mt20">
            <div class="col-4">SHIPMENT</div>
            <div class="col-1">:</div>
            <div class="col-7">
                {% for item in Contract.shipments %}
                    <!-- {% for product in item.products %}
                        {{ product.product.name }},
                    {% endfor %} -->
                    {{ item.eta }}<br>
                {% endfor %}
            </div>
        </div>

        <div class="row mt20">
            <div class="col-4">PAYMENT</div>
            <div class="col-1">:</div>
            <div class="col-7">{{ Contract.payment_terms }}</div>
        </div>

        <div class="row mt20">
            <div class="col-4">BANK DETAIL</div>
            <div class="col-1">:</div>
            <div class="col-7">AXIS BANK, JUNAGADH.<br>
                SHOP NO. 1,2,3 RAIJI NAGAR, SHOPPING CENTRE<br>
                N K MEHTA ROAD, MOTI BAUG<br>
                JUNAGADH -362001, GUJARAT-INDIA<br>
                PH NO +91 285 2673413 /267314</div>
        </div>

        <div class="row mt20">
            <div class="col-4">A/C NO.</div>
            <div class="col-1">:</div>
            <div class="col-7">912030004364581</div>
        </div>

        <div class="row mt20">
            <div class="col-4">IFSC</div>
            <div class="col-1">:</div>
            <div class="col-7">UTIB0000252</div>
        </div>

        <div class="row mt20">
            <div class="col-4">SWIFT CODE</div>
            <div class="col-1">:</div>
            <div class="col-7">AXISINBB087</div>
        </div>

        <div class="row mt20">
            <div class="col-4">DOCUMENTS</div>
            <div class="col-1">:</div>
            <div class="col-7">
                1. COMMERCIAL INVOICE<br>
                2. PACKING LIST<br>
                3. BILL OF LADING<br>
                4. CERTIFICATE OF ANALYSIS<br>
                5. CERTIFICATE OF ORIGIN<br>
                6. INSURANCE POLICY<br>
                7. MATERIAL SAFETY DATA SHEET
            </div>
        </div>
    </div>

    <br><br>

    <div class="row mt50">
        <div class="col-4 t-center">
            SIGNED AND ON BEHALF OF<br>
            <img src="{{ asset('images/signature.jpg') }}" height="80px"><br>
            GIRNAR INDUSTRIES
        </div>

        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>

        <div class="col-6 t-center">
            SIGNED AND ON BEHALF OF<br>
            <br><br><br><br>
            {{ Contract.importer.name|upper }}
        </div>
    </div>
</div>