<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<style>
    .noborder-table {
        height: auto !important;
    }
    table td, table th {
        font-size: 1.2em;
    }
    .noborder-table > thead > tr > td, .noborder-table > thead > tr > th,
    .noborder-table > tbody > tr > td, .noborder-table > tbody > tr > th {
        border-color: transparent !important;
    }
</style>

<div class="a4">
    <br><br><br><br><br><br><br><br><br><br><br>
    <table contenteditable="true" class="noborder-table" style="width:85%;margin:0 auto;">
        <colgroup>
            <col style="width:2%">
            <col style="width:48%">
            <col style="width:2%">
            <col style="width:48%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="4" style="text-align: right;">
                    {{ Info.export_invoice_date|date('d-M-Y')|upper }}
                </th>
            </tr>
            <tr>
                <th colspan="4">
                    <br>
                    <span style="font-weight:bold;font-size:1.4em;text-decoration:underline;">SELF DECLARATION NON-AVAILMENT OF CENVAT FACILITY</span>
                    <br><br>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Description of Goods</td>
                <td>:</td>
                <td>
                    {% set newArray = [] %}
                    {% for item in Contract.shipment.products %}

                        {% if item.product.name not in newArray %}
                            {% if loop.first == false %}
                                ,
                            {% endif %}
                            {{ item.product.name|upper }}

                            {% set newArray = newArray|merge([ item.product.name ]) %}
                        {% endif %}

                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Invoice No. & Date</td>
                <td>:</td>
                <td>GI/EXP/PO{{ Contract.shipment.invoice_no }}/{{ Contract.shipment.export_invoice_date | year_boundry }}</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Name and Adddress Of the Exporter<br>
                    Along-with the name of Jurisdictional<br>
                    Central Excise Commissionerate<br>
                    Division/Range
                </td>
                <td>:<br>:<br>:<br>:</td>
                <td>GIRNAR INDUSTRIES<br>Opp. Rajdhani weigh bridge, Rajkot road,<br>Dolatpara, Junagadh, Gujarat, INDIA(362003)<br>Bhavnagar/Junagadh/AR-Junagadh</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Address of Manufacturing Unit</td>
                <td>:</td>
                <td>As Above</td>
            </tr>
            <tr>
                <td colspan="4">
                    <br><br>
                    &nbsp;&nbsp;&nbsp;We, M/s GIRNAR INDUSTRIES, Exporter of above mentioned Goods, hereby declare that
                    we are manufacturer Exporter and register with Central Excise Under Rule 9 of Central
                    Excise Rule 2002, We further declare that we are not availing any Cenvat Credit facility under
                    Cenvat Credit Rules 2004. We, further declare that the goods have not been manufactured or
                    exported taking benefit under Rule 18(2) or Rule 19(2) of the Central Excise Rules 2002.
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">Place&nbsp;&nbsp;&nbsp;&nbsp;JUNAGADH</td>
                <td colspan="2" style="text-align: right;">GIRNAR INDUSTRIES</td>
            </tr>
            <tr>
                <td colspan="4">Date&nbsp;&nbsp;&nbsp;&nbsp;{{ Info.export_invoice_date|date('d-M-Y')|upper }}</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <br><br>
                    AUTHORISED SIGNATORY
                </td>
            </tr>
        </tbody>
    </table>
</div>