<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

{% if Contract.shipment.container_size[0] is not empty and Contract.shipment.container_size[0] != 0  %}
{% for i in 1..Contract.shipment.container_size[0] %}

<div class="a4" style="height: 100% !important">
    <table contenteditable="true" class="nbb nbt nbr nbl" style="height:auto !important; width:95%;margin:0 auto;">
        <colgroup>
            <col style="width:5%">
            <col style="width:40%">
            <col style="width:40%">
        </colgroup>
        <tr>
            <td colspan="3" class="nbr nbl nbt nbb"><img src="{{ asset('images/vgmcontainer.png') }}" width="100%"></td>
        </tr>
        <tr>
            <td colspan="3" class="t-center nbr nbl nbt" style="font-size: 20px;"><b><u>INFORMATION ABOUT VERIFIED GROSS MASS OF CONTAINER</u></b><br><br></td>
        </tr>
        <tr>
            <td class="title">Sr no.</td>
            <th class="title">Details of information</th>
            <th class="title">Particulars</th>
        </tr>
        <tr>
            <td class="title">1*</td>
            <td class="title">Name of the shipper</td>
            <td>{{ Company.name }}</td>
        </tr>
        <tr>
            <td>2*</td>
            <td>Shipper Registration /License no.( IEC No/CIN No)**</td>
            <td>{{ Company.iec_no }}</td>
        </tr>
        <tr>
            <td>3*</td>
            <td>Name and designation of official of the shipper authorized to sign document</td>
            <td>{{ Contract.shipment.vgms.name_authorized }} , {{ Contract.shipment.vgms.designation_authorized }}</td>
        </tr>
        <tr>
            <td>4*</td>
            <td>24 x 7 contact details of authorised official of shipper</td>
            <td>{{ Contract.shipment.vgms.contact_detail }}</td>
        </tr>
        <tr>
            <td>5*</td>
            <td>Container No.</td>
            <td>{{ json_decode(Contract.shipment.containers_detail).twentyContainer[i-1] }}</td>
        </tr>
        <tr>
            <td>6*</td>
            <td>Container Size ( TEU/FEU/other) </td>
            <td>20'</td>
        </tr>
        <tr>
            <td>7*</td>
            <td>Maximum permissible weight of container as per the CSC plate</td>
            <td>{{ json_decode(Contract.shipment.vgms.max_weight_csc)[i-1] }}</td>
        </tr>
        <tr>
            <td>8*</td>
            <td>Weighbridge registration no. & Address of Weighbridge</td>
            <td>{{ Company.weighbridge_reg_no }}, {{ Company.weighbridge_address }}</td>
        </tr>
        <tr>
            <td>9*</td>
            <td>Verified gross mass of container (method-1/method-2)</td>
            <td>{{ json_decode(Contract.shipment.vgms.gross_method)[i-1] }} <b>/ NET</b> {{ json_decode(Contract.shipment.vgms.gross_net)[i-1] }}<b>+ TARE </b>{{ json_decode(Contract.shipment.vgms.gross_tare)[i-1] }}<b>+ PACKING </b>{{ json_decode(Contract.shipment.vgms.gross_packing)[i-1] }}<b> = </b>
 
            {{ (json_decode(Contract.shipment.vgms.gross_net)[i-1]) + (json_decode(Contract.shipment.vgms.gross_tare)[i-1]) + (json_decode(Contract.shipment.vgms.gross_packing)[i-1]) }}

            </td>
        </tr>
        <tr>
            <td>10*</td>
            <td>Date and time of weighing</td>
            <td>{{ Contract.shipment.vgms.date_time|date("d-m-Y g:i") }}</td>
        </tr>
        <tr>
            <td>11*</td>
            <td>Weighing slip no.</td>
            <td>{{ json_decode(Contract.shipment.vgms.weight_slip_no)[i-1] }}</td>
        </tr>
        <tr>
            <td>12*</td>
            <td>Type (Normal/Reefer/Hazardous/others)</td>
            <td>
            {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Normal' %}
                    <span> Normal </span>
                {% elseif json_decode(Contract.shipment.vgms.type)[i-1] == 'Reefer' %}
                    <span>Reefer</span>
                    {% elseif json_decode(Contract.shipment.vgms.type)[i-1] == 'Hazardous' %}
                        <span>Hazardous</span>
                    {% elseif json_decode(Contract.shipment.vgms.type)[i-1] == 'Other' %}
                       <span> Other</span>
            {% endif %} 
            </td>
        </tr>
        <tr>
            <td>13*</td>
            <td>If Hazardous  UN NO.IMDG class</td>
            <td>{{ Contract.shipment.vgms.hazardous }}</td>
        </tr>
        <tr>
            <td>14*</td>
            <td>BOOKING</td>
            <td>{{ json_decode(Contract.shipment.vgms.booking)[i-1] }}</td>
        </tr>
        <tr class="nbb nbt">
            <td colspan="2" class="nbb nbr nbl"><br><br>{{ json_decode(Contract.shipment.containers_detail).twentyContainer[i-1] }}</td>
            <td class="nbb nbt nbr nbl"><br>Signature of authorised person of shipper<br><br><br>Name: GIRNAR INDUSTRIES</td>
        </tr>
        <tr class="nbb nbt">
            <td colspan="2" class="nbb nbr nbl nbt"></td>
            <td class="nbb nbt nbl nbr t-center ">Date: 
            {% if Contract.shipment.comm_invoice_date == "0000-00-00" %}
                {{ "now"|date('d-m-Y') }}
            {% else %}
                {{ Contract.shipment.comm_invoice_date|date('d-m-Y') }}
            {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endfor %}
{% endif %}

{% if Contract.shipment.container_size[1] is not empty and Contract.shipment.container_size[1] != 0 %}
{% for i in (Contract.shipment.container_size[0]+1)..(Contract.shipment.container_size[0]+Contract.shipment.container_size[1]) %}

<div class="a4" style="height: 100% !important">
    <table contenteditable="true" class="nbb nbt nbr nbl" style="height:auto !important; width:95%;margin:0 auto;">
        <colgroup>
            <col style="width:5%">
            <col style="width:40%">
            <col style="width:40%">
        </colgroup>
        <tr>
            <td colspan="3" class="nbr nbl nbt nbb"><img src="{{ asset('images/vgmcontainer.png') }}" width="100%"></td>
        </tr>
        <tr>
            <td colspan="3" class="t-center nbr nbl nbt" style="font-size: 20px;"><b><u>INFORMATION ABOUT VERIFIED GROSS MASS OF CONTAINER</u></b><br><br></td>
        </tr>
        <tr>
            <td class="title">Sr no.</td>
            <th class="title">Details of information</th>
            <th class="title">Particulars</th>
        </tr>
        <tr>
            <td class="title">1*</td>
            <td class="title">Name of the shipper</td>
            <td>{{ Company.name }}</td>
        </tr>
        <tr>
            <td>2*</td>
            <td>Shipper Registration /License no.( IEC No/CIN No)**</td>
            <td>{{ Company.iec_no }}</td>
        </tr>
        <tr>
            <td>3*</td>
            <td>Name and designation of official of the shipper authorized to sign document</td>
            <td>{{ Contract.shipment.vgms.name_authorized }} , {{ Contract.shipment.vgms.designation_authorized }}</td>
        </tr>
        <tr>
            <td>4*</td>
            <td>24 x 7 contact details of authorised official of shipper</td>
            <td>{{ Contract.shipment.vgms.contact_detail }}</td>
        </tr>
        <tr>
            <td>5*</td>
            <td>Container No.</td>
            <td>{{ json_decode(Contract.shipment.containers_detail).fortyContainer[i-Contract.shipment.container_size[0]-1] }}</td>
        </tr>
        <tr>
            <td>6*</td>
            <td>Container Size ( TEU/FEU/other) </td>
            <td>40'</td>
        </tr>
        <tr>
            <td>7*</td>
            <td>Maximum permissible weight of container as per the CSC plate</td>
            <td>{{ json_decode(Contract.shipment.vgms.max_weight_csc)[i-1] }}</td>
        </tr>
        <tr>
            <td>8*</td>
            <td>Weighbridge registration no. & Address of Weighbridge</td>
            <td>{{ Company.weighbridge_reg_no }}, {{ Company.weighbridge_address }}</td>
        </tr>
        <tr>
            <td>9*</td>
            <td>Verified gross mass of container (method-1/method-2)</td>
            <td>{{ json_decode(Contract.shipment.vgms.gross_method)[i-1] }} <b>/ NET</b> {{ json_decode(Contract.shipment.vgms.gross_net)[i-1] }}<b>+ TARE </b>{{ json_decode(Contract.shipment.vgms.gross_tare)[i-1] }}<b>+ PACKING </b>{{ json_decode(Contract.shipment.vgms.gross_packing)[i-1] }}<b> = </b>

            {{ (json_decode(Contract.shipment.vgms.gross_net)[i-1]) + (json_decode(Contract.shipment.vgms.gross_tare)[i-1])+  (json_decode(Contract.shipment.vgms.gross_packing)[i-1]) }}</td>
        </tr>
        <tr>
            <td>10*</td>
            <td>Date and time of weighing</td>
            <td>{{ Contract.shipment.vgms.date_time|date("d-m-Y g:i") }}</td>
        </tr>
        <tr>
            <td>11*</td>
            <td>Weighing slip no.</td>
            <td>{{ json_decode(Contract.shipment.vgms.weight_slip_no)[i-1] }}</td>
        </tr>
        <tr>
            <td>12*</td>
            <td>Type (Normal/Reefer/Hazardous/others)</td>
            <td>
            {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Normal' %}
                    <span> Normal </span>
                {% elseif json_decode(Contract.shipment.vgms.type)[i-1] == 'Reefer' %}
                    <span>Reefer</span>
                    {% elseif json_decode(Contract.shipment.vgms.type)[i-1] == 'Hazardous' %}
                        <span>Hazardous</span>
                    {% elseif json_decode(Contract.shipment.vgms.type)[i-1] == 'Other' %}
                       <span> Other</span>
            {% endif %} 
            </td>
        </tr>
        <tr>
            <td>13*</td>
            <td>If Hazardous  UN NO.IMDG class</td>
            <td>{{ Contract.shipment.vgms.hazardous }}</td>
        </tr>
        <tr>
            <td>14*</td>
            <td>BOOKING</td>
            <td>{{ json_decode(Contract.shipment.vgms.booking)[i-1] }}</td>
        </tr>
        <tr class="nbb nbt">
            <td colspan="2" class="nbb nbr nbl"><br><br>{{ json_decode(Contract.shipment.containers_detail).fortyContainer[i-Contract.shipment.container_size[0]-1] }}</td>
            <td class="nbb nbt nbr nbl"><br>Signature of authorised person of shipper<br><br><br>Name: GIRNAR INDUSTRIES</td>
        </tr>
        <tr class="nbb nbt">
            <td colspan="2" class="nbb nbr nbl nbt"></td>
            <td class="nbb nbt nbl nbr t-center "><br><br><br><br>Date:
            {% if Contract.shipment.comm_invoice_date == "0000-00-00" %}
                {{ "now"|date('d-m-Y') }}
            {% else %}
                {{ Contract.shipment.comm_invoice_date|date('d-m-Y') }}
            {% endif %}
            </td>
        </tr>
    </table>
</div>

{% endfor %}
{% endif %}

<!-- <div class="a4" style="height: 90% !important">
    <table contenteditable="true" class="nbb nbt nbr nbl" style="height:auto !important; width:95%;margin:0 auto;">
        <colgroup>
            <col style="width:5%">
            <col style="width:40%">
            <col style="width:40%">
        </colgroup>
        <tr>
            <td colspan="3" class="nbr nbl nbt nbb"><img src="{{ asset('images/vgmcontainer.png') }}" width="100%"></td>
        </tr>
        <tr>
            <td colspan="3" class="t-center nbr nbl nbt" style="font-size: 20px;"><b><u>INFORMATION ABOUT VERIFIED GROSS MASS OF CONTAINER</u></b><br><br></td>
        </tr>
        <tr>
            <td class="title">Sr no.</td>
            <th class="title">Details of information</th>
            <th class="title">Particulars</th>
        </tr>
        <tr>
            <td class="title">1*</td>
            <td class="title">Name of the shipper</td>
            <td></td>
        </tr>
        <tr>
            <td>2*</td>
            <td>Shipper Registration /License no.( IEC No/CIN No)**</td>
            <td></td>
        </tr>
        <tr>
            <td>3*</td>
            <td>Name and designation of official of the shipper authorized to sign document</td>
            <td></td>
        </tr>
        <tr>
            <td>4*</td>
            <td>24 x 7 contact details of authorised official of shipper</td>
            <td></td>
        </tr>
        <tr>
            <td>5*</td>
            <td>Container No.</td>
            <td></td>
        </tr>
        <tr>
            <td>6*</td>
            <td>Container Size ( TEU/FEU/other) </td>
            <td></td>
        </tr>
        <tr>
            <td>7*</td>
            <td>Maximum permissible weight of container as per the CSC plate</td>
            <td></td>
        </tr>
        <tr>
            <td>8*</td>
            <td>Weighbridge registration no. & Address of Weighbridge</td>
            <td></td>
        </tr>
        <tr>
            <td>9*</td>
            <td>Verified gross mass of container (method-1/method-2)</td>
            <td></td>
        </tr>
        <tr>
            <td>10*</td>
            <td>Date and time of weighing</td>
            <td></td>
        </tr>
        <tr>
            <td>11*</td>
            <td>Weighing slip no.</td>
            <td></td>
        </tr>
        <tr>
            <td>12*</td>
            <td>Type (Normal/Reefer/Hazardous/others)</td>
            <td></td>
        </tr>
        <tr>
            <td>13*</td>
            <td>If Hazardous  UN NO.IMDG class</td>
            <td></td>
        </tr>
        <tr>
            <td>14*</td>
            <td>BOOKING</td>
            <td></td>
        </tr>
        <tr class="nbb nbt">
            <td colspan="2" class="nbb nbr nbl"><br><br><br>MEDU6630099</td>
            <td class="nbb nbt nbr nbl"><br>Signature of authorised person of shipper<br><br><br>Name: GIRNAR INDUSTRIES</td>
        </tr>
        <tr class="nbb nbt">
            <td colspan="2" class="nbb nbr nbl nbt"></td>
            <td class="nbb nbt nbl nbr t-center"><br><br><br><br>Date: {{ "now"|date('d-m-Y') }}</td>
        </tr>
    </table>
</div>
 -->