<form action="{{ url('quick/add/port') }}" method='post' class="form quickForm">
    <div class="form-group">
        <label>Port Name</label>
        <input type="text" name="name" class="quickFocus">
    </div>

    <div class="form-group">
        <label>Permission No</label>
        <input type="text" name="permission_no" class="quickFocus">
    </div>

    <div class="form-group mt20">
        <label></label>
        <button type="button" class="btn quickAdd">Create</button>
    </div>
</form>