{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-package"></i> Update Purchase</div>
    <ul class="toolbar">
        <li><a href="{{ url('purchase') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}
        
        <form action="{{ url('purchase/update/' ~ item.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>Order Date</label>
                <input type="text" name="order_date" class="datepick" value="{{ item.order_date|date('d-m-Y') }}" autocomplete="off">
            </div>

            <div class="form-group">
                <label>Product's Name</label>
                <select name="product_id" >
                    {% for pro in Products %}
                       {% if item.product_id == pro.Id %}
                            <option value="{{ pro.Id }}"  selected="selected">{{ pro.name }}</option>
                        {% else %}
                            <option value="{{ pro.Id }}">{{ pro.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>Vendor's Name</label>
                <select name="vendor_id" data-add-url="{{ url('quick/add/stockvendor') }}">
                    {% for vend in Vendors %}
                        {% if item.vendor_id == vend.Id %}
                            <option value="{{ vend.Id }}"  selected="selected">{{ vend.name }}</option>
                        {% else %}
                            <option value="{{ vend.Id }}">{{ vend.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>Qty.</label>
                <input type="number" step="all" name="qty" value="{{ item.qty }}">
            </div>
            
            <div class="form-group">
                <label>Amount</label>
                <input type="number" step="all" name="amount" value="{{ item.amount }}">
            </div>

            <div class="form-group">
                <label>Delivery Date</label>
                <input type="text" name="delivery_date" class="datepick" value="{{ item.delivery_date|date('d-m-Y') }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>
{% endblock %}