{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-money"></i> Purchase Register</div>
{% endblock %}

{% block content %}

    <form action="{{ url('purchase') }}" method="post" class="form panel" style="padding: 10px;">
        <div class="form-group">
            <label>Select Product</label>
            <select name="product_id" data-add-url="{{ url('quick/add/stockproduct') }}">
                {% for item in Products %}
                    <option value="{{ item.Id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Select Vendor</label>
            <select name="vendor_id" data-add-url="{{ url('quick/add/stockvendor') }}">
                {% for item in Vendors %}
                    <option value="{{ item.Id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Order Date</label>
            <input type="text" name="order_date" class="datepick" value="{{ "now"|date("d-m-Y") }}">
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input type="number" name="qty" step="all"> Unit
        </div>

        <div class="form-group">
            <label>Expected Delivery Date</label>
            <input type="text" name="delivery_date" class="datepick">
        </div>

        <div class="form-group">
            <label>Total Amount</label>
            <input type="number" step="all" name="amount">
        </div>

        <div class="form-group mt20">
            <label></label>
            <button type="submit" class="btn">Purchase</button>
        </div>
    </form>

    <table class="table">
        <colgroup>
            <col style='width: 40px'>
            <col>
            <col>
            <col style='width: 88px'>
        </colgroup>
        <tr>
            <th>No.</th>
            <th>Order Date</th>
            <th>Product's Name</th>
            <th>Vendor's Name</th>
            <th>Qty.</th>
            <th>Amount</th>
            <th>Delivery Date</th>
            <th></th>
        </tr>

        {% for item in Stocks %}
            <tr>
                <td class='text-center'>{{ loop.index }}</td>
                <td>{{ item.order_date|date('d-m-Y') }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.vendor.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.delivery_date|date('d-m-Y') }}</td>
                <td>
                    <a href="{{ url('purchase/remove/' ~ item.Id) }}" class='btn btn-orange confirm-delete'><i class='ti-trash'></i></a>
                    <a href="{{ url('purchase/edit/' ~ item.Id) }}" class='btn btn-yellow'><i class='ti-pencil'></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}