{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-money"></i> Current Stock</div>
{% endblock %}

{% block content %}

    <table class="table" style="width:600px;margin:20px">
        <tr>
            <th style="width:60%">Product</th>
            <th>Current Stock (Resp. Unit)</th>
        </tr>
        {% for item in Stock %}
            <tr>
                <td>{{  item.product }}</td>
                <td>{{  item.stock }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}