<div class="panel tab" id="200kgTab">

    <table id='200_kg_drum' class="table">
        <tr>
            <th></th>
            <th></th>
            <th>Amount</th>
            <th>Pallet</th>
        </tr>

        <tr>
            <td>Dollor Exchange</td>
            <td class='b2' data-value="_('master.c5')"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Qty. In MT</td>
            <td class='b3' data-value="_('master.c6') * _('master.c7')"></td>
            <td class='c3' data-value="_('200_kg_drum.b3')*100"></td>
            <td></td>
        </tr>

        <tr>
            <td>FSG Rate / 1 Kg</td>
            <td class='b4' data-value="_('master.c8')"></td>
            <td class='c4' data-value="_('200_kg_drum.b4')*_('200_kg_drum.c3')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Cont. Sea Freight ($)</td>
            <td class='b5' data-value="_('master.c9') * _('master.c7')"></td>
            <td class='c5' data-value="_('200_kg_drum.b5')*_('200_kg_drum.b2')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Drum 200Kgs</td>
            <td class='b6 input'>1400</td>
            <td class='c6' data-value="_('200_kg_drum.b6')*80*_('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Pallet</td>
            <td class='b7 input'>1400</td>
            <td class='c7 input'>0</td>
            <td class='d7' data-value="_('200_kg_drum.b7') * 20 * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Cont. Road Freight</td>
            <td class='b8 input'>13250</td>
            <td class='c8' data-value="_('200_kg_drum.b8') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>THC Charge</td>
            <td class='b9 input'>7000</td>
            <td class='c9' data-value="_('200_kg_drum.b9') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>B/L Charge</td>
            <td class='b10 input'>2500</td>
            <td class='c10' data-value="_('200_kg_drum.b10')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Surveyor</td>
            <td class='b11 input'>2000</td>
            <td class='c11' data-value="1500 + _('200_kg_drum.b11') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>CHA Charge</td>
            <td class='b12 input'>2000</td>
            <td class='c12' data-value="_('200_kg_drum.b12') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>L/C Charge</td>
            <td class='b13 input'>8000</td>
            <td class='c13' data-value="_('200_kg_drum.b13')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Insurance</td>
            <td class='b14 input'>600</td>
            <td class='c14' data-value="_('200_kg_drum.b14') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Re-Examination</td>
            <td class='b15 input'>2000</td>
            <td class='c15' data-value="_('200_kg_drum.b15') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Bank Interest</td>
            <td class='b16 input'>15000</td>
            <td class='c16' data-value="_('200_kg_drum.b16') * _('master.c7')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Certificate Of Origin</td>
            <td class='b17 input'>150</td>
            <td class='c17' data-value="_('200_kg_drum.b17')"></td>
            <td></td>
        </tr>

        <tr>
            <td>Total</td>
            <td class='b18'></td>
            <td class='c18' data-value="_('200_kg_drum.c4') + _('200_kg_drum.c5') + _('200_kg_drum.c6') + _('200_kg_drum.c7') + _('200_kg_drum.c8') + _('200_kg_drum.c9') + _('200_kg_drum.c10') + _('200_kg_drum.c11') + _('200_kg_drum.c12') + _('200_kg_drum.c13') + _('200_kg_drum.c14') + _('200_kg_drum.c15') + _('200_kg_drum.c16') + _('200_kg_drum.c17')"></td>
            <td class='d18' data-value="_('200_kg_drum.c18') + _('200_kg_drum.d7')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Pipavav Rate</td>
            <td></td>
            <td class='c20' data-value="_('200_kg_drum.c18') / _('200_kg_drum.b2') / _('200_kg_drum.b3')"></td>
            <td class='d20' data-value="_('200_kg_drum.d18') / _('200_kg_drum.b2') / _('200_kg_drum.b3')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Mundra Rate</td>
            <td></td>
            <td class='c22' data-value="(_('200_kg_drum.c18') - _('200_kg_drum.c8') + (25000 * _('master.c7'))) / _('200_kg_drum.b2') / _('200_kg_drum.b3')"></td>
            <td class='d22' data-value="(_('200_kg_drum.d18') - _('200_kg_drum.c8') + (25000 * _('master.c7'))) / _('200_kg_drum.b2') / _('200_kg_drum.b3')"></td>
        </tr>

    </table>

</div>