<div class="panel tab" id="bulkTab">

    <table id='mundra_bulk' class="table">
        <tr>
            <td>Doc</td>
            <td class='j4' data-value="_('master.c6') * _('master.c7') * _('master.c8')"></td>
        </tr>
        <tr>
            <td>Wooden Bar</td>
            <td class='j5' data-value="1200 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>Labour</td>
            <td class='j6' data-value="2800 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>Transport</td>
            <td class='j7' data-value="7000 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>Lift On</td>
            <td class='j8' data-value="1050 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>Sea Freight</td>
            <td class='j9' data-value="_('master.c9') * _('master.c7')"></td>
        </tr>
        <tr>
            <td>THC</td>
            <td class='j10' data-value="6500 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>BL</td>
            <td class='j11'>2500</td>
        </tr>
        <tr>
            <td>Surveyor</td>
            <td class='j12' data-value="2000 + (750 * _('master.c7'))"></td>
        </tr>
        <tr>
            <td>LC</td>
            <td class='j13'>6000</td>
        </tr>
        <tr>
            <td>Insurance</td>
            <td class='j14' data-value="400 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>COC</td>
            <td class='j15'>150</td>
        </tr>
        <tr>
            <td>Phyto</td>
            <td class='j16' data-value="250 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>Fumigation</td>
            <td class='j17' data-value="250 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>CHA</td>
            <td class='j18' data-value="2000 * _('master.c7')"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td class='j19' data-value="col_sum('mundra_bulk.j', 4, 18)"></td>
        </tr>
        <tr>
            <td></td>
            <td class='j20' data-value="_('mundra_bulk.j19') / _('master.c5') / (_('master.c6') * _('master.c7'))"></td>
        </tr>
    </table>

</div>