<div class="panel tab" id="docTab">

    <table id='doc' class="table">
        <tr>
            <th></th>
            <th></th>
            <th>Jumbo Bags</th>
            <th>50 KG PP Bags</th>
            <th>25 KG PP Bags</th>
            <th>LOOSE</th>
            <th>CFS</th>
        </tr>

        <tr>
            <td>Dollor Exchange</td>
            <td class='b2' data-value="_('master.c5')"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Qty. In MT</td>
            <td class='b3' data-value="_('master.c6') * _('master.c7')"></td>
            <td class='c3' data-value="_('doc.b3') * 1000"></td>
            <td class='d3' data-value="_('doc.b3') * 1000"></td>
            <td class='e3' data-value="_('doc.b3') * 1000"></td>
            <td class='f3' data-value="_('doc.b3') * 1000"></td>
            <td></td>
        </tr>

        <tr>
            <td>Doc Rate / 1 Ton</td>
            <td class='b4' data-value="_('master.c8')"></td>
            <td class='c4' data-value="_('doc.b4') * _('doc.b3')"></td>
            <td class='d4' data-value="_('doc.b4') * _('doc.b3')"></td>
            <td class='e4' data-value="_('doc.b4') * _('doc.b3')"></td>
            <td class='f4' data-value="_('doc.b4') * _('doc.b3')"></td>
            <td class='h4' data-value="_('doc.b4') * _('doc.b3')"></td>
        </tr>

        <tr>
            <td>Cont. Sea Freight</td>
            <td class='b5' data-value="_('master.c9') * _('master.c7')"></td>
            <td class='c5' data-value="_('doc.b5') * _('doc.b2')"></td>
            <td class='d5' data-value="_('doc.b5') * _('doc.b2')"></td>
            <td class='e5' data-value="_('doc.b5') * _('doc.b2')"></td>
            <td class='f5' data-value="_('doc.b5') * _('doc.b2')"></td>
            <td class='h5 input'>132352</td>
        </tr>

        <tr>
            <td>Jumbo Bag (1000KG)</td>
            <td class='b6 input'>700</td>
            <td class='c6' data-value="_('master.c7') * 20 * _('doc.b6')"></td>
            <td class='d6' data-value="13 * ((1000/50) * _('doc.b3'))"></td>
            <td class='e6' data-value="10 * ((1000/30) * _('doc.b3'))"></td>
            <td class='f6'>0</td>
            <td class='h6'>6400</td>
        </tr>

        <tr>
            <td>Pallet</td>
            <td class='b7 input'>1200</td>
            <td class='c7' data-value="_('doc.b7') * _('master.c7') * 10"></td>
            <td class='d7 input'>0</td>
            <td class='e7 input'>0</td>
            <td class='f7 input'>0</td>
            <td class='h7 input'>20000</td>
        </tr>

        <tr>
            <td>Cont. Road Freight</td>
            <td class='b8 input'>13250</td>
            <td class='c8' data-value="_('doc.b8') * _('master.c7')"></td>
            <td class='d8' data-value="_('doc.b8') * _('master.c7')"></td>
            <td class='e8' data-value="_('doc.b8') * _('master.c7')"></td>
            <td class='f8' data-value="_('doc.b8') * _('master.c7')"></td>
            <td class='h8'></td>
        </tr>

        <tr>
            <td>THC Charge</td>
            <td class='b9 input'>7000</td>
            <td class='c9' data-value="_('doc.b9') * _('master.c7')"></td>
            <td class='d9' data-value="_('doc.b9') * _('master.c7')"></td>
            <td class='e9' data-value="_('doc.b9') * _('master.c7')"></td>
            <td class='f9' data-value="_('doc.b9') * _('master.c7')"></td>
            <td class='h9' data-value="_('doc.b9') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>B/L Charge</td>
            <td class='b10 input'>2500</td>
            <td class='c10' data-value="_('doc.b10')"></td>
            <td class='d10' data-value="_('doc.b10')"></td>
            <td class='e10' data-value="_('doc.b10')"></td>
            <td class='f10' data-value="_('doc.b10')"></td>
            <td class='h10' data-value="_('doc.b10')"></td>
        </tr>

        <tr>
            <td>Surveyor</td>
            <td class='b11 input'>800</td>
            <td class='c11' data-value="_('doc.b11') + _('master.c7') * 500"></td>
            <td class='d11' data-value="_('doc.b11') + _('master.c7') * 500"></td>
            <td class='e11' data-value="_('doc.b11') + _('master.c7') * 500"></td>
            <td class='f11' data-value="_('doc.b11') + _('master.c7') * 500"></td>
            <td class='h11' data-value="_('doc.b11') + _('master.c7') * 500"></td>
        </tr>

        <tr>
            <td>Fumigation</td>
            <td class='b12 input'>200</td>
            <td class='c12' data-value="_('doc.b12') * _('master.c7')"></td>
            <td class='d12' data-value="_('doc.b12') * _('master.c7')"></td>
            <td class='e12' data-value="_('doc.b12') * _('master.c7')"></td>
            <td class='f12' data-value="_('doc.b12') * _('master.c7')"></td>
            <td class='h12' data-value="_('doc.b12') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Phytosanitary</td>
            <td class='b13 input'>200</td>
            <td class='c13' data-value="_('doc.b13') * _('master.c7')"></td>
            <td class='d13' data-value="_('doc.b13') * _('master.c7')"></td>
            <td class='e13' data-value="_('doc.b13') * _('master.c7')"></td>
            <td class='f13' data-value="_('doc.b13') * _('master.c7')"></td>
            <td class='h13' data-value="_('doc.b13') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>CHA Charge</td>
            <td class='b14 input'>2000</td>
            <td class='c14' data-value="_('doc.b14') * _('master.c7')"></td>
            <td class='d14' data-value="_('doc.b14') * _('master.c7')"></td>
            <td class='e14' data-value="_('doc.b14') * _('master.c7')"></td>
            <td class='f14' data-value="_('doc.b14') * _('master.c7')"></td>
            <td class='h14' data-value="_('doc.b14') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>L/C Charge</td>
            <td class='b15 input'>8000</td>
            <td class='c15' data-value="_('doc.b15')"></td>
            <td class='d15' data-value="_('doc.b15')"></td>
            <td class='e15' data-value="_('doc.b15')"></td>
            <td class='f15' data-value="_('doc.b15')"></td>
            <td class='h15' data-value="_('doc.b15')"></td>
        </tr>

        <tr>
            <td>Insurance</td>
            <td class='b16 input'>0</td>
            <td class='c16' data-value="_('doc.b16') * _('master.c7')"></td>
            <td class='d16' data-value="_('doc.b16') * _('master.c7')"></td>
            <td class='e16' data-value="_('doc.b16') * _('master.c7')"></td>
            <td class='f16' data-value="_('doc.b16') * _('master.c7')"></td>
            <td class='h16' data-value="_('doc.b16') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Certificate Of Origin</td>
            <td class='b17 input'>150</td>
            <td class='c17' data-value="_('doc.b17')"></td>
            <td class='d17' data-value="_('doc.b17')"></td>
            <td class='e17' data-value="_('doc.b17')"></td>
            <td class='f17' data-value="_('doc.b17')"></td>
            <td class='h17' data-value="_('doc.b17')"></td>
        </tr>

        <tr>
            <td>Total</td>
            <td></td>
            <td class='c18' data-value="col_sum('doc.c', 4, 17)"></td>
            <td class='d18' data-value="col_sum('doc.d', 4, 17)"></td>
            <td class='e18' data-value="col_sum('doc.e', 4, 17)"></td>
            <td class='f18' data-value="col_sum('doc.f', 4, 17)"></td>
            <td class='h18' data-value="col_sum('doc.h', 4, 17)"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Rate</td>
            <td></td>
            <td class='c20' data-value="_('doc.c18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='d20' data-value="_('doc.d18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='e20' data-value="_('doc.e18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='f20' data-value="_('doc.f18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='h20' data-value="_('doc.h18') / _('doc.b2') / _('doc.b3')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Mundra</td>
            <td></td>
            <td class='c23' data-value="(_('doc.c18') + _('doc.c8')) / _('doc.b2') / _('doc.b3')"></td>
            <td class='d23' data-value="(_('doc.d18') + _('doc.d8')) / _('doc.b2') / _('doc.b3')"></td>
            <td class='e23' data-value="(_('doc.e18') + _('doc.e8')) / _('doc.b2') / _('doc.b3')"></td>
            <td class='f23' data-value="(_('doc.f18') + _('doc.f8')) / _('doc.b2') / _('doc.b3')"></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Pipavav</td>
            <td></td>
            <td class='c25' data-value="_('doc.c18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='d25' data-value="_('doc.d18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='e25' data-value="_('doc.e18') / _('doc.b2') / _('doc.b3')"></td>
            <td class='f25' data-value="_('doc.f18') / _('doc.b2') / _('doc.b3')"></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Without Pallet CIF</td>
            <td></td>
            <td class='c27' data-value="(_('doc.c18') - _('doc.c7')) / _('doc.b2') / _('doc.b3')"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Without Pallet Mundra</td>
            <td></td>
            <td class='c29' data-value="(_('doc.c18') - _('doc.c7') + _('doc.c8')) / _('doc.b2') / _('doc.b3')"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Without Pallet Pipavav</td>
            <td></td>
            <td class='c31' data-value="(_('doc.c18') - _('doc.c7')) / _('doc.b2') / _('doc.b3')"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>