<div class="panel tab" id="flexiTab">

    <table id='flexi_iso' class="table">
        <tr>
            <th></th>
            <th>Mundra</th>
            <th>Pipavav</th>
            <th>Mundra</th>
        </tr>

        <tr>
            <td>Dollor Exchange Rate</td>
            <td class='b2' data-value="_('master.c5')">Master!C5</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Qty in MT</td>
            <td class='b3' data-value="_('master.c6') * _('master.c7')"></td>
            <td class='c3' data-value="_('flexi_iso.b3') * 100"></td>
            <td class='d3' data-value="_('flexi_iso.b3') * 100"></td>
        </tr>

        <tr>
            <td>FSG rate / 1 Kg</td>
            <td class='b4' data-value="_('master.c8')"></td>
            <td class='c4' data-value="_('flexi_iso.c3') * _('flexi_iso.b4')"></td>
            <td class='d4' data-value="_('flexi_iso.c3') * _('flexi_iso.b4')"></td>
        </tr>

        <tr>
            <td>Cont. Sea Freight ($)</td>
            <td class='b5' data-value="_('master.c9') * _('master.c7')"></td>
            <td class='c5' data-value="_('flexi_iso.b5') * _('flexi_iso.b2')"></td>
            <td class='d5' data-value="_('flexi_iso.b5') * _('flexi_iso.b2')"></td>
        </tr>

        <tr>
            <td>Flaxi Tank</td>
            <td class='b6 input'>260</td>
            <td class='c6' data-value="_('flexi_iso.b6') * _('flexi_iso.b2') * _('master.c7')">600</td>
            <td class='d6' data-value="_('flexi_iso.b6') * _('flexi_iso.b2') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Cont. Road Freight</td>
            <td class='b7 input'>13250</td>
            <td class='c7' data-value="_('flexi_iso.b7') * _('master.c7')"></td>
            <td class='d7' data-value="_('flexi_iso.b7') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>THC Charge</td>
            <td class='b8 input'>7000</td>
            <td class='c8' data-value="_('flexi_iso.b8') * _('master.c7')"></td>
            <td class='d8' data-value="_('flexi_iso.b8') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>B/L Charge</td>
            <td class='b9 input'>2500</td>
            <td class='c9' data-value="_('flexi_iso.b9')"></td>
            <td class='d9' data-value="_('flexi_iso.b9')"></td>
        </tr>

        <tr>
            <td>Surveyor Charge</td>
            <td class='b10 input'>2000</td>
            <td class='c10' data-value="_('flexi_iso.b10') * _('master.c7') + 1500"></td>
            <td class='d10' data-value="_('flexi_iso.b10') * _('master.c7') + 1500"></td>
        </tr>

        <tr>
            <td>CHA Charge</td>
            <td class='b11 input'>2000</td>
            <td class='c11' data-value="_('flexi_iso.b11') * _('master.c7')"></td>
            <td class='d11' data-value="_('flexi_iso.b11') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>L/C Charge</td>
            <td class='b12 input'>8000</td>
            <td class='c12' data-value="_('flexi_iso.b12')"></td>
            <td class='d12' data-value="_('flexi_iso.b12')"></td>
        </tr>

        <tr>
            <td>Insurance</td>
            <td class='b13 input'>600</td>
            <td class='c13' data-value="_('flexi_iso.b13') * _('master.c7')"></td>
            <td class='d13' data-value="_('flexi_iso.b13') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Re-Examination</td>
            <td class='b14 input'>2000</td>
            <td class='c14' data-value="_('flexi_iso.b14') * _('master.c7')"></td>
            <td class='d14' data-value="_('flexi_iso.b14') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Bank Interest</td>
            <td class='b15 input'>15000</td>
            <td class='c15' data-value="_('flexi_iso.b15') * _('master.c7')"></td>
            <td class='d15' data-value="_('flexi_iso.b15') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Certificate Of Origin</td>
            <td class='b16 input'>150</td>
            <td class='c16' data-value="_('flexi_iso.b16')"></td>
            <td class='d16' data-value="_('flexi_iso.b16')"></td>
        </tr>

        <tr>
            <td>Total</td>
            <td></td>
            <td class='c17' data-value="_('flexi_iso.c4') + _('flexi_iso.c5') + _('flexi_iso.c6') + _('flexi_iso.c7') + _('flexi_iso.c8') + _('flexi_iso.c9') + _('flexi_iso.c10') + _('flexi_iso.c11') + _('flexi_iso.c12') + _('flexi_iso.c13') + _('flexi_iso.c14') + _('flexi_iso.c15') + _('flexi_iso.c16')"></td>
            <td class='d17' data-value="_('flexi_iso.d4') + _('flexi_iso.d5') + _('flexi_iso.d6') + _('flexi_iso.d7') + _('flexi_iso.d8') + _('flexi_iso.d9') + _('flexi_iso.d10') + _('flexi_iso.d11') + _('flexi_iso.d12') + _('flexi_iso.d13') + _('flexi_iso.d14') + _('flexi_iso.d15') + _('flexi_iso.d16')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Rate</td>
            <td></td>
            <td class='c19' data-value="_('flexi_iso.c17') / _('flexi_iso.b2') / _('flexi_iso.b3')"></td>
            <td class='d19' data-value="(_('flexi_iso.d17') - _('flexi_iso.d7') + (10150 * _('master.c7')) ) / _('flexi_iso.b2') / _('flexi_iso.b3')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>K TO M</td>
            <td>F TO M</td>
        </tr>

        <tr>
            <td>ISO TANK (MUNDRA)</td>
            <td></td>
            <td class='c23' data-value="(_('flexi_iso.d17')-_('flexi_iso.d6')-_('flexi_iso.d7')+(10150*_('master.c7')))/_('flexi_iso.b2')/_('flexi_iso.b3')"></td>
            <td class='d23' data-value="(_('flexi_iso.d17')-_('flexi_iso.d6')-_('flexi_iso.d7')+(32000*_('master.c7')))/_('flexi_iso.b2')/_('flexi_iso.b3')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>F TO P</td>
            <td>M TO P</td>
        </tr>

        <tr>
            <td>ISO TANK (PIPAVAV)</td>
            <td></td>
            <td class='c25' data-value="(_('flexi_iso.c17') - _('flexi_iso.c6')) / _('flexi_iso.b2')/_('flexi_iso.b3')"></td>
            <td class='d25' data-value="(_('flexi_iso.c17')-_('flexi_iso.c6')-_('flexi_iso.c7')+(36000*_('master.c7')))/_('flexi_iso.b2')/_('flexi_iso.b3')"></td>
        </tr>
    </table>


</div>