<div class="panel tab" id="hcoTab">

    <table id='hco_12_hsa' class="table">
        <tr>
            <th></th>
            <th></th>
            <th>20 Feet</th>
            <th>40 Feet</th>
            <th>Jumbo Bag (20')</th>
            <th>Jumbo Bag (40')</th>
        </tr>

        <tr>
            <td>Dollor Exchange</td>
            <td class='b2' data-value="_('master.c5')"></td>
            <td class='c2'></td>
            <td class='d2'></td>
            <td class='e2'></td>
            <td class='f2'></td>
        </tr>

        <tr>
            <td>Qty. In MT</td>
            <td class='b3' data-value="_('master.c6') * _('master.c7')"></td>
            <td class='c3' data-value="_('hco_12_hsa.b3') * 100"></td>
            <td class='d3' data-value="_('hco_12_hsa.b3') * 100"></td>
            <td class='e3' data-value="_('hco_12_hsa.c3')"></td>
            <td class='f3' data-value="_('hco_12_hsa.d3')"></td>
        </tr>

        <tr>
            <td>HCO/12HSA Rate / 10 Kg</td>
            <td class='b4' data-value="_('master.c8')"></td>
            <td class='c4' data-value="_('hco_12_hsa.b4') * _('hco_12_hsa.c3')"></td>
            <td class='d4' data-value="_('hco_12_hsa.b4') * _('hco_12_hsa.c3')"></td>
            <td class='e4' data-value="_('hco_12_hsa.c4')"></td>
            <td class='f4' data-value="_('hco_12_hsa.d4')"></td>
        </tr>

        <tr>
            <td>Cont. Sea Freight ($)</td>
            <td class='b5' data-value="_('master.c9') * _('master.c7')"></td>
            <td class='c5' data-value="_('hco_12_hsa.b5') * _('hco_12_hsa.b2')"></td>
            <td class='d5' data-value="_('hco_12_hsa.b5') * _('hco_12_hsa.b2')"></td>
            <td class='e5' data-value="_('hco_12_hsa.c5')"></td>
            <td class='f5' data-value="_('hco_12_hsa.d5')"></td>
        </tr>

        <tr>
            <td>Paper Bag (25KG)</td>
            <td class='b6 input'>26</td>
            <td class='c6' data-value="(_('hco_12_hsa.c3') * 10 / 25) * _('hco_12_hsa.b6')"></td>
            <td class='d6' data-value="(_('hco_12_hsa.c3') * 10 / 25) * _('hco_12_hsa.b6')"></td>
            <td class='e6' data-value="750 * _('master.c6') * _('master.c7') * 2"></td>
            <td class='f6' data-value="750 * _('master.c6') * _('master.c7') * 2"></td>
        </tr>

        <tr>
            <td>Pallet</td>
            <td class='b7 input'>1400</td>
            <td class='c7' data-value="_('hco_12_hsa.b7') * 16 * _('master.c7')"></td>
            <td class='d7' data-value="_('hco_12_hsa.b7') * _('master.c6') * _('master.c7')"></td>
            <td class='e7' data-value="_('hco_12_hsa.b7') * _('master.c6') * _('master.c7')"></td>
            <td class='f7' data-value="_('hco_12_hsa.b7') * _('master.c6') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Cont. Road Freight</td>
            <td class='b8 input'>13250</td>
            <td class='c8' data-value="_('hco_12_hsa.b8') * _('master.c7')"></td>
            <td class='d8' data-value="23000 * _('master.c7')"></td>
            <td class='e8' data-value="_('hco_12_hsa.b8') * _('master.c7')"></td>
            <td class='f8' data-value="23000 * _('master.c7')"></td>
        </tr>

        <tr>
            <td>THC Charge</td>
            <td class='b9 input'>7000</td>
            <td class='c9' data-value="_('hco_12_hsa.b9') * _('master.c7')"></td>
            <td class='d9' data-value="10600 * _('master.c7')"></td>
            <td class='e9' data-value="_('hco_12_hsa.b9') * _('master.c7')"></td>
            <td class='f9' data-value="10600 * _('master.c7')"></td>
        </tr>

        <tr>
            <td>B/L Charge</td>
            <td class='b10 input'>2500</td>
            <td class='c10' data-value="_('hco_12_hsa.b10')"></td>
            <td class='d10' data-value="_('hco_12_hsa.b10')"></td>
            <td class='e10' data-value="_('hco_12_hsa.c10')"></td>
            <td class='f10' data-value="_('hco_12_hsa.d10')"></td>
        </tr>

        <tr>
            <td>Surveyor</td>
            <td class='b11 input'>4000</td>
            <td class='c11' data-value="1500 + _('hco_12_hsa.b11') * _('master.c7')"></td>
            <td class='d11' data-value="1500 + _('hco_12_hsa.b11') * _('master.c7')"></td>
            <td class='e11' data-value="1500 + _('hco_12_hsa.b11') * _('master.c7')"></td>
            <td class='f11' data-value="1500 + _('hco_12_hsa.b11') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>CHA Charge</td>
            <td class='b12 input'>2000</td>
            <td class='c12' data-value="_('hco_12_hsa.b12') * _('master.c7')"></td>
            <td class='d12' data-value="_('hco_12_hsa.b12') * _('master.c7')"></td>
            <td class='e12' data-value="_('hco_12_hsa.c12')"></td>
            <td class='f12' data-value="_('hco_12_hsa.d12')"></td>
        </tr>

        <tr>
            <td>L/C Charge</td>
            <td class='b13 input'>8000</td>
            <td class='c13' data-value="_('hco_12_hsa.b13')"></td>
            <td class='d13' data-value="_('hco_12_hsa.b13')"></td>
            <td class='e13' data-value="_('hco_12_hsa.c13')"></td>
            <td class='f13' data-value="_('hco_12_hsa.d13')"></td>
        </tr>

        <tr>
            <td>Insurance</td>
            <td class='b14 input'>600</td>
            <td class='c14' data-value="_('hco_12_hsa.b14') * _('master.c7')"></td>
            <td class='d14' data-value="2 * _('hco_12_hsa.b14') * _('master.c7')"></td>
            <td class='e14' data-value="_('hco_12_hsa.c14')"></td>
            <td class='f14' data-value="2 * _('hco_12_hsa.b14') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Re-Examination</td>
            <td class='b15 input'>2000</td>
            <td class='c15' data-value="_('hco_12_hsa.b15') * _('master.c7')"></td>
            <td class='d15' data-value="_('hco_12_hsa.b15') * _('master.c7')"></td>
            <td class='e15' data-value="_('hco_12_hsa.b15') * _('master.c7')"></td>
            <td class='f15' data-value="_('hco_12_hsa.b15') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Bank Interest</td>
            <td class='b16 input'>15000</td>
            <td class='c16' data-value="_('hco_12_hsa.b16') * _('master.c7')"></td>
            <td class='d16' data-value="_('hco_12_hsa.b16') * _('master.c7')"></td>
            <td class='e16' data-value="_('hco_12_hsa.b16') * _('master.c7')"></td>
            <td class='f16' data-value="_('hco_12_hsa.b16') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Certificate Of Origin</td>
            <td class='b17 input'>150</td>
            <td class='c17' data-value="_('hco_12_hsa.b17')"></td>
            <td class='d17' data-value="_('hco_12_hsa.b17')"></td>
            <td class='e17' data-value="_('hco_12_hsa.b17')"></td>
            <td class='f17' data-value="_('hco_12_hsa.b17')"></td>
        </tr>

        <tr>
            <td>Total</td>
            <td class='b18'></td>
            <td class='c18' data-value="_('hco_12_hsa.c4') + _('hco_12_hsa.c5') + _('hco_12_hsa.c6') + _('hco_12_hsa.c7') + _('hco_12_hsa.c8') + _('hco_12_hsa.c9') + _('hco_12_hsa.c10') + _('hco_12_hsa.c11') + _('hco_12_hsa.c12') + _('hco_12_hsa.c13') + _('hco_12_hsa.c14') + _('hco_12_hsa.c15') + _('hco_12_hsa.c16') + _('hco_12_hsa.c17')"></td>
            <td class='d18' data-value="_('hco_12_hsa.d4') + _('hco_12_hsa.d5') + _('hco_12_hsa.d6') + _('hco_12_hsa.d7') + _('hco_12_hsa.d8') + _('hco_12_hsa.d9') + _('hco_12_hsa.d10') + _('hco_12_hsa.d11') + _('hco_12_hsa.d12') + _('hco_12_hsa.d13') + _('hco_12_hsa.d14') + _('hco_12_hsa.d15') + _('hco_12_hsa.d16') + _('hco_12_hsa.d17')"></td>
            <td class='e18' data-value="_('hco_12_hsa.e4') + _('hco_12_hsa.e5') + _('hco_12_hsa.e6') + _('hco_12_hsa.e7') + _('hco_12_hsa.e8') + _('hco_12_hsa.e9') + _('hco_12_hsa.e10') + _('hco_12_hsa.e11') + _('hco_12_hsa.e12') + _('hco_12_hsa.e13') + _('hco_12_hsa.e14') + _('hco_12_hsa.e15') + _('hco_12_hsa.e16') + _('hco_12_hsa.e17')"></td>
            <td class='f18' data-value="_('hco_12_hsa.f4') + _('hco_12_hsa.f5') + _('hco_12_hsa.f6') + _('hco_12_hsa.f7') + _('hco_12_hsa.f8') + _('hco_12_hsa.f9') + _('hco_12_hsa.f10') + _('hco_12_hsa.f11') + _('hco_12_hsa.f12') + _('hco_12_hsa.f13') + _('hco_12_hsa.f14') + _('hco_12_hsa.f15') + _('hco_12_hsa.f16') + _('hco_12_hsa.f17')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan=2 rowspan=4>Rate Pipavav</td>
            <td class='c20' data-value="_('hco_12_hsa.c18') / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='d20' data-value="_('hco_12_hsa.d18') / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='e20' data-value="_('hco_12_hsa.e18') / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='f20' data-value="_('hco_12_hsa.f18') / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
        </tr>

        <tr>
            <td colspan=4>WITH PALLET</td>
        </tr>

        <tr>
            <td class='c23' data-value="(_('hco_12_hsa.c18')-_('hco_12_hsa.c7')) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='d23' data-value="(_('hco_12_hsa.d18')-_('hco_12_hsa.d7')) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='e23' data-value="(_('hco_12_hsa.e18')-_('hco_12_hsa.e7')) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='f23' data-value="(_('hco_12_hsa.f18')-_('hco_12_hsa.f7')) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
        </tr>

        <tr>
            <td colspan=4>WITHOUT PALLET</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan=2 rowspan=4>Rate Mundra</td>
            <td class='c26' data-value="(_('hco_12_hsa.c18')-_('hco_12_hsa.c8')+(25000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='d26' data-value="(_('hco_12_hsa.d18')-_('hco_12_hsa.d8')+(34000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='e26' data-value="(_('hco_12_hsa.e18')-_('hco_12_hsa.e8')+(25000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='f26' data-value="(_('hco_12_hsa.f18')-_('hco_12_hsa.f8')+(34000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
        </tr>

        <tr>
            <td colspan=4>WITH PALLET</td>
        </tr>

        <tr>
            <td class='c29' data-value="(_('hco_12_hsa.c18')-_('hco_12_hsa.c7')-_('hco_12_hsa.c8')+(25000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='d29' data-value="(_('hco_12_hsa.d18')-_('hco_12_hsa.d7')-_('hco_12_hsa.d8')+(34000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='e29' data-value="(_('hco_12_hsa.e18')-_('hco_12_hsa.e7')-_('hco_12_hsa.e8')+(25000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
            <td class='f29' data-value="(_('hco_12_hsa.f18')-_('hco_12_hsa.f7')-_('hco_12_hsa.f8')+(34000*_('master.c7'))) / _('hco_12_hsa.b2') / _('hco_12_hsa.b3')"></td>
        </tr>

        <tr>
            <td colspan=4>WITHOUT PALLET</td>
        </tr>
    </table>

</div>