<div class="panel tab" id="ibcTab">

    <table id='ibc_tank' class="table">
        <tr>
            <th></th>
            <th></th>
            <th>Amount</th>
        </tr>

        <tr>
            <td>Dollor Exchange Rate</td>
            <td class='b2' data-value="_('master.c5')">Master!C5</td>
            <td></td>
        </tr>

        <tr>
            <td>Qty in MT</td>
            <td class='b3' data-value="_('master.c6') * _('master.c7')"></td>
            <td class='c3' data-value="_('ibc_tank.b3') * 100"></td>
        </tr>

        <tr>
            <td>FSG rate / 1 Kg</td>
            <td class='b4' data-value="_('master.c8')"></td>
            <td class='c4' data-value="_('ibc_tank.c3') * _('ibc_tank.b4')"></td>
        </tr>

        <tr>
            <td>Cont. Sea Freight ($)</td>
            <td class='b5' data-value="_('master.c9') * _('master.c7')"></td>
            <td class='c5' data-value="_('ibc_tank.b5') * _('ibc_tank.b2')"></td>
        </tr>

        <tr>
            <td>IBC Tank</td>
            <td class='b6 input'>9600</td>
            <td class='c6' data-value="_('ibc_tank.b6') * 18 * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Cont. Road Freight</td>
            <td class='b7 input'>13250</td>
            <td class='c7' data-value="_('ibc_tank.b7') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>THC Charge</td>
            <td class='b8 input'>7000</td>
            <td class='c8' data-value="_('ibc_tank.b8') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>B/L Charge</td>
            <td class='b9 input'>2500</td>
            <td class='c9' data-value="_('ibc_tank.b9')"></td>
        </tr>

        <tr>
            <td>Surveyor Charge</td>
            <td class='b10 input'>2000</td>
            <td class='c10' data-value="_('ibc_tank.b10') * _('master.c7') + 1500"></td>
        </tr>

        <tr>
            <td>CHA Charge</td>
            <td class='b11 input'>2000</td>
            <td class='c11' data-value="_('ibc_tank.b11') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>L/C Charge</td>
            <td class='b12 input'>8000</td>
            <td class='c12' data-value="_('ibc_tank.b12')"></td>
        </tr>

        <tr>
            <td>Insurance</td>
            <td class='b13 input'>600</td>
            <td class='c13' data-value="_('ibc_tank.b13') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Re-Examination</td>
            <td class='b14 input'>2000</td>
            <td class='c14' data-value="_('ibc_tank.b14') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Bank Interest</td>
            <td class='b15 input'>15000</td>
            <td class='c15' data-value="_('ibc_tank.b15') * _('master.c7')"></td>
        </tr>

        <tr>
            <td>Certificate Of Origin</td>
            <td class='b16 input'>150</td>
            <td class='c16' data-value="_('ibc_tank.b16')"></td>
        </tr>

        <tr>
            <td>Total</td>
            <td></td>
            <td class='c17' data-value="_('ibc_tank.c4') + _('ibc_tank.c5') + _('ibc_tank.c6') + _('ibc_tank.c7') + _('ibc_tank.c8') + _('ibc_tank.c9') + _('ibc_tank.c10') + _('ibc_tank.c11') + _('ibc_tank.c12') + _('ibc_tank.c13') + _('ibc_tank.c14') + _('ibc_tank.c15') + _('ibc_tank.c16')"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>PIPAVAV Rate</td>
            <td></td>
            <td class='c19' data-value="_('ibc_tank.c17') / _('ibc_tank.b2') / _('ibc_tank.b3')"></td>
        </tr>

        <tr>
            <td>MUNDRA Rate</td>
            <td></td>
            <td class='c21' data-value="(_('ibc_tank.c17')-_('ibc_tank.c7')+(25000*_('master.c7')))/_('ibc_tank.b2')/_('ibc_tank.b3')"></td>
        </tr>
    </table>

</div>