<div class="panel tab active" id="masterTab">

    <table id="master" class="table">
        <tr>
            <th>USD/EURO</th>
            <th>QTY/CONTAINER</th>
            <th>CONTAINERS</th>
            <th>FSG (10 KG)/CSM (1 MTS)</th>
            <th>SEA FREIGHT</th>
        </tr>
        <tr>
            <td class='c5 input' style="background-color:darkred;padding:5px;color:#FFF;text-weight:bold;text-align:center;"></td>
            <td class='c6 input' style="background-color:darkred;padding:5px;color:#FFF;text-weight:bold;text-align:center;"></td>
            <td class='c7 input' style="background-color:darkred;padding:5px;color:#FFF;text-weight:bold;text-align:center;"></td>
            <td class='c8 input' style="background-color:darkred;padding:5px;color:#FFF;text-weight:bold;text-align:center;"></td>
            <td class='c9 input' style="background-color:darkred;padding:5px;color:#FFF;text-weight:bold;text-align:center;"></td>
        </tr>
    </table>

    <br>

    <table class="table">
        <tr>
            <th colspan=6>Castor Seed Meal</th>
        </tr>
        <tr>
            <th>Bulk Mundra</th>
            <th colspan=2>Jumbo Bag</th>
            <th rowspan=2>50 KGS Bags</th>
            <th rowspan=2>30 KGS Bags</th>
            <th rowspan=2>Loose</th>
        </tr>
        <tr>
            <th data-value="_('mundra_bulk.j20')"></th>
            <th>Without Pallet</th>
            <th>With Pallet</th>
        </tr>
        <tr>
            <td>CIF</td>
            <td data-value="_('doc.c27')"></td>
            <td data-value="_('doc.c20')"></td>
            <td data-value="_('doc.d20')"></td>
            <td data-value="_('doc.e20')"></td>
            <td data-value="_('doc.f20')"></td>
        </tr>
        <tr>
            <td>Mundra</td>
            <td data-value="_('doc.c29')"></td>
            <td data-value="_('doc.c23')"></td>
            <td data-value="_('doc.d23')"></td>
            <td data-value="_('doc.e23')"></td>
            <td data-value="_('doc.f23')"></td>
        </tr>
        <tr>
            <td>Pipavav</td>
            <td data-value="_('doc.c31')"></td>
            <td data-value="_('doc.c25')"></td>
            <td data-value="_('doc.d25')"></td>
            <td data-value="_('doc.e25')"></td>
            <td data-value="_('doc.f25')"></td>
        </tr>
    </table>

    <br>

    <table class="table">
        <tr>
            <th colspan=2>IBC Tank</th>
            <th colspan=2>ISO Tank</th>
        </tr>
        <tr>
            <td>Pipavav</td>
            <td>Mundra</td>
            <td>Pipavav</td>
            <td>Mundra</td>
        </tr>
        <tr>
            <td data-value=" _('master.c6') == 17.1 ? _('ibc_tank.c19') : 0"></td>
            <td data-value=" _('master.c6') == 17.1 ? _('ibc_tank.c21') : 0"></td>
            <td data-value="_('flexi_iso.c25')"></td>
            <td data-value="_('flexi_iso.d23')"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td data-value="_('flexi_iso.d25')"></td>
            <td data-value="_('flexi_iso.c23')"></td>
        </tr>
    </table>

    <br>

    <table class="table">
        <tr>
            <th rowspan=2></th>
            <th rowspan=2>Flexi</th>
            <th colspan=2>200 KG Drum</th>
            <th colspan=2>225 KG Drum</th>
        </tr>
        <tr>
            <td>Without Pallet</td>
            <td>With Pallet</td>
            <td>Without Pallet</td>
            <td>With Pallet</td>
        </tr>
        <tr>
            <td>Pipavav</td>
            <td data-value="_('flexi_iso.c19')"></td>
            <td data-value="_('master.c6') == 16 ? _('200_kg_drum.c20') : 0"></td>
            <td data-value="_('master.c6') == 16 ? _('200_kg_drum.d20') : 0"></td>
            <td data-value="_('master.c6') == 18 ? _('225_kg_drum.c20') : 0"></td>
            <td data-value="_('master.c6') == 18 ? _('225_kg_drum.d20') : 0"></td>
        </tr>
        <tr>
            <td>Mundra</td>
            <td data-value="_('flexi_iso.d19')"></td>
            <td data-value="_('master.c6') == 16 ? _('200_kg_drum.c22') : 0"></td>
            <td data-value="_('master.c6') == 16 ? _('200_kg_drum.d22') : 0"></td>
            <td data-value="_('master.c6') == 18 ? _('225_kg_drum.c22') : 0"></td>
            <td data-value="_('master.c6') == 18 ? _('225_kg_drum.d22') : 0"></td>
        </tr>
    </table>

    <br>

    <table class="table">
        <tr>
            <th colspan=8>HCO / 12HSA</th>
        </tr>
        <tr>
            <th>20 Feet</th>
            <th>20 Feet (Pallet)</th>
            <th>40 Feet</th>
            <th>40 Feet (Pallet)</th>
            <th>Jumbo Bag (20 Feet)</th>
            <th>Jumbo Bag (Pallet)</th>
            <th>Jumbo Bag (40 Feet)</th>
            <th>Jumbo Bag (Pallet)</th>
        </tr>
        <tr>
            <td data-value="_('hco_12_hsa.c23')"></td>
            <td data-value="_('hco_12_hsa.c20')"></td>
            <td data-value="_('hco_12_hsa.d23')"></td>
            <td data-value="_('hco_12_hsa.d20')"></td>
            <td data-value="_('hco_12_hsa.e23')"></td>
            <td data-value="_('hco_12_hsa.e20')"></td>
            <td data-value="_('hco_12_hsa.f23')"></td>
            <td data-value="_('hco_12_hsa.f20')"></td>
        </tr>
        <tr>
            <td data-value="_('hco_12_hsa.c29')"></td>
            <td data-value="_('hco_12_hsa.c26')"></td>
            <td data-value="_('hco_12_hsa.d29')"></td>
            <td data-value="_('hco_12_hsa.d26')"></td>
            <td data-value="_('hco_12_hsa.e29')"></td>
            <td data-value="_('hco_12_hsa.e26')"></td>
            <td data-value="_('hco_12_hsa.f29')"></td>
            <td data-value="_('hco_12_hsa.f26')"></td>
        </tr>
    </table>


</div>