{% extends 'layouts/standard.twig' %}

{% block header %}
    <style>
        .header {
            display: none;
        }
        .page-content {
            /*position: fixed;*/
            /*top: 0;*/
            /*left: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*overflow: auto;*/
            margin: 0 !important;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
        }
        .page-footer {
            display: none;
        }

        .container {
            position: inherit;
            padding: 0;
        }
    </style>
    <div class="title"><i class="ti-bar-chart-alt"></i> Quotation Sheet</div>
    <ul class="toolbar">
        <li><button class="btn-white" onclick="window.print()"><i class="ti-printer"></i> Print</button></li>
        <li><button class="btn-white" id="save-quotation-sheet"><i class="ti-save"></i> Save Quotation Sheet</button></li>
    </ul>
{% endblock %}

{% block content %}

    <textarea id="quotation_data" style="display: none;">{{ Data.quotation_data }}</textarea>

    <style>
        .panel { padding: 20px }
        .table { width: 100%; }
        .input {
            background-color: lightyellow;
            cursor: pointer;
        }
        .input:hover, .input:active {
            background-color: lightgoldenrodyellow;
        }

        @media print {
            * {
                color: #000 !important;
                border-color: #000 !important;
            }

            .header, .toolbar, .page-footer, .tabs > li {
                display: none;
            }
            .container, .page-content,.tab, body {
                position: inherit !important;
                padding: 0 !important;
                margin: 0 !important;
                border: 0 !important;
            }

            .tabs li.active {
                display: block !important;
                border: none;
                margin-bottom: 10px;
            }
        }
    </style>

    <div class="tabbar">
        {% include 'quotation/tabs.twig' %}
        {% include 'quotation/flexi.twig' %}
        {% include 'quotation/200kg.twig' %}
        {% include 'quotation/225kg.twig' %}
        {% include 'quotation/ibc.twig' %}
        {% include 'quotation/hco.twig' %}
        {% include 'quotation/doc.twig' %}
        {% include 'quotation/bulk.twig' %}
        {% include 'quotation/master.twig' %}
    </div>


{% endblock %}