<ul class="tabs">
    <li class="active" data-tab="#masterTab"><i class="ti-agenda"></i> Master</li>
    <li data-tab="#flexiTab"><i class="ti-folder"></i> Flexi ISO</li>
    <li data-tab="#200kgTab"><i class="ti-folder"></i> 200 Kg Drum</li>
    <li data-tab="#225kgTab"><i class="ti-folder"></i> 225 Kg Drum</li>
    <li data-tab="#ibcTab"><i class="ti-folder"></i> IBC Tank</li>
    <li data-tab="#hcoTab"><i class="ti-folder"></i> HCO-12HSA</li>
    <li data-tab="#docTab"><i class="ti-folder"></i> Docs</li>
    <li data-tab="#bulkTab"><i class="ti-folder"></i> Bulk Container</li>
</ul>