<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<div class="a4">
    <table contenteditable="true">
        <colgroup>
            <col style="width:22%">
            <col style="width:22%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:13%">
            <col style="width:13%">
        </colgroup>

        <!-- Header Group -->
        <tr>
            <td colspan="6" style="text-align: center;">ORIGINAL</td>
        </tr>
        <tr>
            <td colspan="6">
                <img src="{{ asset('images/comm_invoice.jpg') }}" width="100%">
            </td>
        </tr>

        <!-- First Group -->
        <tr>
            <td rowspan="3" colspan="2">
                <div class="title">Manufacturer/ Exporter/Shipper/Beneficiary</div>
                {% if Contract.shipment.company_detail == "" %}
                    {{ Company.name }}<br>
                    {{ Company.address|nl2br }}
                {% else %}
                    {{ Contract.shipment.company_detail|nl2br }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice No.</div>
                GI/EXP/{{ Contract.shipments[0].comm_invoice_no }}/{{ Contract.shipments[0].comm_invoice_date | year_boundry }}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Invoice Date</div>
                {#{{ now|date('d-M-Y') }}#}
                {# {{ Contract.contract_date|date('d-M-Y') }} #}
                {{ Contract.shipments[0].comm_invoice_date|date('d-M-Y') }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="t-center">
                <div class="title t-center">L/C No.</div>
                <span style='text-transform:uppercase'>{{ Contract.shipment.lc_no }}</span>
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">L/C Date</div>
                {{ (Contract.shipment.lc_date != "0000-00-00") ? Contract.shipment.lc_date|date('d-M-Y') }}
            </td>

        </tr>
        <tr>
            <td colspan="2" class="t-center">
                <div class="title t-center">B/L No. </div>
                <span style='text-transform:uppercase'>{{ Contract.shipment.bl_no }}</span>
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">B/L Date</div>
                {{ (Contract.shipment.bl_date != "0000-00-00") ? Contract.shipment.bl_date|date('d-M-Y') }}
            </td>
        </tr>

        <!-- Second Group -->
        <tr>
            <td colspan="2">
                <div class="title">Buyer/Importer/Applicant</div>
                {% if Contract.shipment.importer_address == "" or Contract.shipment.importer_address == "0" %}
                    {{ Contract.importer.name|upper }}<br>
                    <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_buyer_address|nl2br }}</span>
                {% else %}
                    {{ Contract.importer.name|upper }}<br>
                    <span style='text-transform:uppercase'>{{ Contract.shipment.importer_address|nl2br }}</span>
                {% endif %}
            </td>
            <td colspan="4">
                <div class="title">Notify Party (If any)</div>
                {% if Contract.shipment.notifier_party == "" %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_notifier_address|nl2br }}</span>
                {% else %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.shipment.notifier_party|nl2br }}</span>
                {% endif %}
            </td>
        </tr>

        <!-- Third Group -->
        <tr>
            <td colspan="2">
                <div class="title">Consignee</div>
                {% if Contract.shipment.invoice_consignee_address == "" %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.consignee_party|nl2br }}</span>
                    {# <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_consignee_address|nl2br }} #}
                {% else %}
                    {#{{ Contract.importer.name|upper }}<br>#}
                    <span style='text-transform:uppercase'>{{ Contract.shipment.invoice_consignee_address|nl2br }}
                {% endif %}
            </td>
            <td colspan="4">
                <div class="title">Beneficiary's Bank Details</div>
                {% if Contract.shipment.beneficiary_bank_detail =="" %}
                    {{ Company.bank_name|nl2br }}
                    <div style="margin-left:5px;font-weight: normal;">{{ Company.bank_address|nl2br }}</div>
                {% else %}
                    <div style="margin-left:5px;font-weight: normal;">{{ Contract.shipment.beneficiary_bank_detail|nl2br }}</div>
                {% endif %}
            </td>
        </tr>

        <!-- Forth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Pre-Carriage by</div>
                &nbsp;
            </td>
            <td class="t-center">
                <div class="title t-center">Place of Receipt by Pre-Carrier</div>
                &nbsp;
            </td>
            <td colspan="2" class="t-center">
                <span class="title">GST NO.</span> {{ Company.gst_no }}<br>
                <span class="title">IEC NO.</span> {{ Company.iec_no }}<br>
                <span class="title">PAN NO.</span> {{ Company.pan_no }}
            </td>
            <td colspan="2" class="t-center">
                {% if Contract.purchase_order_no == "" %}
                    <div class="title t-center">PI NO.</div>
                    {{ Contract.contract_no }}
                {% else %}
                    <div class="title t-center">PO NO.</div>
                    GI/EXP/{{ Contract.purchase_order_no }}/{{ Contract.contract_date | year_boundry }}
                {% endif %}
            </td>
        </tr>

        <!-- Fifth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Vessel/ Voy. No./Flight No.</div>
                {% if Contract.shipment.voyage_no == "" %}
                    {{ Contract.do.vessel_name }}
                {% else %}
                    {{ Contract.shipment.voyage_no }}
                {% endif %}
            </td>
            <td class="t-center">
                <div class="title">Port of Loading</div>
                {% if Contract.shipment.port_loading == "" %}
                    {{ Contract.port.name|upper }} PORT, INDIA
                {% else %}
                    {{ Contract.shipment.port.name }} PORT, INDIA
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Origin of Goods </div>
                {% if Contract.shipment.comm_invoice_note2 == "" %}
                    INDIA
                {% else %}
                    {{ Contract.shipment.comm_invoice_note2 }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Country of Final Destination</div>
                {% if Contract.shipment.final_destination_country == "" %}
                    {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.country.name }}
                {% endif %}
            </td>
        </tr>

        <!-- Sixth Group -->
        <tr>
            <td class="t-center">
                <div class="title t-center">Port of Discharge </div>
                {% if Contract.shipment.discharge_port == "" %}
                    {{ Contract.port_discharge|upper }}, {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.discharge_port }}, {{ Contract.shipment.country.name|upper }}
                {% endif %}

                {% if Contract.shipment.discharge_port2 == "" %}
                    {% if Contract.port_discharge2 != "" %}
                        <br>
                        {{ Contract.port_discharge2|upper }}, {{ Contract.country.name|upper }}
                    {% endif %}
                {% else %}
                    {% if Contract.shipment.discharge_port2 != "" %}
                        <br>
                        {{ Contract.shipment.discharge_port2|upper }}, {{ Contract.shipment.country.name|upper }}
                    {% endif %}
                {% endif %}
                
                {% if Contract.shipment.discharge_port3 == "" %}
                    {% if Contract.shipment.discharge_port3 != "" %}
                        <br>
                        {{ Contract.port_discharge3|upper }}, {{ Contract.country.name|upper }}
                    {% endif %}
                {% else %}
                    {% if Contract.shipment.discharge_port3 != "" %}
                        <br>
                        {{ Contract.shipment.discharge_port3|upper }}, {{ Contract.shipment.country.name|upper }}
                    {% endif %}
                {% endif %}    
            </td>
            <td class="t-center">
                <div class="title t-center">Final Destination</div>
                {% if Contract.shipment.final_destination == "" %}
                    {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.final_destination }}, {{ Contract.shipment.country.name|upper }}
                {% endif %}

                
                <!-- {% if Contract.final_destination2 != "" %}
                    <br>
                    {{ Contract.final_destination2|upper }}, {{ Contract.country.name|upper }}
                {% endif %}
                {% if Contract.final_destination3 != "" %}
                    <br>
                    {{ Contract.final_destination3|upper }}, {{ Contract.country.name|upper }}
                {% endif %} -->
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Delivery</div>
                {% if Contract.shipment.delivery_terms == "" %}
                    {{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}
                {% else %}
                    {{ Contract.shipment.delivery_terms|upper }} {{ Contract.shipment.final_destination }}, {{ Contract.shipment.country.name|upper }}
                {% endif %}
            </td>
            <td colspan="2" class="t-center">
                <div class="title t-center">Terms of Payment</div>
                {% if Contract.shipment.payment_terms == "" %}
                    {{ Contract.payment_terms|upper }}
                {% else %}
                    {{ Contract.shipment.payment_terms }}
                {% endif %}
            </td>
        </tr>

        <!-- Seventh Group (Bill Header) -->
        <tr>
            <td>
                <div class="title t-center">Marks &amp; Nos./<br>Container No.</div>
            </td>
            <td>
                <div class="title t-center">No. &amp; Kind of packages</div>
            </td>
            <td>
                <div class="title t-center">Description of Goods</div>
            </td>
            <td>
                <div class="title t-center">Quantity<br>MT</div>
            </td>
            <td>
                <div class="title t-center">Rate<br>{{ Contract.currency | upper }}/MT</div>
            </td>
            <td>
                <div class="title t-center">Amount<br>{{ Contract.currency | upper }}</div>
            </td>
        </tr>

        <!-- Eighth Group (Product Data) -->
        {% set total_amount = 0 %}
        {% set flx = 0 %}
        {% for item in Contract.shipments %}
            {% for index,product in item.products %}
                <tr>
                    {% if loop.first %}
                        <td class="nbb nbt" rowspan="{{ (item.products|length*2)+1 }}" style="font-size:10px">
                            {{ marks_data|raw }}

                            {% if Contract.shipment.comm_invoice_note %}
                                <br>
                                {{ Contract.shipment.comm_invoice_note|raw }}
                            {% endif %}
                        </td>
                    {% else %}

                    {% endif %}
                    
                    <td class="nbb nbt t-center">
                        {% if loop.first %}
                            {% set container_exists = false %}
                            {% if item.container_size[0] > 0 %}
                                {% set flx = flx + item.container_size[0] %}
                                {{ item.container_size[0] }} X 20' FCL
                                {% set container_exists = true %}
                            {% endif %}
                            {% if item.container_size[1] > 0 %}
                                {% if container_exists %}
                                    ,
                                {% endif %}
                                {% set flx = flx + item.container_size[1] %}
                                {{ item.container_size[1] }} X 40' FCL
                            {% endif %}
                            CONTAINER<br>
                        {% endif %}

                        PACKING {{ product.package_type|upper }}

                        {% if loop.last %}
                            <br><br><br>
                            {% if Contract.shipment.flexitank == 0 %}
                                ( TOTAL {{ total_package|upper }} )
                            {% else %}
                                ( TOTAL {{ flx }} {{ total_package|upper }} )
                            {% endif %}

                            {% if Contract.shipment.specification %}
                                <br><br>
                                <div style="text-align: left">SPECIFICATION:<br>
                                {{Contract.shipment.specification|nl2br}}</div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="nbb nbt t-center">
                        {{ product.product.name }}<br>
                        HS Code : {{ product.product.hs_code }}

                        {% if item.products|length > 1 %}
                            <br>
                            TOTAL : {{ product.total_packages }}
                            <br>
                        {% endif %}

                        {% if product.product.extra1 != "" %}
                            <br>( {{ product.product.extra1|upper }})
                        {% endif %}

                        {# {% if product.comm_invoice_name != false %}
                             {{ product.comm_invoice_name }}
                        {% else %}
                            {{ product.product.name }}<br>
                            HS Code : {{ product.product.hs_code }}
                            {% if product.product.extra1 != "" %}
                                <br>( {{ product.product.extra1|upper }})
                            {% endif %}

                            {% if loop.last %}
                                <br><br>
                                {% if Contract.shipment.comm_invoice_note2 %}
                                    {{ Contract.shipment.comm_invoice_note2|raw }}
                                {% endif %}
                            {% endif %}
                        {% endif %} #}
                    </td>
                    <td class="nbb nbt t-center">{{ product.total_nw|number_format(3,'.') }}</td>
                    <td class="nbb nbt t-right">{{ Contract.currency | currency_symbol }} {{ product.rate|number_format(2,'.') }}</td>
                    <td class="nbb nbt t-right">{{ Contract.currency | currency_symbol }} {{ product.total_amount|number_format(2,'.') }}</td>
                </tr>
                <tr>
                    <!-- <td class="nbb nbt"><br></td> -->
                    <td class="nbb nbt">&nbsp;</td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                    <td class="nbb nbt"></td>
                </tr>
                {% set total_amount = total_amount + product.total_amount %}
            {% endfor %}
        {% endfor %}

        <tr>
            <td class="nbb nbt">&nbsp;</td>
            <td class="nbb nbt"></td>
            <td class="nbb nbt"></td>
            <td class="nbb nbt">
                {% if Contract.shipments[0].comm_freight > 0 %}
                    <span style="text-align:center;display:block;border-top:1px solid #000;border-bottom:1px solid #000;">FREIGHT</span>
                {% endif %}

                {% if Contract.shipments[0].extra_charge > 0 %}
                    <span style="text-align:center;display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.shipments[0].extra_charge_name }}</span>
                {% endif %}

                {% if Contract.shipments[0].comm_invoice_discount > 0 %}
                    <span style="text-align:center;display:block;border-top:1px solid #000;border-bottom:1px solid #000;">Discount</span>
                {% endif %}
            </td>
            <td class="nbb nbt t-right">
                {% if Contract.shipments[0].comm_freight > 0 %}
                    <span style="display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.currency | currency_symbol }} {{ Contract.shipments[0].comm_freight|number_format(2,'.') }}</span>
                {% endif %}

                {% if Contract.shipments[0].extra_charge > 0 %}
                    <span style="display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.currency | currency_symbol }} {{ Contract.shipments[0].extra_charge|number_format(2,'.') }}</span>
                {% endif %}

                {% if Contract.shipments[0].comm_invoice_discount > 0 %}
                    <span style="display:block;border-top:1px solid #000;border-bottom:1px solid #000;">{{ Contract.currency | currency_symbol }} {{ Contract.shipments[0].comm_invoice_discount|number_format(2,'.') }}</span>
                {% endif %}
            </td>
        </tr>
        {% set total_amount = total_amount + Contract.shipments[0].comm_freight + Contract.shipments[0].extra_charge - Contract.shipments[0].comm_invoice_discount %}

        <!-- Magic Row - It auto heights gap in billing area -->
        <tr>
            <td class="nbb nbt" style="height:auto !important;"><br></td>
            <td class="nbb nbt" style="height:auto !important;"></td>
            <td class="nbb nbt" style="height:auto !important;"></td>
            <td class="nbb nbt" style="height:auto !important;"></td>
            <td class="nbb nbt" style="height:auto !important;"></td>
            <td class="nbb nbt" style="height:auto !important;"></td>
        </tr>










        <tr>
            <td rowspan=2 class="t-center">Amount  chargable(  in  words   )</td>
            <td rowspan=2 colspan="2" class="t-center" style="font-weight:normal">TOTAL {{ Contract.currency | custom_currency }} {{ total_amount | to_word | upper }} ONLY</td>
            <td colspan=2 class="t-center">TOTAL</td>
            <td class="t-right">{{ Contract.currency | currency_symbol }} {{ total_amount|number_format(2,'.') }}</td>
        </tr>

        <!-- Tenth Group -->
        <tr>
            <td colspan="3" class="t-center nbb"><u>GIRNAR INDUSTRIES</u></td>
        </tr>
        <tr>
            <td colspan="3" class="t-center">
                {{Contract.shipment.drawn_under}}
            </td>
            <td colspan="3" rowspan="2" class="t-center nbt">
                <div style="height: 60px;"></div>
                Authorised Signatory
            </td>
        </tr>

        <tr>
            <td colspan="3">
                DECLARATION: <span style="font-weight: normal;">We declare that this invoice shows the actual price of the goods described and
                    that all the particulars are true &amp; correct.</span>
            </td>
        </tr>

        <!-- Footer Group -->
        {#<tr>#}
            {#<td class="t-center" style="font-weight:normal;vertical-align:middle">#}
                {#Please read and verify this proforma invoice and send us back with your duly signed &amp; stamped.#}
            {#</td>#}
            {#<td colspan="2" class="t-center">#}
                {#<u>{{ Contract.importer.name|upper }}</u>#}
                {#<br><br><br><br><br><br>#}
                {#Authorised Signatory#}
            {#</td>#}
            {#<td colspan="3" class="t-center">#}
                {#<u>GIRNAR INDUSTRIES</u><br>#}
                {#<img src="{{ asset('images/signature.jpg') }}" height="80px"><br>#}
                {#Authorised Signatory#}
            {#</td>#}
        {#</tr>#}
        <tr>
            <td colspan="6" class="t-center">{{ Company.website }}</td>
        </tr>
    </table>
</div>
