<div class="panel tab" id="doTab">

    <div class="hintBlock">
        &mdash; Buyer, <span>{{ Contract.importer.name }}</span>
        <br>
        &mdash; Get delivery order for, <span>{{ Contract.final_destination }}, {{ Contract.country.name }}</span> from port <span>{{ Contract.port.name }}</span> to port <span>{{ Contract.port_discharge }}</span>.
        <br>
        &mdash; Shipment, <span>{{ Contract.shipment.eta }}</span>
        <br>
        &mdash; Quotation Freight is, <span>
            {% set container_exists = false %}
            {% if Contract.quotation_freight[0] > 0 %}
                ${{ Contract.quotation_freight[0] }}/20' Container
                {% set container_exists = true %}
            {% endif %}
            {% if Contract.quotation_freight[1] > 0 %}
                {% if container_exists %}
                ,
                {% endif %}
                ${{ Contract.quotation_freight[1] }}/40' Container
            {% endif %}
        </span>
        <br>
        &mdash; Container Size is, <span>
            {% if Contract.shipment.container_size[0] > 0 %}
                {{ Contract.shipment.container_size[0] }} X 20' FCL
                {% set container_exists = true %}
            {% endif %}
            {% if Contract.shipment.container_size[1] > 0 %}
                {% if container_exists %}
                ,
                {% endif %}
                {{ Contract.shipment.container_size[1] }} X 40' FCL
            {% endif %}
        </span>
        <!-- <br>
        &mdash; Forwarders companies working in this country are,
            <ul>
                <li><span>Accuracy Shipping Pvt. Ltd.</span> [ Contact Person : <span>Anand Sir, Ravi Sir</span> ] [ Contact No. : <span>9099995014</span> ]</li>
                <li><span>Surya Shipping Service</span> [ Contact Person : <span>Sureshbhai</span> ] [ Contact No. : <span>9099023246, 9099013246</span> ]</li>
            </ul> -->
    </div>

    <form action="{{ url('contract/do/' ~ Contract.shipment.Id) }}" method='post'>
        <input type="hidden" name="contract_id" value="{{ Contract.Id }}">
        <input type="hidden" name="shipment_id" value="{{ Contract.shipment.Id }}">
        <input type="hidden" name="do_id" value="{{ Contract.do.Id }}">
        <div class="row">
            <div class="col-6">
                <div class="form">
                    <!-- <div class="form-group">
                        <label>Origin Port</label>
                        <select name="do_port_loading">
                            <option value="">&nbsp;</option>
                            {% for item in Ports %}
                                {% if item.Id == Contract.do.do_port_loading %}
                                    <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.Id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Destination Port</label>
                        <select name="do_port_discharge">
                            <option value="">&nbsp;</option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.do.do_port_discharge %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Quotation Freight</label>
                        <input type="text" name="do_quotation_freight[]" placeholder="20'" style="width:80px;vertical-align:top;" value="{{ Contract.do.do_quotation_freight[0] }}">
                        <input type="text" name="do_quotation_freight[]" placeholder="40'" style="width:80px;vertical-align:top;" value="{{ Contract.do.do_quotation_freight[1] }}">
                    </div>
                    <div class="form-group">
                        <label>Container Size</label>
                        <input type="text" name="do_container_size[]" placeholder="20'" style="width:80px" value="{{ Contract.do.do_container_size[0] }}">
                        <input type="text" name="do_container_size[]" placeholder="40'" style="width:80px" value="{{ Contract.do.do_container_size[1] }}">
                        <br>
                        <label></label>
                        <label style="display:inline-block;width:80px;text-align:center;color:#888;font-size:12px;">20' Container</label>
                        <label style="display:inline-block;width:80px;text-align:center;color:#888;font-size:12px;margin-left:-10px;">40' Container</label>
                    </div> 

                    <hr>-->

                    <div class="form-group">
                        <label>Forwarder Name</label>
                        <select name="forwarder_id" data-add-url="{{ url('quick/add/forwarder') }}">
                            {% for item in Forwarders %}
                                {% if item.Id == Contract.do.forwarder_id %}
                                    <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.Id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Freight</label>
                        <input type="text" name="freight" value="{{ Contract.do.freight }}">
                    </div>

                    <div class="form-group">
                        <label for="">Total Freight</label>
                        <input type="number" step="any" name="total_freight" value="{{ Contract.do.total_freight }}">
                    </div>

                    <div class="form-group">
                        <label for="">THC</label>
                        <input type="text" name="thc" value="{{ Contract.do.thc }}">
                    </div>

                    <div class="form-group">
                        <label for="">BLC</label>
                        <input type="text" name="blc" value="{{ Contract.do.blc }}">
                    </div>

                    <div class="form-group">
                        <label for="">Shipping Line</label>
                        <input type="text" name="shipment_line" value="{{ Contract.do.shipment_line }}">
                    </div>

                    <div class="form-group">
                        <label>Booking No.</label>
                        <input type="text" name="do_no" value="{{ Contract.do.do_no }}">
                    </div>

                    <div class="form-group">
                        <label>Booking Date</label>
                        <input type="text" class="datepick" name="do_date" value="{{ (Contract.do.do_date != "0000-00-00 00:00:00") ? Contract.do.do_date|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">Booking Expiry Date</label>
                        <input type="text" class="datepick" name="do_exp_date" value="{{ (Contract.do.do_exp_date != "0000-00-00 00:00:00") ? Contract.do.do_exp_date|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">Document Cutoff</label>
                        <input type="text" class="datetimepick" name="document_cutoff" value="{{ (Contract.do.document_cutoff != "0000-00-00 00:00:00") ? Contract.do.document_cutoff|date('d-m-Y H:i') }}">
                    </div>

                    <div class="form-group">
                        <label for="">SI Cutoff</label>
                        <input type="text" class="datetimepick" name="si_cutoff" value="{{ (Contract.do.si_cutoff != "0000-00-00 00:00:00") ? Contract.do.si_cutoff|date('d-m-Y H:i') }}">
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form">
                    <div class="form-group">
                        <label for="">ETA Origin Port</label>
                        <input type="text" class="datepick" name="eta_origin" value="{{ (Contract.do.eta_origin != "0000-00-00 00:00:00") ? Contract.do.eta_origin|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">ETD Origin Port</label>
                        <input type="text" class="datepick etd_origin" name="etd_origin" value="{{ (Contract.do.etd_origin != "0000-00-00 00:00:00") ? Contract.do.etd_origin|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">ETA Destination Port</label>
                        <input type="text" class="datepick eta_destination" name="eta_destination" value="{{ (Contract.do.eta_destination != "0000-00-00 00:00:00") ? Contract.do.eta_destination|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">ETA Date</label>
                        <input type="text" class="datepick eta_destination" name="eta_date" value="{{ (Contract.do.eta_date != "0000-00-00 00:00:00") ? Contract.do.eta_date|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">Vessel Name / Voyage No.</label>
                        <input type="text" name="vessel_name" value="{{ Contract.do.vessel_name }}">
                        <input type="hidden" name="voyage_no" value="{{ Contract.do.voyage_no }}">
                    </div>

                    <div class="form-group">
                        <label>Total Transit Time</label>
                        <input type="text" name="total_transit" class="total_transit" readonly="readonly" value="{{ Contract.do.total_transit }}">
                    </div>

                    <div class="form-group">
                        <label>Total Detention Days</label>
                        <input type="text" name="total_detention_days" value="{{ Contract.do.total_detention_days }}">
                    </div>

                    <div class="form-group">
                        <label>Total Demurrage Days</label>
                        <input type="text" name="total_demurrage_days" value="{{ Contract.do.total_demurrage_days }}">
                    </div>

                    <div class="form-group">
                        <label>Change ETA Date Of Destination Port</label>
                        <input type="text" class="datepick" name="change_eta_destination_port" value="{{ (Contract.do.change_eta_destination_port != "0000-00-00") ? Contract.do.change_eta_destination_port|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label>Change Total Transit Time Of ETA Destination Port</label>
                        <input type="text" name="change_total_transit_time" value="{{ Contract.do.change_total_transit_time }}">
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="">Stuffing From Date</label>
                        <input type="text" class="datepick" name="stuffing_from" value="{{ (Contract.do.stuffing_from != "0000-00-00") ? Contract.do.stuffing_from|date('d-m-Y') }}">
                    </div>

                    <div class="form-group">
                        <label for="">Stuffing To Date</label>
                        <input type="text" class="datepick" name="stuffing_to" value="{{ (Contract.do.stuffing_to != "0000-00-00") ? Contract.do.stuffing_to|date('d-m-Y') }}">
                    </div>



                    <div class="form-group" style="display: none;">
                        <label for="">VGM Cutoff</label>
                        <input type="text" class="datetimepick" name="vgm_cutoff" value="{{ (Contract.do.vgm_cutoff != "0000-00-00 00:00:00") ? Contract.do.vgm_cutoff|date('d-m-Y H:i') }}">
                    </div>

                    <div class="form-group" style="display: none;">
                        <label for="">Container Gate Open</label>
                        <input type="text" class="datetimepick" name="container_gate_open" value="{{ (Contract.do.container_gate_open != "0000-00-00 00:00:00") ? Contract.do.container_gate_open|date('d-m-Y H:i') }}">
                    </div>

                    <div class="form-group" style="display: none;">
                        <label for="">Gate Cutoff</label>
                        <input type="text" class="datetimepick" name="gate_cutoff" value="{{ (Contract.do.gate_cutoff != "0000-00-00 00:00:00") ? Contract.do.gate_cutoff|date('d-m-Y H:i') }}">
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none">
            <center><h2>Trans Shipment</h2><br></center>

            <table class="table">
            <tr>
                <th></th>
                <th>1st Trans Shipment</th>
                <th>2nd Trans Shipment</th>
                <th>3rd Trans Shipment</th>
                <th>4th Trans Shipment</th>
            </tr>
            <tr>
                <th>Port Name</th>
                <td class='input'><input type='text' name='trans_port[]' value="{{ Contract.do.trans_port[0] }}"></td>
                <td class='input'><input type='text' name='trans_port[]' value="{{ Contract.do.trans_port[1] }}"></td>
                <td class='input'><input type='text' name='trans_port[]' value="{{ Contract.do.trans_port[2] }}"></td>
                <td class='input'><input type='text' name='trans_port[]' value="{{ Contract.do.trans_port[3] }}"></td>
            </tr>
            <tr>
                <th>Vessel Name</th>
                <td class='input'><input type='text' name='trans_vessel_name[]' value="{{ Contract.do.trans_vessel_name[0] }}"></td>
                <td class='input'><input type='text' name='trans_vessel_name[]' value="{{ Contract.do.trans_vessel_name[1] }}"></td>
                <td class='input'><input type='text' name='trans_vessel_name[]' value="{{ Contract.do.trans_vessel_name[2] }}"></td>
                <td class='input'><input type='text' name='trans_vessel_name[]' value="{{ Contract.do.trans_vessel_name[3] }}"></td>
            </tr>
            <tr>
                <th>ETA</th>
                <td class='input'><input type="text" class="datetimepick" name="trans_eta[]" value="{{ (Contract.do.trans_eta[0] != "") ? Contract.do.trans_eta[0]|date('d-m-Y H:i') }}"></td>
                <td class='input'><input type="text" class="datetimepick" name="trans_eta[]" value="{{ (Contract.do.trans_eta[1] != "") ? Contract.do.trans_eta[1]|date('d-m-Y H:i') }}"></td>
                <td class='input'><input type="text" class="datetimepick" name="trans_eta[]" value="{{ (Contract.do.trans_eta[2] != "") ? Contract.do.trans_eta[2]|date('d-m-Y H:i') }}"></td>
                <td class='input'><input type="text" class="datetimepick" name="trans_eta[]" value="{{ (Contract.do.trans_eta[3] != "") ? Contract.do.trans_eta[3]|date('d-m-Y H:i') }}"></td>
            </tr>
            <tr>
                <th>ETD</th>
                <td class='input'><input type="text" class="datetimepick" name="trans_etd[]" value="{{ (Contract.do.trans_etd[0] != "") ? Contract.do.trans_etd[0]|date('d-m-Y H:i') }}"></td>
                <td class='input'><input type="text" class="datetimepick" name="trans_etd[]" value="{{ (Contract.do.trans_etd[1] != "") ? Contract.do.trans_etd[1]|date('d-m-Y H:i') }}"></td>
                <td class='input'><input type="text" class="datetimepick" name="trans_etd[]" value="{{ (Contract.do.trans_etd[2] != "") ? Contract.do.trans_etd[2]|date('d-m-Y H:i') }}"></td>
                <td class='input'><input type="text" class="datetimepick" name="trans_etd[]" value="{{ (Contract.do.trans_etd[3] != "") ? Contract.do.trans_etd[3]|date('d-m-Y H:i') }}"></td>
            </tr>
        </table>
        </div>

        <div class="form-group mt20 mb20 ml20">
            <label></label>
            <button type="submit" class="btn"><i class="ti-plus"></i> Update Delivery Order</button>
        </div>
    </form>


</div>
