<div class="panel tab p20" id="documentsTab">
    <fieldset class="mb20">
        <legend><i class="ti-upload mr5"></i> New Uploads</legend>
        <form id="fileUploadForm">
            <label class="inline mb20">
                <input type="file" name="file" accept=".jpg,.png,.jpgeg,.pdf,.xls,.xlsx" multiple="true" class="invisible fileUploadBtn" data-contractid="{{ Contract.Id }}">
                <span class="btn-purple"><i class="ti-files mr5"></i> Upload New Document</span>
            </label>
        </form>

        <ul class="fileUploadProgressWrap">
            <!-- live files -->
        </ul>

    </fieldset>

    <fieldset>
        <legend><i class="ti-files mr5"></i> Uploaded Documents</legend>

        <ul class="fileList">
            {% for item in Contract.documents %}
                <li>
                    <i class="ti-image"><span>{{ item.extension }}</span></i>
                    <div class="filename">{{ item.filename }} &middot; <span>{{ item.size|filesize }}</span> &middot; <span>{{ item.created_at|date('d M, Y h:i') }}</span></div>
                    <div class="uploadby mt5">
                        <a href="{{ url('uploads/' ~ item.location) }}"> Open</a>
                        &middot;
                        <a href="{{ url('document/remove/' ~ item.Id) }}" class="confirm-delete">Remove</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </fieldset>
</div>