{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title">
        <i class="ti-receipt"></i> Contract
        {% if Contract.contract_type == "single" %}
            <span>[{{ Contract.contract_no }}]</span>
        {% else %}
            <span>[{{ Contract.contract_no ~ ' - ' ~ Contract.shipment.shipment_code }}]</span>
        {% endif %}
    </div>

    <div class="pull-left" style="font-size: 14px; margin-left: 30px; border: 1px solid #ddd; padding: 4px;">
        <strong class="mr20" style="color: #888">Shipments : </strong>
        {% for item in Shipments %}
            <a href="{{ url('contract/edit/' ~ item.Id) }}" class="link mr20">{{ Contract.contract_no }} - {{ item.shipment_code }}</a>
        {% endfor %}
        <a href="{{ url('contract/new/shipment/' ~ Contract.Id) }}" class="link"><i class="ti-plus"></i> Add New</a>
    </div>

    <ul class="toolbar">
        <!-- <li><a href="#" data-modal="testmodal"><i class="ti-notepad"></i> User Notes</a></li> -->
        <!-- <li><a href="#"><i class="ti-pulse"></i> Stuffing Phase</a></li> -->
        <li><a href="{{ url('contracts2') }}"><i class="ti-angle-left"></i> Back</a></li>
        <li><a href="#"><i class="ti-location-pin"></i> {{ Contract.final_destination }}</a></li>
        <li><a href="{{ url('shipment/remove/' ~ Contract.shipment.Id ) }}" class="confirm-delete"><i class="ti-trash"></i> Remove Shipment</a></li>
        <li><a href="{{ url('contract/remove/' ~ Contract.Id ) }}" class="confirm-delete"><i class="ti-trash"></i> Remove Whole Contract</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="tabbar">
        {% include 'contracts/tabs.twig' %}
        {% include 'contracts/basic-tab.twig' %}
        {% include 'contracts/packaging-tab.twig' %}
        {% include 'contracts/do-tab.twig' %}
        {% include 'contracts/rawmaterial-tab.twig' %}
        {% include 'contracts/stuffing-tab.twig' %}
        {% include 'contracts/schemes-tab.twig' %}
        {% include 'contracts/print-tab.twig' %}
        {% include 'contracts/documents-tab.twig' %}
        {% include 'contracts/payment-tab.twig' %}
        {% include 'contracts/vgm-tab.twig' %}
    </div>

{% endblock %}

{% block modals %}
    <!-- Print Preview Modal - Required On Every Page With Print Preview Functionality -->
    <div class="modal printPreviewModal">
        <div class="modal-title">
            Print Preview &nbsp;
            <button class="btn-teal printPreviewPrintBtn"><i class="ti-printer"></i> Print</button>
        </div>
        <div class="modal-close"><i class="ti-close"></i></div>
        <div class="modal-content">
            <iframe src="" id="printPreviewIframe" frameborder="0" type="application/pdf"></iframe>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            var opts = [
                $("select[name='port_discharge']").val() + ", " + $("select[name='final_destination']").val(),
                $("select[name='port_discharge2']").val() + ", " + $("select[name='final_destination2']").val(),
                $("select[name='port_discharge3']").val() + ", " + $("select[name='final_destination3']").val()
            ];

            // Remove select plugin instance & re-call
            $.each( $("select[name='product_discharge_port[]']"), function( i, v ) {
                var target = $(this);
                var val = target.val();
                var target2 = target.parent().find(".selectWrap");
                if(target.hasClass(target2.data('id'))) {

                    var options = "";
                    $.each( opts, function(i, v) {
                        if(v !== "") {
                            if(v == val) {
                                options += "<option value='" + v + "' selected='selected'>" + v + "</option>";
                            } else {
                                options += "<option value='" + v + "'>" + v + "</option>";
                            }
                        }
                    });

                    target.removeClass(target2.data('id'));
                    target2.remove();
                    target.show();
                    target.html( options );
                    target.select();
                }
            });
        });
    </script>
{% endblock %}