{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i> Contracts Register</div>
    <ul class="toolbar">
        <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li>
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th></th>
            <th style="width:80px">Contract No.</th>
            <th style="width:80px">Contract Date</th>
            <th>PO No.</th>
            <th>Buyer</th>
            <th>Destination</th>
            <th>Delivery Terms</th>
            <th>Payment Terms</th>
            <th style="width:60px">Dollor Exchange Rate (USD)</th>
            <!-- <th style="width:145px">Contract Status</th> -->
        </tr>

        {% for item in Contracts %}
            <tr class="contract-row">
                <td class="toggle-icon"><i class="ti-plus"></i></td>
                <td>{{ item.contract_no | default('undefined') }}</td>
                <td>{{ item.contract_date|date("d-m-Y") }}</td>
                <td>{{ item.purchase_order_no }}</td>
                <td>{{ item.importer.name }}</td>
                <td>{{ item.final_destination }}</td>
                <td>{{ item.delivery_terms }}</td>
                <td>{{ item.payment_terms }}</td>
                <td>{{ item.dollor_exchange_rate }}</td>
                <!-- <td class="text-center" style="padding:0 !important">
                    <span style="display:inline-block;text-align:center;color:#fff;width:30px;background-color:#42CB6F;padding:2px 0;">DO</span>
                    <span style="display:inline-block;text-align:center;color:#fff;width:30px;background-color:#FCCE54;padding:2px 0;">RM</span>
                    <span style="display:inline-block;text-align:center;color:#fff;width:30px;background-color:#ED5F55;padding:2px 0;">SF</span>
                    <span style="display:inline-block;text-align:center;color:#fff;width:30px;background-color:#ED5F55;padding:2px 0;">DL</span>
                </td> -->
            </tr>
            <tr class="sub-contract-row invisible">
                <td></td>
                <td colspan="20">
                    <table class="table">
                        <tr>
                            <th>Shipment</th>
                            <th>Product</th>
                            <th>Specification</th>
                            <th>Packaging Details</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>Total</th>
                        </tr>

                        {% set total_amount = 0 %}
                        {% for shipment in item.shipments %}
                            {% for product in shipment.products %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ loop.length }}">
                                            <a href="{{ url('contract/edit/' ~ shipment.Id ) }}" class="link">
                                            Contract No : {{ item.contract_no | default('undefined') }} - {{ shipment.shipment_code }}<br>
                                            Shipment : {{ shipment.eta }}<br>
                                            Container Size : {% if loop.first %}
                                                    {% set container_exists = false %}
                                                    {% if shipment.container_size[0] > 0 %}
                                                        {{ shipment.container_size[0] }} X 20'
                                                        {% set container_exists = true %}
                                                    {% endif %}
                                                    {% if shipment.container_size[1] > 0 %}
                                                        {% if container_exists %}
                                                        ,
                                                        {% endif %}
                                                        {{ shipment.container_size[1] }} X 40'
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    <td>{{ product.product.name }}</td>
                                    <td>{{ product.specification }}</td>
                                    <td>{{ product.package_type }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.rate }}</td>
                                    <td>{{ product.total_amount }}</td>

                                    {% set total_amount = total_amount + product.total_amount %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td rowspan="{{ loop.length }}">
                                        <a href="{{ url('contract/edit/' ~ shipment.Id ) }}" style="color:#0080C0">Contract No : {{ item.contract_no | default('undefined') }} - {{ shipment.shipment_code }}<br>
                                        ETA : {{ shipment.eta }}<br>
                                        Container Size : {% if loop.first %}
                                                    {% set container_exists = false %}
                                                    {% if shipment.container_size[0] > 0 %}
                                                        {{ shipment.container_size[0] }} X 20'
                                                        {% set container_exists = true %}
                                                    {% endif %}
                                                    {% if shipment.container_size[1] > 0 %}
                                                        {% if container_exists %}
                                                        ,
                                                        {% endif %}
                                                        {{ shipment.container_size[1] }} X 40'
                                                    {% endif %}
                                                {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}

                        <tr>
                            <th></th><th></th><th></th><th></th><th></th><th></th>
                            <th class="text-right text-bold">{{ total_amount }}</th>
                        </tr>
                    </table>
                    <a href="{{ url('contract/new/shipment/' ~ item.Id) }}" class="btn-purple mt5"><i class="ti-plus"></i> Add New Shipment</a>
                    <a href="{{ url('contract/remove/' ~ item.Id) }}" class="btn-red mt5 confirm-delete"><i class="ti-plus"></i> Permanently Remove Contract</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}