{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i> Contracts Register 2nd</div>
    <ul class="toolbar">
        <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li>
    </ul>
{% endblock %}

{% block content %}
    <style>
        .table td.green-signal {
            background-color: seagreen;
            padding: 0;
        }
        .table td.red-signal {
            background-color: palevioletred;
            padding: 0;
        }
        .table td.green-signal a,
        .table td.red-signal a {
            display: block;
            margin: 0;
            padding: 7px 0;
            height: 100%;
            width: 100%;
            color: transparent;
        }

        .table td {
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    </style>

    <div class="panel" style="padding: 5px;display: none;">
        <form action="" method="get">
            <strong style="vertical-align:text-bottom">Filter</strong>
            <select name="filter">
                <option value="incomplete" {% if Filter == 'incomplete' %} selected='selected' {% endif %}>Incomplete</option>
                <option value="delivery" {% if Filter == 'delivery' %} selected='selected' {% endif %}> &nbsp;&nbsp;&nbsp;&nbsp; - Delivery Order Phase</option>
                <option value="rawmaterial" {% if Filter == 'rawmaterial' %} selected='selected' {% endif %}> &nbsp;&nbsp;&nbsp;&nbsp; - Raw Material Phase</option>
                <option value="stuffing" {% if Filter == 'stuffing' %} selected='selected' {% endif %}> &nbsp;&nbsp;&nbsp;&nbsp; - Stuffing Phase</option>
                <option value="complete" {% if Filter == 'complete' %} selected='selected' {% endif %}>Completed</option>
            </select>
            <button class="btn" style="vertical-align: top"><i class="ti-search"></i></button>
        </form>

        <!-- /
        <input type="text" class="datepick" value="{{ now|date('01-m-Y') }}" style="width: 100px">
        <input type="text" class="datepick" value="{{ now|date('d-m-Y') }}" style="width: 100px">
        <button class="btn" style="vertical-align: middle"><i class="ti-search"></i></button> -->
    </div>

    <table class="table mt20" id="datatable">
        <thead>
            <tr>
                <th>Sr.</th>
                <th style="width:80px">Contract No.</th>
                <th style="width:80px">Contract Date</th>
                <th>CI No.</th>
                <th>Buyer</th>
                <th>Destination</th>
                <th>Products</th>
                <th>Shipment</th>
                <th style="width:10px">DO</th>
                <th style="width:10px">RM</th>
                <th style="width:10px">SF</th>
                <th style="width:10px">CI</th>
                {#<th>Delivery Terms</th>#}
                {#<th>Payment Terms</th>#}
                <th style="width:60px">Dollor<br>Exchange<br>Rate (USD)</th>
                <th style="width: 10px;">Duplicate</th>
                <!-- <th style="width:60px">Next Steps</th> -->
            </tr>
        </thead>

        <tbody>
            {% for item in Contracts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url('contract/edit/' ~ item.Id) }}" class="link">
                        {% if item.contract.contract_type == "single" %}
                            {{ item.contract.contract_no | default('undefined') }}
                        {% else %}
                            {{ item.contract.contract_no | default('undefined') }}-{{ item.shipment_code }}
                        {% endif %}
                    </a></td>
                    <td>{{ item.contract.contract_date|date('Y-m-d') }}</td>
                    <td>{{ item.comm_invoice_no }}</td>
                    <td>{{ item.contract.importer.name }}</td>
                    <td>{{ item.contract.final_destination }}</td>
                    <td>
                        {% for product in  item.products %}
                            {{  product.product.name }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ item.eta }}</td>

                    {# Phase Signals #}
                    {% if item.deliveryorder.do_date is not empty and item.deliveryorder.do_date != "0000-00-00 00:00:00" %}
                        <td class="green-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#doTab') }}">1</a></td>
                    {% else %}
                        <td class="red-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#doTab') }}">0</a></td>
                    {% endif %}

                    {% if item.rawmaterial is not empty %}
                        <td class="green-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#rawMaterialTab') }}">1</a></td>
                    {% else %}
                        <td class="red-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#rawMaterialTab') }}">0</a></td>
                    {% endif %}

                    {% if item.stuffing_phase == 1 %}
                        <td class="green-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#stuffingTab') }}">1</a></td>
                    {% else %}
                        <td class="red-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#stuffingTab') }}">0</a></td>
                    {% endif %}
                    
                    {% if item.comm_invoice_no is not empty %}
                        <td class="green-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#paymentTab') }}">1</a></td>
                    {% else %}
                        <td class="red-signal"><a href="{{ url('contract/edit/' ~ item.Id ~ '#paymentTab') }}">0</a></td>
                    {% endif %}
                    
                    {# Phase Signals Ends #}

                    {#<td>{{ item.contract.delivery_terms }}</td>#}
                    {#<td>{{ item.contract.payment_terms }}</td>#}
                    <td>{{ item.contract.dollor_exchange_rate }}</td>
                    <td><a href="{{ url('contract/duplicate/' ~ item.Id) }}" class="btn btn-teal" style="font-size:10px"><i class="ti-share"></i></a></td>
                    <!-- <td style="font-size: 10px;">
                        <a href="#" class="link">Take Delivery Order</a><br>
                        <a href="#" class="link">Order Raw Material</a>
                    </td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}