{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-plus"></i> Add New Contract</div>
    <ul class="toolbar">
        <li><a href="{{ url('contracts') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="hintBlock">Press <span>+</span> (Plus sign) for adding new item for current element.</div>

    <form action="{{ url('contract') }}" method='post' class="form" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="">Contract No.</label>
                    <input type="text" name="contract_no">
                </div>

                <div class="form-group">
                    <label>Contract Date</label>
                    <input type="text" class="datepick" name="contract_date" value="{{ "now"|date("d-m-Y") }}">
                </div>

                <div class="form-group">
                    <label>Surveyor Company</label>
                    <select name="surveyor_id" data-add-url="{{ url('quick/add/surveyor') }}">
                        <option value=""></option>
                        {% for item in Surveyors %}
                            {% if Contract.surveyor_id == item.Id %}
                                <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Purchase Order No.</label>
                    <input type="text" name="purchase_order_no">
                    <input type="file" name="file[]" multiple="true" style="width:110px">
                </div>

                <hr>

                <div class="form-group">
                    <label>Buyer</label>
                    <select name="importer_id" id="importer_select" data-add-url="{{ url('quick/add/importer') }}" data-buyer="true">
                        <option value=""></option>
                        {% for item in Importers %}
                            {% if Contract.importer_id == item.Id %}
                                <option value="{{ item.Id }}" data-address="{{ item.address }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.Id }}" data-address="{{ item.address }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Buyer's Address</label>
                    <textarea name="importer_address" id="importer_address">{{ Contract.importer_address }}</textarea>
                </div>

                <div class="form-group">
                    <label>Notifier Party</label>
                    <textarea name="notifier_party_address" id="notifier-party-address">{{ Contract.notifier_party }}</textarea>
                </div>

                <div class="form-group">
                    <label>Consignee Party</label>
                    <textarea name="consignee_party_address" id="consignee-party-address">{{ Contract.consignee_party }}</textarea>
                </div>
            </div><!-- Left Side Column Ends -->

            <div class="col-6" style="padding-left:30px">
                <div class="form-group">
                    <label>Loading Port</label>
                    <select name="port_loading" data-add-url="{{ url('quick/add/port') }}">
                        <option value=""></option>
                        {% for item in Ports %}
                            {% if Contract.port_loading == item.Id %}
                                <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <hr>

                <div class="form-group">
                    <div class="row mt20">
                        <div class="col-6 text-center"><label>Discharge Port</label></div>
                        <div class="col-6 text-center"><label>Final Destination</label></div>
                    </div>
                    <div class="row mt5">
                        <div class="col-6">
                            <select name="port_discharge" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                <option value=""></option>
                                {% for item in DischargePorts %}
                                    {% if Contract.port_discharge == item.name %}
                                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="final_destination" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                <option value=""></option>
                                {% for item in FinalDestinations %}
                                    {% if Contract.final_destination == item.name %}
                                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row mt5">
                        <div class="col-6">
                            <select name="port_discharge2" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                <option value=""></option>
                                {% for item in DischargePorts %}
                                    {% if Contract.port_discharge2 == item.name %}
                                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="final_destination2" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                <option value=""></option>
                                {% for item in FinalDestinations %}
                                    {% if Contract.final_destination2 == item.name %}
                                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row mt5">
                        <div class="col-6">
                            <select name="port_discharge3" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                <option value=""></option>
                                {% for item in DischargePorts %}
                                    {% if Contract.port_discharge3 == item.name %}
                                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="final_destination3" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                <option value=""></option>
                                {% for item in FinalDestinations %}
                                    {% if Contract.final_destination3 == item.name %}
                                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label>Destination Country</label>
                    <select name="final_destination_country" id="" data-add-url="{{ url('quick/add/country') }}">
                        <option value=""></option>
                        {% for item in Countries %}
                            {% if Contract.final_destination_country == item.Id %}
                                <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Delivery Terms</label>
                    <!-- <input type="text" name="delivery_terms"> -->
                    <select name="delivery_terms" id="" data-add-url="{{ url('quick/add/deliveryterm') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in DeliveryTerms %}
                            {% if Contract.delivery_terms == item.name %}
                                <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <hr>

                <div class="form-group">
                    <label for="">Payment Terms</label>
                    <!-- <input type="text" name="payment_terms"> -->
                    <select name="payment_terms" id="" data-add-url="{{ url('quick/add/paymentterm') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in PaymentTerms %}
                            {% if Contract.payment_terms == item.name %}
                                <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <style>
                    .dollor_exchange_rate_wrap .selectWrap button {
                        width: 140px;
                    }
                </style>
                <div class="form-group dollor_exchange_rate_wrap">
                    <label for="">Dollor Exchange Rate</label>
                    <input type="text" name="dollor_exchange_rate">
                    <select name="currency" style="width:50px">
                        <option value="usd" {% if Contract.currency == 'usd' %} selected="selected" {% endif %}>USD</option>
                        <option value="euro" {% if Contract.currency == 'euro' %} selected="selected" {% endif %}>EURO</option>
                        <option value="inr" {% if Contract.currency == 'inr' %} selected="selected" {% endif %}>INR</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label>Quotation Freight <br>(Per Container)</label>
                    <input type="text" name="quotation_freight[]" placeholder="20'" style="width:80px;vertical-align:top;">
                    <input type="text" name="quotation_freight[]" placeholder="40'" style="width:80px;vertical-align:top;">
                </div> -->
            </div><!-- Right Side Column Ends -->
        </div>

        <!-- SHIPMENT DETAIL -->
        <hr>
        <center><h3 style="font-weight:bold; color: #888;">Shipment Detail</h3></center>

        <table class="table mt20 products_table">
                    <thead>
                        <th></th>
                        <th>Shipment A</th>
                        <th>Shipment B</th>
                        <th>Shipment C</th>
                        <th>Shipment D</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Shipment</td>
                            <td class="input"><input type="text" name="etaA"><input type="hidden" name="shipment_codeA" value="A"></td>
                            <td class="input"><input type="text" name="etaB"><input type="hidden" name="shipment_codeB" value="B"></td>
                            <td class="input"><input type="text" name="etaC"><input type="hidden" name="shipment_codeC" value="C"></td>
                            <td class="input"><input type="text" name="etaD"><input type="hidden" name="shipment_codeD" value="D"></td>
                        </tr>
                        <tr>
                            <td>Container Size</td>
                            <td class="input"><input type="text" name="container_sizeA[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="container_sizeA[]" placeholder="40'" style="width: 49%"></td>
                            <td class="input"><input type="text" name="container_sizeB[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="container_sizeB[]" placeholder="40'" style="width: 49%"></td>
                            <td class="input"><input type="text" name="container_sizeC[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="container_sizeC[]" placeholder="40'" style="width: 49%"></td>
                            <td class="input"><input type="text" name="container_sizeD[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="container_sizeD[]" placeholder="40'" style="width: 49%"></td>
                            
                        </tr>
                        <tr>
                            <td>Discharge Port</td>
                            <td class="input">
                                <select name="discharge_portA">
                                    <option value="">Default</option>
                                </select>
                            </td>
                            <td class="input">
                                <select name="discharge_portB">
                                    <option value="">Default</option>
                                </select>
                            </td>
                            <td class="input">
                                <select name="discharge_portC">
                                    <option value="">Default</option>
                                </select>
                            </td>
                            <td class="input">
                                <select name="discharge_portD">
                                    <option value="">Default</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Quotation Freight</td>
                            <td class="input"><input type="text" name="quotation_freightA[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="quotation_freightA[]" placeholder="40'" style="width: 49%"></td>
                            <td class="input"><input type="text" name="quotation_freightB[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="quotation_freightB[]" placeholder="40'" style="width: 49%"></td>
                            <td class="input"><input type="text" name="quotation_freightC[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="quotation_freightC[]" placeholder="40'" style="width: 49%"></td>
                            <td class="input"><input type="text" name="quotation_freightD[]" placeholder="20'" style="width: 49%">&nbsp;<input type="text" name="quotation_freightD[]" placeholder="40'" style="width: 49%"></td>
                        </tr>
                        <tr>
                            <td>Extra Shipment Notes</td>
                            <td class="input"><textarea style="width: 100%" name="notesA"></textarea></td>
                            <td class="input"><textarea style="width: 100%" name="notesB"></textarea></td>
                            <td class="input"><textarea style="width: 100%" name="notesC"></textarea></td>
                            <td class="input"><textarea style="width: 100%" name="notesD"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="shipment_code" value="A">

        <br><br>
        <button type='button' class="btn-pink" id="quotation-sheet" style="vertical-align: top">QUOTATION SHEET</button>
        <br>

        {#<div class="products_wrap">#}
            {#<div class="product_wrap" style="margin:10px;border:1px solid #ddd;padding:20px">#}
                {#<div class="form-group">#}
                    {#<label>Select Product</label>#}
                    {#<select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">#}
                        {#<option value=""></option>#}
                        {#{% for item in Products %}#}
                            {#<option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Select Packaging</label>#}
                    {#<select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">#}
                        {#<option value=""></option>#}
                        {#{% for item in Packages %}#}
                            {#<option value="{{ item.name }}">{{ item.name }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Product Specifications</label>#}
                    {#<textarea name="specification[]" cols="30" rows="3"></textarea>#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Quantity</label>#}
                    {#<input type="text" name="quantity[]">#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Rate</label>#}
                    {#<input type="text" name="rate[]">#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Amount</label>#}
                    {#<input type="text" name="total_amount[]" readonly="true">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <template id="product-row-template">
            <tr class="product_row">
                <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select></td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"><i class="ti-close remove-product-row"></i></td>
            </tr>
        </template>

        <table class="table mt20 products_table">
            <tr>
                <th style="max-width: 80px !important">Shipment Code.</th>
                <th style="min-width: 100px">Discharge Port</th>
                <th style="min-width: 150px">Product</th>
                <th style="min-width: 150px">Package</th>
                <th>Specification</th>
                <th style="width:50px !important">Qty.</th>
                <th style="max-width:100px">Rate</th>
                <th style="width:50px !important">Amount</th>
                <th></th>
            </tr>
            <tr class="product_row">
                <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select></td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"></td>
            </tr>
            <tr class="product_row">
                <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select></td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"><i class="ti-close remove-product-row"></i></td>
            </tr>
            <tr class="product_row">
                <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select></td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"><i class="ti-close remove-product-row"></i></td>
            </tr>
            <tr class="product_row">
                <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select></td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"><i class="ti-close remove-product-row"></i></td>
            </tr>
            <tr class="product_row">
                <td class="input">
                    <select name="shipment_code[]">
                        <option value="A" selected="selected">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                    </td>
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select></td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:70px"><input type="text" name="quantity[]"></td>
                <td class="input" style="width:70px"><input type="text" name="rate[]"></td>
                <td class="input last_input" style="width:70px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"><i class="ti-close remove-product-row"></i></td>
            </tr>
            <tr>
                <td colspan="20" class="text-center"><button type='button' class='btn-purple add-product-row'><i class='ti-plus'></i> Add Row</button></td>
            </tr>
        </table>

        <div class="form-group mt20">
            <label></label>
            <button type="submit" class="btn"><i class="ti-plus"></i> Add New Contract</button>
        </div>
    </form>

{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            var opts = [
                $("select[name='port_discharge']").val() + ", " + $("select[name='final_destination']").val(),
                $("select[name='port_discharge2']").val() + ", " + $("select[name='final_destination2']").val(),
                $("select[name='port_discharge3']").val() + ", " + $("select[name='final_destination3']").val()
            ];

            // Remove select plugin instance & re-call
            $.each( $("select[name='product_discharge_port[]']"), function( i, v ) {
                var target = $(this);
                var val = target.val();
                var target2 = target.parent().find(".selectWrap");
                if(target.hasClass(target2.data('id'))) {

                    var options = "";
                    $.each( opts, function(i, v) {
                        if(v !== "") {
                            if(v == val) {
                                options += "<option value='" + v + "' selected='selected'>" + v + "</option>";
                            } else {
                                options += "<option value='" + v + "'>" + v + "</option>";
                            }
                        }
                    });

                    target.removeClass(target2.data('id'));
                    target2.remove();
                    target.show();
                    target.html( options );
                    target.select();
                }
            });
        });

        $(function(){
            var opts = [
                $("select[name='port_discharge']").val() + ", " + $("select[name='final_destination']").val(),
                $("select[name='port_discharge2']").val() + ", " + $("select[name='final_destination2']").val(),
                $("select[name='port_discharge3']").val() + ", " + $("select[name='final_destination3']").val()
            ];

            var val = $("select[name='discharge_portA']").val();
            var target = $("select[name='discharge_portA']");
            var target2 = target.parent().find(".selectWrap");
            if(target.hasClass(target2.data('id'))) 
            {
                var options = "";
                $.each( opts, function(i, v) {
                    if(v !== "") {
                        if(v == val) {
                            options += "<option value='" + v + "' selected='selected'>" + v + "</option>";
                        } else {
                            options += "<option value='" + v + "'>" + v + "</option>";
                        }
                    }
                });

                target.removeClass(target2.data('id'));
                target2.remove();
                target.show();
                target.html( options );
                target.select();
            }

            var val = $("select[name='discharge_portB']").val();
            var target = $("select[name='discharge_portB']");
            var target2 = target.parent().find(".selectWrap");
            if(target.hasClass(target2.data('id'))) 
            {
                var options = "";
                $.each( opts, function(i, v) {
                    if(v !== "") {
                        if(v == val) {
                            options += "<option value='" + v + "' selected='selected'>" + v + "</option>";
                        } else {
                            options += "<option value='" + v + "'>" + v + "</option>";
                        }
                    }
                });

                target.removeClass(target2.data('id'));
                target2.remove();
                target.show();
                target.html( options );
                target.select();
            }

            var val = $("select[name='discharge_portC']").val();
            var target = $("select[name='discharge_portC']");
            var target2 = target.parent().find(".selectWrap");
            if(target.hasClass(target2.data('id'))) 
            {
                var options = "";
                $.each( opts, function(i, v) {
                    if(v !== "") {
                        if(v == val) {
                            options += "<option value='" + v + "' selected='selected'>" + v + "</option>";
                        } else {
                            options += "<option value='" + v + "'>" + v + "</option>";
                        }
                    }
                });

                target.removeClass(target2.data('id'));
                target2.remove();
                target.show();
                target.html( options );
                target.select();
            }

            var val = $("select[name='discharge_portD']").val();
            var target = $("select[name='discharge_portD']");
            var target2 = target.parent().find(".selectWrap");
            if(target.hasClass(target2.data('id'))) 
            {
                var options = "";
                $.each( opts, function(i, v) {
                    if(v !== "") {
                        if(v == val) {
                            options += "<option value='" + v + "' selected='selected'>" + v + "</option>";
                        } else {
                            options += "<option value='" + v + "'>" + v + "</option>";
                        }
                    }
                });

                target.removeClass(target2.data('id'));
                target2.remove();
                target.show();
                target.html( options );
                target.select();
            }  
        });
    </script>
{% endblock %}