{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-plus"></i> Add New Shipment</div>
{% endblock %}

{% block content %}

        <div class="text-center"><h2>Contract No. : {{ Contract.contract_no }}</h2></div>

        <form action="{{ url('contract/new/shipment') }}" method='post' class="form">
            <input type="hidden" name="contract_id" value="{{ Contract.Id }}">

            <div class="form-group">
                <label>Shipment Code</label>
                <input type="text" name="shipment_code" value="B">
            </div>

            <div class="form-group">
                <label>ETA</label>
                <input type="text" name="eta">
            </div>
            
            <!-- <div class="form-group">
                <label>Container Size</label>
                <select name="container_size" id="" data-add-url="{{ url('quick/add/containersize') }}" data-name-as-value="true">
                    {% for item in ContainerSizes %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div> -->

            <div class="form-group">
                <label>Container Size</label>
                <input type="text" name="container_size[]" placeholder="20'" style="width:80px">
                <input type="text" name="container_size[]" placeholder="40'" style="width:80px">
            </div>

            <div class="form-group">
                <label>Extra Shipment Notes</label>
                <textarea name="notes" cols="30" rows="10"></textarea>
            </div>

            <br><br>
            <button type='button' class="btn-pink" id="quotation-sheet" style="vertical-align: top">QUOTATION SHEET</button>
            <br>

            <template id="product-row-template">
                <td class="input"><select name="product_discharge_port[]">
                        {% for item in dischargePorts %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select></td>
                <tr class="product_row">
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
            </template>

            <table class="table mt20 products_table">
                <tr>
                    <th style="min-width: 100px">Discharge Port</th>
                    <th style="min-width: 150px">Product</th>
                    <th style="min-width: 150px">Package</th>
                    <th>Specification</th>
                    <th style="width:50px !important">Qty.</th>
                    <th style="width:50px">Rate</th>
                    <th style="width:50px !important">Amount</th>
                    <th></th>
                </tr>
                <tr class="product_row">
                    <td class="input"><select name="product_discharge_port[]">
                            {% for item in dischargePorts %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"></td>
                </tr>
                <tr class="product_row">
                    <td class="input"><select name="product_discharge_port[]">
                            {% for item in dischargePorts %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                <tr class="product_row">
                    <td class="input"><select name="product_discharge_port[]">
                            {% for item in dischargePorts %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                <tr class="product_row">
                    <td class="input"><select name="product_discharge_port[]">
                            {% for item in dischargePorts %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="text" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                <tr class="product_row">
                    <td class="input"><select name="product_discharge_port[]">
                            {% for item in dischargePorts %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:70px"><input type="text" name="quantity[]"></td>
                    <td class="input" style="width:70px"><input type="text" name="rate[]"></td>
                    <td class="input last_input" style="width:70px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                <tr>
                    <td colspan="20" class="text-center"><button type="button" class="btn-purple add-product-row"><i class="ti-plus"></i> Add Row</button></td>
                </tr>
            </table>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn"><i class="ti-plus"></i> Add Shipment</button>
            </div>
        </form>

{% endblock %}
