{% extends 'layouts/standard.twig' %}
    
{% block header %}
    <div class="title"><i class="ti-plus"></i> Add New Contract</div>
    <ul class="toolbar">
        <li><a href="{{ url('contracts') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}
        
        <style type="text/css">
            .selectbox { width: 200px !important; }
        </style>    
    
        <div class="hintBlock">Press <span>+</span> (Plus sign) for adding new item for current element.</div>

        <form action="{{ url('contract') }}" method='post' class="form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Contract No.</label>
                        <input type="text" name="contract_no">
                    </div>

                    <div class="form-group">
                        <label>Contract Date</label>
                        <input type="text" class="datepick" name="contract_date" value="{{ "now"|date("d-m-Y") }}">
                    </div>

                    <div class="form-group">
                        <label>Surveyor Company</label>
                        <select name="surveyor_id" data-add-url="{{ url('quick/add/surveyor') }}">
                            <option value=""></option>
                            {% for item in Surveyors %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Purchase Order No.</label>
                        <input type="text" name="purchase_order_no">
                        <input type="file" name="file[]" multiple="true" style="width:110px">
                    </div>

                    <hr>

                    <div class="form-group">
                        <label>Buyer</label>
                        <select name="importer_id" id="importer_select" data-add-url="{{ url('quick/add/importer') }}" data-buyer="true" required>
                            <option value=""></option>
                            {% for item in Importers %}
                                <option value="{{ item.Id }}" data-address="{{ item.address }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Buyer's Address</label>
                        <textarea name="importer_address" id="importer_address"></textarea>
                    </div>

                    <div class="form-group">
                        <label></label>
                        <label for="notifier-party" style="width:inherit;margin-top:15px" class="checkboxLabel">
                            <input type="checkbox" id="notifier-party" name="notifier_party" checked="checked">
                            Same party as notifier party
                            <div class="fake"></div>
                        </label>
                        <textarea style="margin-left:194px;display:none;" name="notifier_party_address" id="notifier-party-address"></textarea>
                        {#<button class="btn btn-primary" type="button" id="getPrevAddr">Get Previous Address</button>#}
                    </div>

                    <div class="form-group">
                        <label></label>
                        <label for="consignee-party" style="width:inherit" class="checkboxLabel">
                            <input type="checkbox" id="consignee-party" name="consignee_party" checked="checked">
                            Same party as consignee party
                            <div class="fake"></div>
                        </label>
                        <textarea style="margin-left:194px;display:none;" name="consignee_party_address" id="consignee-party-address"></textarea>
                    </div>
                </div><!-- Left Side Column Ends -->

                <div class="col-6" style="padding-left:30px">
                    <div class="form-group">
                        <label>Loading Port</label>
                        <select name="port_loading" data-add-url="{{ url('quick/add/port') }}">
                            <option value=""></option>
                            {% for item in Ports %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="row mt20">
                            <div class="col-6 text-center"><label>Discharge Port</label></div>
                            <div class="col-6 text-center"><label>Final Destination</label></div>
                        </div>
                        <div class="row mt5">
                            <div class="col-6">
                                <select name="port_discharge" class="selectbox" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in DischargePorts %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="final_destination" class="selectbox" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in FinalDestinations %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt5">
                            <div class="col-6">
                                <select name="port_discharge2" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in DischargePorts %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="final_destination2" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in FinalDestinations %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt5">
                            <div class="col-6">
                                <select name="port_discharge3" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in DischargePorts %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="final_destination3" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                                    <option value=""></option>
                                    {% for item in FinalDestinations %}
                                        <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label>Destination Country</label>
                        <select name="final_destination_country" id="" data-add-url="{{ url('quick/add/country') }}">
                            <option value=""></option>
                            {% for item in Countries %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Delivery Terms</label>
                        <!-- <input type="text" name="delivery_terms"> -->
                        <select name="delivery_terms" id="" data-add-url="{{ url('quick/add/deliveryterm') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DeliveryTerms %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="">Payment Terms</label>
                        <!-- <input type="text" name="payment_terms"> -->
                        <select name="payment_terms" id="" data-add-url="{{ url('quick/add/paymentterm') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in PaymentTerms %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <style>
                        .dollor_exchange_rate_wrap .selectWrap button {
                            width: 140px;
                        }
                    </style>
                    <div class="form-group dollor_exchange_rate_wrap">
                        <label for="">Dollor Exchange Rate</label>
                        <input type="number" step="any" name="dollor_exchange_rate">
                        <select name="currency" style="width:50px">
                            <option value="usd">USD</option>
                            <option value="euro">EURO</option>
                            <option value="inr">INR</option>
                        </select>
                    </div>

                </div><!-- Right Side Column Ends -->
            </div>

            <!-- SHIPMENT DETAIL -->
            <hr>
            <center><h3 style="font-weight:bold; color: #888;">Shipment Detail</h3></center>
                <table class="table mt20 products_table">
                    <thead>
                        <th></th>
                        <th>Shipment A</th>
                        <th>Shipment B</th>
                        <th>Shipment C</th>
                        <th>Shipment D</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Shipment</td>
                            <td class="input"><input type="text" name="etaA"><input type="hidden" name="shipment_codeA" value="A"></td>
                            <td class="input"><input type="text" name="etaB"><input type="hidden" name="shipment_codeB" value="B"></td>
                            <td class="input"><input type="text" name="etaC"><input type="hidden" name="shipment_codeC" value="C"></td>
                            <td class="input"><input type="text" name="etaD"><input type="hidden" name="shipment_codeD" value="D"></td>
                        </tr>
                        <tr>
                            <td>Container Size</td>
                            <td class="input">
                                <input type="number" step="any" name="container_sizeA[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="container_sizeA[]" placeholder="40'" style="width: 48%">
                            </td>
                            <td class="input">
                                <input type="number" step="any" name="container_sizeB[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="container_sizeB[]" placeholder="40'" style="width: 48%">
                            </td>
                            <td class="input">
                                <input type="number" step="any" name="container_sizeC[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="container_sizeC[]" placeholder="40'" style="width: 48%">
                            </td>
                            <td class="input">
                                <input type="number" step="any" name="container_sizeD[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="container_sizeD[]" placeholder="40'" style="width: 48%">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Discharge Port</td>
                            <td class="input">
                                <select name="discharge_portA">
                                    <option value="">Default</option>
                                </select>
                            </td>
                            <td class="input">
                                <select name="discharge_portB">
                                    <option value="">Default</option>
                                </select>
                            </td>
                            <td class="input">
                                <select name="discharge_portC">
                                    <option value="">Default</option>
                                </select>
                            </td>
                            <td class="input">
                                <select name="discharge_portD">
                                    <option value="">Default</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Quotation Freight</td>
                            <td class="input">
                                <input type="number" step="any" name="quotation_freightA[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="quotation_freightA[]" placeholder="40'" style="width: 48%">
                            </td>
                            <td class="input">
                                <input type="number" step="any" name="quotation_freightB[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="quotation_freightB[]" placeholder="40'" style="width: 48%">
                            </td>
                            <td class="input">
                                <input type="number" step="any" name="quotation_freightC[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="quotation_freightC[]" placeholder="40'" style="width: 48%">
                            </td>
                            <td class="input">
                                <input type="number" step="any" name="quotation_freightD[]" placeholder="20'" style="width: 48%">&nbsp;
                                <input type="number" step="any" name="quotation_freightD[]" placeholder="40'" style="width: 48%">
                            </td>
                        </tr>
                        <tr>
                            <td>Extra Shipment Notes</td>
                            <td class="input"><textarea style="width: 100%" name="notesA"></textarea></td>
                            <td class="input"><textarea style="width: 100%" name="notesB"></textarea></td>
                            <td class="input"><textarea style="width: 100%" name="notesC"></textarea></td>
                            <td class="input"><textarea style="width: 100%" name="notesD"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            <input type="hidden" name="shipment_code" value="A">
            <br><br>
            <button type='button' class="btn-pink" id="quotation-sheet" style="vertical-align: top">QUOTATION SHEET</button>
            <br>

            <template id="product-row-template">
                <tr class="product_row">
                    <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td class="input"><select name="product_discharge_port[]">
                            <option value="">Default</option>
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
            </template>

            <table class="table mt20 products_table">
                <tr>
                    <th style="max-width: 80px !important">Shipment Code.</th>
                    <th style="min-width: 100px">Discharge Port</th>
                    <th style="min-width: 150px">Product</th>
                    <th style="min-width: 150px">Package</th>
                    <th>Specification</th>
                    <th style="width:50px !important">Qty.</th>
                    <th style="max-width:100px">Rate</th>
                    <th style="width:50px !important">Amount</th>
                    <th></th>
                </tr>
                <tr class="product_row">
                    <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td class="input"><select name="product_discharge_port[]">
                            <option value="">Default</option>
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"></td>
                </tr>
                
                <tr class="product_row">
                    <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td class="input"><select name="product_discharge_port[]">
                            <option value="">Default</option>
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                <tr class="product_row">
                    <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            
                        </select>
                    </td>
                    <td class="input">
                        <select name="product_discharge_port[]">
                            <option value="">Default</option>
                        </select>
                    </td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                
                <tr class="product_row">
                    <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            
                        </select>
                    </td>
                    <td class="input"><select name="product_discharge_port[]">
                            <option value="">Default</option>
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="rate[]"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                
                <tr class="product_row">
                    <td class="input">
                        <select name="shipment_code[]">
                            <option value="A" selected="selected">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td class="input"><select name="product_discharge_port[]">
                            <option value="">Default</option>
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]"></td>
                    <td class="input" style="width:70px"><input type="number" step="any" name="quantity[]"></td>
                    <td class="input" style="width:70px"><input type="number" step="any" name="rate[]"></td>
                    <td class="input last_input" style="width:70px"><input type="text" name="total_amount[]" readonly="true"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
                <tr>
                    <td colspan="20" class="text-center"><button type='button' class='btn-purple add-product-row'><i class='ti-plus'></i> Add Row</button></td>
                </tr>
            </table>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn"><i class="ti-plus"></i> Add New Contract</button>
            </div>
        </form>

{% endblock %}
