<div class="panel tab" id="packagingTab">
    <form action="{{ url('shipment/edit/' ~ Contract.shipment.Id ) }}" method='post' class="form">
        <input type="hidden" name="contract_id" value="{{ Contract.Id }}">

        <div class="form-group">
            <label>Shipment Code</label>
            <input type="text" name="shipment_code" value="{{ Contract.shipment.shipment_code }}">
        </div>

        <div class="form-group">
            <label>Shipment</label>
            <input type="text" name="eta" value="{{ Contract.shipment.eta }}">
        </div>

        <div class="form-group">
            <label>Container Size</label>
            <!-- <select name="container_size" data-add-url="{{ url('quick/add/containersize') }}" data-name-as-value="true">
                {% for item in ContainerSizes %}
                    {% if item.name == Contract.shipment.container_size %}
                        <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                    {% else %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endif %}
                {% endfor %}
            </select> -->
            <input type="number" step="any" name="container_size[]" placeholder="20'" style="width:80px" value="{{ Contract.shipment.container_size[0] }}">
            <input type="number" step="any" name="container_size[]" placeholder="40'" style="width:80px" value="{{ Contract.shipment.container_size[1] }}">
            <br>
            <label></label>
            <label style="display:inline-block;width:80px;text-align:center;color:#888;font-size:12px;">20' Container</label>
            <label style="display:inline-block;width:80px;text-align:center;color:#888;font-size:12px;margin-left:-10px;">40' Container</label>
        </div>
        <div class="form-group">
            <label>Quotation Freight (Per Container)</label>
            <input type="number" step="any" name="quotation_freight[]" placeholder="20'" style="width:80px" value="{{ Contract.shipment.quotation_freight[0] }}">
            <input type="number" step="any" name="quotation_freight[]" placeholder="40'" style="width:80px" value="{{ Contract.shipment.quotation_freight[1] }}">
            <br>
            <label></label>
            <label style="display:inline-block;width:80px;text-align:center;color:#888;font-size:12px;">20' Container</label>
            <label style="display:inline-block;width:80px;text-align:center;color:#888;font-size:12px;margin-left:-10px;">40' Container</label>
        </div>

        <br>
        <div class="form-group">
            <label>Extra Shipment Notes</label>
            <textarea name="notes" cols="30" rows="10">{{  Contract.shipment.notes }}</textarea>
        </div>

        <br><br>
        <button type='button' class="btn-pink" id="quotation-sheet" style="vertical-align: top">QUOTATION SHEET</button>
        <br>

        <template id="product-row-template">
            <tr class="product_row">
                <td class="input"><select name="product_discharge_port[]">
                        <option value="">Default</option>
                    </select>
                </td>
                <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                        {% endfor %}
                </select></td>
                <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                    <option value=""></option>
                    {% for item in Packages %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                </select></td>
                <td class="input"><input type="text" name="specification[]"></td>
                <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]"></td>
                <td class="input" style="width:50px"><input type="number" step="any" name="rate[]"></td>
                <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true"></td>
                <td class="action"><i class="ti-close remove-product-row"></i></td>
            </tr>
        </template>

        <table class="table mt20 products_table">
            <tr>
                <th style="min-width: 100px">Discharge Port</th>
                <th style="min-width: 150px;">Product</th>
                <th style="min-width: 150px;">Package</th>
                <th>Specification</th>
                <th style="max-width:50px !important">Qty.</th>
                <th style="max-width:100px">Rate</th>
                <th style="max-width:50px !important">Amount</th>
                <th></th>
            </tr>

            {% for product in Contract.shipment.products %}
                <tr class="product_row">
                    <td class="input"><select name="product_discharge_port[]">
                            {% for item in productDischargePorts %}
                                {% if item == product.discharge_port %}
                                    <option value="{{ item }}" selected="selected">{{ item }}</option>
                                {% else %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endif %}
                            {% endfor %}
                        </select></td>
                    <td class="input"><select name="product_id[]" data-add-url="{{ url('quick/add/product') }}">
                        <option value=""></option>
                        {% for item in Products %}
                            {% if item.Id == product.product_id %}
                                <option value="{{ item.Id }}" selected="selected">{{ item.name }} - {{ item.hs_code }}</option>
                            {% else %}
                                <option value="{{ item.Id }}">{{ item.name }} - {{ item.hs_code }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></td>
                    <td class="input"><select name="package[]" data-add-url="{{ url('quick/add/package') }}" data-name-as-value="true">
                        <option value=""></option>
                        {% for item in Packages %}
                            {% if item.name == product.package_type %}
                                <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></td>
                    <td class="input"><input type="text" name="specification[]" value="{{ product.specification }}"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="quantity[]" value="{{ product.quantity }}"></td>
                    <td class="input" style="width:50px"><input type="number" step="any" name="rate[]" value="{{ product.rate }}"></td>
                    <td class="input last_input" style="width:50px"><input type="text" name="total_amount[]" readonly="true" value="{{ product.total_amount }}"></td>
                    <td class="action"><i class="ti-close remove-product-row"></i></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="20" class="text-center"><button type='button' class='btn-purple add-product-row'><i class='ti-plus'></i> Add Row</button></td>
            </tr>
        </table>

        <div class="form-group mt20">
            <label></label>
            <button type="submit" class="btn"><i class="ti-plus"></i> Update Shipment Detail</button>
        </div>
    </form>
</div>
