<div class="panel tab" id="paymentTab">
    
    <form action="{{ url('shipment/comminvoice/' ~ Contract.shipment.Id ) }}" method='post' class="form">
		<input type="hidden" name="contract_id" value="{{ Contract.Id }}">
        <div class="row">
            <div class="col-6">
            {% if Contract.shipment.company_detail == "" %}
                <div class="form-group">
                    <label>Manufacturer/ Exporter/ Shipper/ Beneficiary</label>
                    <textarea name="company_detail">{{ Company.name|nl2br }} {{ Company.address }}</textarea>
                </div>
            {% else %}
                <div class="form-group">
                    <label>Manufacturer/ Exporter/ Shipper/ Beneficiary</label>
                    <textarea name="company_detail">{{ Contract.shipment.company_detail }}</textarea>
                </div>
            {% endif %}

            {% if Contract.shipment.beneficiary_bank_detail == "" %}
            <div class="form-group">
                <label>Beneficiary Bank Details:</label>
                <textarea name="beneficiary_bank_detail">{{ Company.bank_name|nl2br }} {{ Company.bank_address }}</textarea>
            </div>   
            {% else %}
            <div class="form-group">
                <label>Beneficiary Bank Details:</label>
                <textarea name="beneficiary_bank_detail">{{ Contract.shipment.beneficiary_bank_detail }}</textarea>
            </div>
            {% endif %}

            {% if Contract.shipment.importer_address == "" or Contract.shipment.importer_address == "0" %}
                <div class="form-group">
                    <label>Buyer's Address</label>
                    <textarea name="importer_address">{{ Contract.importer_address }}</textarea>
                    <!-- <textarea name="importer_address" id="importer_address">{{ Contract.importer.address }}</textarea> -->
                </div>
            {% else %}
                <div class="form-group">
                    <label>Buyer's Address</label>
                    <textarea name="importer_address">{{ Contract.shipment.importer_address }}</textarea>
                </div>
            {% endif %}

            <div class="form-group">
                <label>Buyer Bank Name.:</label>
                <input type="text" name="comm_bank_no" value="{{ Contract.shipment.comm_bank_no }}">
            </div>

            <div class="form-group">
                <label>Buyer Bank Details:</label>
                <textarea name="comm_bank_detail">{{ Contract.shipment.comm_bank_detail }}</textarea>
            </div>

            {% if Contract.shipment.notifier_party == "" %}    
                <div class="form-group">
                    <label>Notify party</label>
                    <textarea name="notifier_party" id="notifier_party">{{ Contract.notifier_party }}</textarea>
                </div>
            {% else %}
                <div class="form-group">
                    <label>Notify party</label>
                    <textarea name="notifier_party" id="notifier_party">{{ Contract.shipment.notifier_party }}</textarea>
                </div>
            {% endif %}
            {% if Contract.shipment.invoice_consignee_address == "" %}    
                <div class="form-group">
                    <label>Buyer Bank :(Consignee)</label>
                    <textarea name="invoice_consignee_address">{{ Contract.consignee_party }}</textarea>
                </div>
            {% else %}
                <div class="form-group">
                    <label>Buyer Bank :(Consignee)</label>
                    <textarea name="invoice_consignee_address">{{ Contract.shipment.invoice_consignee_address }}</textarea>
                </div>
            {% endif %}
            </div>
        
            <div class="col-6">
                <div class="form-group">
                    <label >Comm. Invoice No.</label>
                    <input type="text" name="comm_invoice_no" value="{{ Contract.shipment.comm_invoice_no }}">
                </div>

                <div class="form-group">
                    <label>Comm. Invoice Date</label>
                    <input type="text" class="datepick" name="comm_invoice_date" value="{{ (Contract.shipment.comm_invoice_date != "0000-00-00") ? Contract.shipment.comm_invoice_date|date('d-m-Y') }}">
                </div>

                <div class="form-group">
                    <label >LC No.</label>
                    <input type="text" name="lc_no" value="{{ Contract.shipment.lc_no }}">
                </div>

                <div class="form-group">
                    <label>LC Date</label>
                    <input type="text" class="datepick" name="lc_date" value="{{ (Contract.shipment.lc_date != "0000-00-00") ? Contract.shipment.lc_date|date('d-m-Y') }}">
                </div>

                <div class="form-group">
                    <label>BL No.</label>
                    <input type="text" name="bl_no" value="{{ Contract.shipment.bl_no }}">
                </div>

                <div class="form-group">
                    <label>BL Date</label>
                    <input type="text" class="datepick" name="bl_date" value="{{ (Contract.shipment.bl_date != "0000-00-00") ? Contract.shipment.bl_date|date('d-m-Y') }}">
                </div>
            {% if Contract.shipment.voyage_no == "" %}
                <div class="form-group">
                    <label for="">Vessel/ Voy. No./Flight No.</label>
                    <input type="text" name="voyage_no" value="{{ Contract.do.voyage_no }}">
                </div>
            {% else %}
                <div class="form-group">
                    <label for="">Vessel/ Voy. No./Flight No.</label>
                    <input type="text" name="voyage_no" value="{{ Contract.shipment.voyage_no }}">
                </div>
            {% endif %}

            {% if Contract.shipment.port_loading == "" %}    
                <div class="form-group">
                    <label>Loading Port</label>
                    <select name="port_loading" id="" data-add-url="{{ url('quick/add/port') }}">
                        <option value=""></option>
                        {% for item in Ports %}
                            {% if item.Id == Contract.port_loading %}
                                <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <div class="form-group">
                    <label>Loading Port</label>
                    <select name="port_loading" id="" data-add-url="{{ url('quick/add/port') }}">
                        <option value=""></option>
                        {% for item in Ports %}
                            {% if item.Id == Contract.shipment.port_loading %}
                                <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                            {% else %}
                                <option value="{{ item.Id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <hr>
            <div class="form-group">
                <div class="row mt20">
                    <div class="col-6 text-center"><label>Discharge Port</label></div>
                    <div class="col-6 text-center"><label>Final Destination</label></div>
                </div>
   
                <div class="row mt5">
                {% if Contract.shipment.discharge_port == "" %}
                    <div class="col-6">
                        <select name="discharge_port" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.port_discharge %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                     <div class="col-6">
                        <select name="discharge_port" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.shipment.discharge_port %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                
                {% if Contract.shipment.final_destination == "" %}
                    <div class="col-6">
                        <select name="final_destination" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in FinalDestinations %}
                                {% if item.name == Contract.final_destination %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <select name="final_destination" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in FinalDestinations %}
                                {% if item.name == Contract.shipment.final_destination %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                </div>

                <div class="row mt5">
                {% if Contract.shipment.discharge_port2 == "" %}
                    <div class="col-6">
                        <select name="discharge_port2" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.port_discharge2 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                     <div class="col-6">
                        <select name="discharge_port2" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.shipment.discharge_port2 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                
                {% if Contract.shipment.final_destination2 == "" %}
                    <div class="col-6">
                        <select name="final_destination2" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in FinalDestinations %}
                                {% if item.name == Contract.final_destination2 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <select name="final_destination2" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in FinalDestinations %}
                                {% if item.name == Contract.shipment.final_destination2 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                </div>

                <div class="row mt5">
                {% if Contract.shipment.discharge_port3 == "" %}
                    <div class="col-6">
                        <select name="discharge_port3" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.port_discharge3 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                     <div class="col-6">
                        <select name="discharge_port3" data-add-url="{{ url('quick/add/dischargeport') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in DischargePorts %}
                                {% if item.name == Contract.shipment.discharge_port3 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                
                {% if Contract.shipment.final_destination3 == "" %}
                    <div class="col-6">
                        <select name="final_destination3" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in FinalDestinations %}
                                {% if item.name == Contract.final_destination3 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <select name="final_destination3" data-add-url="{{ url('quick/add/finaldestination') }}" data-name-as-value="true">
                            <option value=""></option>
                            {% for item in FinalDestinations %}
                                {% if item.name == Contract.shipment.final_destination3 %}
                                    <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                </div>
                <hr>
            </div>

            <div class="form-group">
                <label>Country Of Origin <br><span style="font-size: 11px">(Will Be Displayed Under Description Of Goods)</span></label>
                <textarea name="comm_invoice_note2">{{ Contract.shipment.comm_invoice_note2 }}</textarea>
            </div>


            {% if Contract.shipment.final_destination_country == "" %}
            <div class="form-group">
                <label>Country of Final Destination</label>
                <select name="final_destination_country" id="" data-add-url="{{ url('quick/add/country') }}">
                    <option value=""></option>
                    {% for item in Countries %}
                        {% if item.Id == Contract.final_destination_country %}
                            <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                        {% else %}
                            <option value="{{ item.Id }}">{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="form-group">
                <label>Country of Final Destination</label>
                <select name="final_destination_country" id="" data-add-url="{{ url('quick/add/country') }}">
                    <option value=""></option>
                    {% for item in Countries %}
                        {% if item.Id == Contract.shipment.final_destination_country %}
                            <option value="{{ item.Id }}" selected="selected">{{ item.name }}</option>
                        {% else %}
                            <option value="{{ item.Id }}">{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            {% if Contract.shipment.delivery_terms == "" %}
            <div class="form-group">
                <label>Terms of Delivery</label>
                <select name="delivery_terms" data-add-url="{{ url('quick/add/deliveryterm') }}" data-name-as-value="true">
                    <option value=""></option>
                    {% for item in DeliveryTerms %}
                        {% if item.name == Contract.delivery_terms %}
                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                        {% else %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="form-group">
                <label>Terms of Delivery</label>
                <select name="delivery_terms" data-add-url="{{ url('quick/add/deliveryterm') }}" data-name-as-value="true">
                    <option value=""></option>
                    {% for item in DeliveryTerms %}
                        {% if item.name == Contract.shipment.delivery_terms %}
                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                        {% else %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            {% if Contract.shipment.payment_terms =="" %}
            <div class="form-group">
                <label>Terms of Payment</label>
                <select name="payment_terms" data-add-url="{{ url('quick/add/paymentterm') }}" data-name-as-value="true">
                    <option value=""></option>
                    {% for item in PaymentTerms %}
                        {% if item.name == Contract.payment_terms %}
                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                        {% else %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="form-group">
                <label>Terms of Payment</label>
                <select name="payment_terms" data-add-url="{{ url('quick/add/paymentterm') }}" data-name-as-value="true">
                    <option value=""></option>
                    {% for item in PaymentTerms %}
                        {% if item.name == Contract.shipment.payment_terms %}
                            <option value="{{ item.name }}" selected="selected">{{ item.name }}</option>
                        {% else %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            

            <div class="form-group">
                <label>Drawn Under</label>
                <textarea name="drawn_under">{{Contract.shipment.drawn_under}}</textarea>
            </div>

            <div class="form-group">
                <label>Specification</label>
                <textarea name="specification">{{Contract.shipment.specification}}</textarea>
            </div>

            <div class="form-group">
                <label>Comm. Invoice Notes <br><span style="font-size: 11px">(Will Be Displayed Under Container Markings)</span></label>
                <textarea name="comm_invoice_note">{{ Contract.shipment.comm_invoice_note }}</textarea>
            </div>

            

            <div class="form-group">
                <label>Document Ready On</label>
                <input type="text" name="document_ready_on" value="{{ Contract.shipment.document_ready_on|date('d-m-Y') }}" class="datepick">
            </div>

            <div class="form-group">
                <label>Document Status</label>
                <input type="text" name="document_status" value="{{ Contract.shipment.document_status }}">
            </div>

            <hr>

            <div class="form-group">
                <label>Comm. Invoice Discount</label>
                <input type="text" name="comm_invoice_discount" value="{{Contract.shipment.comm_invoice_discount}}">
            </div>

            <hr>
            

            <div class="form-group">
                <label>ETA</label>
                {% if Contract.do.eta_date =="" %}
                    <input name="comm_eta" value="{{ (Contract.do.eta_date != "0000-00-00 00:00:00") ? Contract.do.eta_date|date('d-m-Y') }}" class="datepick">
                {% else %}
                    <input name="comm_eta" value="{{ Contract.do.eta_date|date('d-m-Y') }}" class="datepick">
                {% endif %}
            </div>
        </div>
        <!-- <div class="hintBlock" style="width: 46%; float: left;">
        &mdash; Buyer/Importer/Applicant : {{ Contract.importer.name }}, <br>
        &mdash; Consignee : {{ Contract.consignee_party }}, <br>
        &mdash; Vessel/ Voy. No./Flight No. : {{ Contract.do.vessel_name }}<br>
        &mdash; Port of Loading : {{ Contract.port.name|upper }}<br>
        &mdash; Country of Final Destination : {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}<br>
        &mdash; Port of Discharge : {{ Contract.port_discharge|upper }}, {{ Contract.country.name|upper }}<br>
        &mdash; Terms of Delivery : {{ Contract.delivery_terms|upper }} {{ Contract.final_destination|upper }}, {{ Contract.country.name|upper }}<br>
        &mdash; Terms of Payment : {{ Contract.payment_terms|upper }}<br>
        </div> -->
         </div>

        {% if Contract.shipment.multiple_invoice %}
        <hr>
        <center><h2>Multiple Invoice</h2></center>
        <!-- <h3>
            <label style="font-size:14px;cursor: pointer;" class="checkboxLabel">
                <input type="checkbox" name="multiple_invoice" class="multipleInvoiceToggle" value="true" {% if Contract.shipment.multiple_invoice == 1 %} checked="checked" {% endif %}> Multiple Invoice?
                <div class="fake"></div>
            </label>
        </h3> -->
        <br>

        <div class="multipleInvoiceTable" {% if Contract.shipment.multiple_invoice == 0 %} style="display: none" {% endif %}>
            <table class="table">
                <thead>
                    <tr>
                        <th>Invoice No.</th>
                        <th>Invoice Date</th>
                        <th>Containers</th>
                        <th>Quantity</th>
                        {# {% for product in Contract.shipment.products %}
                            <th>{{ product.product.name }}<br>(Qty. in MT)</th>
                        {% endfor %} #}
                    </tr>
                </thead>
                <tbody>
                    {% set total_qty = 0 %}
                    {% for row in json_decode(Contract.shipment.multiple_invoice_data) %}
                    {% set twenty = 0 %}
                    {% set forty = 0 %}
                    {% set qty = 0 %}
                        <tr>
                            <td class="input"><input type="text" name='m_invoice_no[]' value="{{ row.invoice_no }}" readonly></td>
                            <td class="input"><input type="text" name='m_invoice_date[]' class="datepick" value="{{ (row.invoice_date != "0000-00-00") ? row.invoice_date|date('d-m-Y') }}" readonly></td>
                            {% set twenty = twenty + row.uptotwenty %}
                            {% set forty = forty + row.uptoforty %}
                            <td class="input"><input type="number" name='m_uptotwenty[]' value="{{ twenty + forty }}" readonly></td>
                            <!-- <td class="input"><input type="number" name='m_uptotwenty[]' value="{{ row.uptotwenty }}" readonly></td> -->
                            <!-- <td class="input"><input type="number" name='m_uptoforty[]' value="{{ row.uptoforty }}" readonly></td> -->

                            {% for k, product in Contract.shipment.products %}
                              {% set qty = qty + row['product_' ~ k] %}  
                                
                            {% endfor %}
                            {% set total_qty = total_qty + qty %}  
                            <td class="input"><input type="text" name="product_{{ k }}[]" value="{{ qty }}" placeholder="Quantity" readonly></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="input"><input type="text" name='m_invoice_no[]' readonly></td>
                            <td class="input"><input type="text" name='m_invoice_date[]' class="datepick" readonly></td>
                            <td class="input"><input type="number" name='m_uptotwenty[]' readonly></td>
                            <td class="input"><input type="number" name='m_uptoforty[]' readonly></td>

                            {% for k, product in Contract.shipment.products %}
                                <td class="input"><input type="text" name="product_{{ k }}[]" placeholder="Quantity" readonly></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                        <tr>
                            <td class="input"></td>
                            <td class="input"></td>
                            <td class="input"></td>
                            <td class="input"></td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>{{ total_qty }}</td>
                    </tr>
                </tfoot>
            </table>
            <!-- <button class='btn btn-yellow addMultiInvoiceRow' type='button'><i class="ti ti-plus"></i> Add More</button> -->
        </div>
        {% endif %}
        <hr>
        <center><h2>Product Gross Weight</h2></center>
        <table class="table mt20 products_table">
            <tr>
                <th>Product</th>
                <th>Net Weight (MT)</th>
                <th>Gross Weight (MT)</th>
            </tr>

            {% for product in Contract.shipment.products %}
                <tr class="product_row">
                    <td>
                        {% for item in Products %}
                            {% if item.Id == product.product_id %}
                                {% if product.comm_invoice_name != false %}
                                    <input type="text" name="comm_invoice_name[]" value="{{ product.comm_invoice_name }}">
                                {% else %}
                                    <input type="text" name="comm_invoice_name[]" value="{{ item.name }} - {{ item.hs_code }}">
                                {% endif %}
                            {% endif %}
                        {% endfor %}</td>
                    <td><input type="number" step="any" name="" value="{{ product.quantity }}" readonly></td>
                    <td class="input">
                        <input type="hidden" name="cpid[]" value="{{ product.Id }}">
                        <input type="number" step="any" name="gross_quantity[]" value="{% if product.gross_quantity == '' or product.gross_quantity == NULL %}{{ product.quantity }}{% else %}{{ product.gross_quantity }}{% endif %}" style="background-color:#f5f5f5"></td>
                </tr>
            {% endfor %}
        </table>
        <div class="form-group mt20">
            <label></label>
            <button type="submit" class="btn"><i class="ti-plus"></i>Update Comm. Invoice</button>
        </div>
         
	</form>
   
   
</div>