<div class="panel tab p20" id="printTab">
    <ul>
        <li><button class="printBtn btn-green" data-url="{{ url('print/proforma_invoice/' ~ Contract.Id) }}">ProForma Invoice</button></li><br>

        <li><button class="printBtn btn-teal" data-url="{{ url('print/sales_order/' ~ Contract.Id) }}">Sales Order / Contract</button></li>
        <br>
        <li><a class="btn-red" href="{{ url('reports/accountmaster/' ~ Contract.shipment.Id) }}">Account Master</a></li>
        <br>

        <hr>

        {% if Contract.shipment.multiple_invoice == 0 %}
            <li><button class="printBtn btn-green" data-url="{{ url('print/invoice_cum_packing/' ~ Contract.shipment.Id) }}">Invoice cum Packing List</button></li><br>

            <li><button class="printBtn btn-orange" data-url="{{ url('print/self_sealing/' ~ Contract.shipment.Id) }}">Self Sealing</button></li><br>

            <li><button class="printBtn btn-red" data-url="{{ url('print/excise_sealing/' ~ Contract.shipment.Id) }}">Annexure-C1 (Central Excise Sealing)</button></li><br>

            <li><button class="printBtn btn-blue" data-url="{{ url('print/declaration/' ~ Contract.shipment.Id) }}">Declaration</button></li><br>
            <li><button class="printBtn btn-teal" data-url="{{ url('print/self_declaration/' ~ Contract.shipment.Id) }}">Self Declaration</button></li><br>
            <li><button class="printBtn btn-green" data-url="{{ url('print/office_superintendent/' ~ Contract.shipment.Id) }}">Office Of Superintendent (Sealed Cover)</button></li><br>
            <li><button class="printBtn btn-blue" data-url="{{ url('print/annexure_a/' ~ Contract.shipment.Id) }}">Annexure-A (Export Value Declaration)</button></li><br>

            <li><button class="printBtn btn-orange" data-url="{{ url('print/appendix_1/' ~ Contract.shipment.Id ~ '/' ~ k) }}">
            Appendix-1 FORM SDF</button></li><br>

            <li><button class="printBtn btn-orange" data-url="{{ url('print/appendix_iii/' ~ Contract.shipment.Id ~ '/' ~ k) }}">
            Appendix-III</button></li><br>

            {# <li><button class="printBtn btn-green" data-url="{{ url('print/self_sealing/' ~ Contract.shipment.Id) }}">Appendix-III</button></li><br>
            <li><button class="printBtn btn-green" data-url="{{ url('print/self_sealing/' ~ Contract.shipment.Id) }}">Appendix-I</button></li><br> #}

        {% else %}
            <table class='table' style='width:100%'>
                {% for k, row in json_decode(Contract.shipment.multiple_invoice_data) %}
                    <tr>
                        <td>{{ row.invoice_no }}</td>
                        <td><button class="printBtn btn-green" data-url="{{ url('print/invoice_cum_packing/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Invoice cum Packing List</button></td>
                        <td><button class="printBtn btn-orange" data-url="{{ url('print/self_sealing/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Self Sealing</button></td>
                        <td><button class="printBtn btn-red" data-url="{{ url('print/excise_sealing/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Annexure C-1 (Central Excise Sealing)</button></td>
                        <td><button class="printBtn btn-blue" data-url="{{ url('print/declaration/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Declaration</button></td>
                        <td><button class="printBtn btn-teal" data-url="{{ url('print/self_declaration/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Self Declaration</button></td>
                        <td><button class="printBtn btn-green" data-url="{{ url('print/office_superintendent/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Office Of Superintendent (Sealed Cover)</button></td>
                        
                        <td><button class="printBtn btn-blue" data-url="{{ url('print/annexure_a/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Annexure-A (Export Value Declaration)</button></td>


                        
                        {# <td><button class="printBtn btn-green" data-url="{{ url('print/self_sealing/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Appendix-III</button></td>
                        <td><button class="printBtn btn-green" data-url="{{ url('print/self_sealing/' ~ Contract.shipment.Id ~ '/' ~ k) }}">Appendix-I</button></td> #}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <hr>
        {% if Contract.shipment.multiple_invoice == 0 %}
        <li><button class="printBtn btn-green" data-url="{{ url('print/packing_list/' ~ Contract.shipment.Id) }}">Packing List</button></li><br> 
        <li><button class="printBtn btn-teal" data-url="{{ url('print/commercial_invoice/' ~ Contract.shipment.Id) }}">Commercial Invoice</button></li><br>
        {% else %}
        <li><button class="printBtn btn-green" data-url="{{ url('print/packing_list2/' ~ Contract.shipment.Id) }}">Packing List </button></li><br>
        <li><button class="printBtn btn-teal" data-url="{{ url('print/commercial_invoice2/' ~ Contract.shipment.Id) }}">Commercial Invoice </button></li><br>
        {% endif %}
        <li><button class="printBtn btn-green" data-url="{{ url('print/bill_of_exchange/' ~ Contract.shipment.Id) }}">Bill Of Exchange</button></li><br>

        <li><button class="printBtn btn-teal" data-url="{{ url('print/annexure_vii/' ~ Contract.shipment.Id) }}">Letter To Bank For Collection Of Export Documents (Annexure VII)</button></li><br>

        <hr>

       <li><button class="printBtn btn-teal" data-url="{{ url('print/vgmcontainer/' ~ Contract.shipment.Id) }}">Verified Gross Mass Of Container</button></li><br>

    </ul>
</div>