<div class="panel tab" id="rawMaterialTab">

    <div class="hintBlock">
        &mdash; Destination, <span>{{ Contract.final_destination }}, {{ Contract.country.name }}</span> from port <span>{{ Contract.port.name }}</span> to port <span>{{ Contract.port_discharge }}</span>.
        <br>
        &mdash; Shipment, <span>{{ Contract.shipment.eta }}</span>
        <br>
        &mdash; Quotation Freight is, <span>
            {% set container_exists = false %}
            {% if Contract.quotation_freight[0] > 0 %}
                ${{ Contract.quotation_freight[0] }}/20' Container
                {% set container_exists = true %}
            {% endif %}
            {% if Contract.quotation_freight[1] > 0 %}
                {% if container_exists %}
                    ,
                {% endif %}
                ${{ Contract.quotation_freight[1] }}/40' Container
            {% endif %}
        </span>
        <br>
        &mdash; Container Size is, <span>
            {% if Contract.shipment.container_size[0] > 0 %}
                {{ Contract.shipment.container_size[0] }} X 20' FCL
                {% set container_exists = true %}
            {% endif %}
            {% if Contract.shipment.container_size[1] > 0 %}
                {% if container_exists %}
                    ,
                {% endif %}
                {{ Contract.shipment.container_size[1] }} X 40' FCL
            {% endif %}
        </span>
        <br>
        &mdash; Products,
            <ul>
                {% for item in Contract.shipment.products %}
                    <li><span>{{ item.product.name }}</span> ===> <span>{{ item.package_type }}</span> ==> <span>{{ item.quantity }} MT</span> @ <span>${{ item.rate }}</span></li>
                {% endfor %}
            </ul>
        &mdash; Stuffing From, <span>{{ (Contract.do.stuffing_from != "0000-00-00") ? Contract.do.stuffing_from|date('d-m-Y') : 'NOT YET SET' }}</span> &nbsp; TO &nbsp; <span>{{ (Contract.do.stuffing_to != "0000-00-00") ? Contract.do.stuffing_to|date('d-m-Y') : 'NOT YET SET' }}</span>
    </div>

    <form action="{{ url('contract/rm/' ~ Contract.shipment.Id) }}" method='post' class="form">
        <input type="hidden" name="contract_id" value="{{ Contract.Id }}">
        <input type="hidden" name="shipment_id" value="{{ Contract.shipment.Id }}">

        <table class="table" style="width:600px;margin:20px">
            <tr>
                <th style="width:60%">Product</th>
                <th>Current Stock</th>
                <th>Alloted Stock</th>
            </tr>
            {% for item in Stock %}
                <tr>
                    <td>
                        <input type="hidden" name="products[]" value="{{  item.product_id }}">
                        {{  item.product }}
                    </td>
                    <td>{{  item.stock }}</td>
                    <td class="input">
                        {% set val = 0 %}
                        {% for row in Contract.rm %}
                            {% if row.product_id == item.product_id %}
                                {% set val = row.qty %}
                            {% endif %}
                        {% endfor %}
                        <input type="number" step="any" name="values[]" value="{{ val }}"></td>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button class="btn btn-green ml20">Allot To Contract</button>

    </form>

    {#<form action="{{ url('contract/rm/' ~ Contract.shipment.Id) }}" method='post' class="form">#}
        {#<input type="hidden" name="contract_id" value="{{ Contract.Id }}">#}
        {#<input type="hidden" name="shipment_id" value="{{ Contract.shipment.Id }}">#}
        {#<input type="hidden" name="rawmaterial_id" value="{{ Contract.rm.Id }}">#}

        {#<div class="form-group">#}
            {#<label>Raw Material Order Date</label>#}
            {#<input type="text" class="datepick" name="order_date" value="{{ (Contract.rm.order_date != "0000-00-00 00:00:00") ? Contract.rm.order_date|date('d-m-Y') }}">#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>Delivery Date</label>#}
            {#<input type="text" class="datepick" name="delivery_date" value="{{ (Contract.rm.delivery_date != "0000-00-00 00:00:00") ? Contract.rm.delivery_date|date('d-m-Y') }}">#}
        {#</div>#}

        {#<br>#}
        {#<br>#}

        {#<div class="form-group mt20 mb20">#}
            {#<button type="submit" class="btn"><i class="ti-plus"></i> Update Raw Material</button>#}
        {#</div>#}
    {#</form>#}

</div>