<div class="panel tab" id="schemesTab">

    <form action="{{ url('contract/scheme/' ~ Contract.shipment.Id) }}" method='post' class="form">
        <input type="hidden" name="contract_id" value="{{ Contract.Id }}">
        <input type="hidden" name="shipment_id" value="{{ Contract.shipment.Id }}">
        <input type="hidden" name="scheme_id" value="{{ Contract.scheme.Id }}">

        <h3>Select All The Schemes For Current Contract</h3>

        {% for item in Schemes %}
            <div class="form-group" style="margin-top:15px">
                <label class="checkboxLabel" style="width:inherit">
                    <input type="checkbox" name="scheme[]" value="{{ item.Id }}" {% if item.Id in Contract.scheme.schemes|split(',') %}checked="checked"{% endif %}>
                    <div class="fake"></div>
                    {{ item.name }} <br>
                    {{ item.detail }}
                </label>
            </div>
        {% endfor %}

        <br>
        <br>

        <div class="form-group mt20 mb20">
            <button type="submit" class="btn"><i class="ti-plus"></i> Update Schemes</button>
        </div>
    </form>

</div>