<style>
    .stuffing_table .product_row th {
        background-color: #fff;
    }
    .stuffing_table .product_row td {
        xxbackground-color: rgba(246, 240, 252, 0.20);
    }
    .stuffing_table .product_row input {
        background-color: rgba(246, 240, 252, 0.60);
    }
    .stuffing_table .blank_row td {
        background-color: #fff;
        border-right-color: transparent;
        border-left-color: transparent;
        height: 4px;
    }
    .stuffing_table .bg_input {
        background-color: rgba(246, 240, 252, 0.60);
    }
</style>
<div class="panel tab" id="stuffingTab" style="padding:20px">

    <h2>Container Details</h2>
    <br>

    <form action="{{ url('shipment/stuffing/' ~ Contract.shipment.Id) }}" method="post">
        <h3>
            <label style="font-size:14px;cursor: pointer;" class="checkboxLabel">
                <input type="checkbox" name="flexitank" class="flexiTankToggle" value="true" {% if Contract.shipment.flexitank == 1 %} checked="checked" {% endif %}> <strong>Use Flexitank No. Instead Of No. Of Packages?</strong>
                <div class="fake"></div>
            </label>
        </h3>
        <br>
        <table class="table stuffing_table">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th style="width:90px">Size</th>
                    <th>Container No.</th>
                    <th>Self Seal No.</th>
                    <th>Line Seal No.</th>
                    <th>No. of Pkgs / Flexi No</th>
                    <th>Gross Weight (Kgs)</th>
                    <th>Net Weight (Kgs)</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th class="totalC1 input"><input type="text" name="totalc1" value="0" style="background-color:transparent;padding:0;" readonly></th>
                    <th class="totalC2 input"><input type="text" name="totalc2" value="0" style="background-color:transparent;padding:0;" readonly></th>
                    <th class="totalC3 input"><input type="text" name="totalc3" value="0" style="background-color:transparent;padding:0;" readonly></th>
                </tr>
            </tfoot>
            <tbody>
                {% if Contract.shipment.container_size[0] is not empty and Contract.shipment.container_size[0] != 0  %}
                    {% for i in 1..Contract.shipment.container_size[0] %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>20 FEET</td>
                            <td class="input"><input type="text" name="twentyContainer[]" value="{{ json_decode(Contract.shipment.containers_detail).twentyContainer[i-1] }}" class="bg_input"></td>
                            <td class="input"><input type="text" name="twentySelfSeal[]" value="{{ json_decode(Contract.shipment.containers_detail).twentySelfSeal[i-1] }}" class="bg_input"></td>
                            <td class="input"><input type="text" name="twentyLineSeal[]" value="{{ json_decode(Contract.shipment.containers_detail).twentyLineSeal[i-1] }}" class="bg_input"></td>

                            <td class="input"><input type="text" name="twentyPkg[]" class="inputC1 C{{ i }}C1" value="{{ json_decode(Contract.shipment.containers_detail).twentyPkg[i-1] }}" readonly></td>
                            <td class="input"><input type="text" name="twentyGw[]" class="inputC2 C{{ i }}C2" value="{{ json_decode(Contract.shipment.containers_detail).twentyGw[i-1] }}" readonly></td>
                            <td class="input"><input type="text" name="twentyNw[]" class="inputC3 C{{ i }}C3" value="{{ json_decode(Contract.shipment.containers_detail).twentyNw[i-1] }}" readonly></td>
                        </tr>

                        {% for index, product in Contract.shipment.products %}
                            <tr class="product_row">
                                <th></th>
                                <th class="input"></th>
                                
                                <!--<td colspan="2" class="input"><input type="text" name="bn_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].bn[index] }}" placeholder="Batch No. / Lot No."></td>-->
                                <td></td><td></td>

                                {% if json_decode(Contract.shipment.containers_detail2)[i].pn[index] %}
                                    <td class='input' style="font-weight:bold;text-align:center;"><input type="text" name="pn_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].pn[index] }}" readonly><input type="hidden" name="contract_product_id_{{ i }}[]" value="{{ product.Id }}"></td>
                                {% else %}
                                    <td class='input' style="font-weight:bold;text-align:center;">
                                        <input type="text" name="pn_{{ i }}[]" value="{{ product.product.name }}" readonly>
                                        <input type="hidden" name="contract_product_id_{{ i }}[]" value="{{ product.Id }}">
                                    </td>
                                {% endif %}

                                <td class="input">
                                    <input type="text" step="any" name="np_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].np[index] }}" placeholder="No. Of Packages" data-container="{{ i }}" class="productNoOfPackages PC{{ i }}C1">
                                </td>

                                <td class="input">
                                    <input type="text" step="any" name="gw_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].gw[index] }}" placeholder="Gross Weight" data-container="{{ i }}" class="productGrossWeight PC{{ i }}C2">
                                </td>
                                <td class="input">
                                    <input type="text" step="any" name="nw_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].nw[index] }}" placeholder="Net Weight" data-container="{{ i }}" class="productNetWeight PC{{ i }}C3">
                                </td>
                            </tr>
                        {% endfor %}
                        
                        <tr class="blank_row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if Contract.shipment.container_size[1] is not empty and Contract.shipment.container_size[1] != 0 %}
                    {% for i in (Contract.shipment.container_size[0]+1)..(Contract.shipment.container_size[0]+Contract.shipment.container_size[1]) %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>40 FEET</td>
                            <td class="input"><input type="text" name="fortyContainer[]" value="{{ json_decode(Contract.shipment.containers_detail).fortyContainer[i-Contract.shipment.container_size[0]-1] }}"></td>
                            <td class="input"><input type="text" name="fortySelfSeal[]" value="{{ json_decode(Contract.shipment.containers_detail).fortySelfSeal[i-Contract.shipment.container_size[0]-1] }}"></td>
                            <td class="input"><input type="text" name="fortyLineSeal[]" value="{{ json_decode(Contract.shipment.containers_detail).fortyLineSeal[i-Contract.shipment.container_size[0]-1] }}"></td>
                            
                            <td class="input"><input type="text" name="fortyPkg[]" class="inputC1 C{{ i }}C1" value="{{ json_decode(Contract.shipment.containers_detail).fortyPkg[i-Contract.shipment.container_size[0]-1] }}" readonly></td>
                            <td class="input"><input type="text" name="fortyGw[]" class="inputC2 C{{ i }}C2" value="{{ json_decode(Contract.shipment.containers_detail).fortyGw[i-Contract.shipment.container_size[0]-1] }}" readonly></td>
                            <td class="input"><input type="text" name="fortyNw[]" class="inputC3 C{{ i }}C3" value="{{ json_decode(Contract.shipment.containers_detail).fortyNw[i-Contract.shipment.container_size[0]-1] }}" readonly></td>
                        </tr>

                        {% for index, product in Contract.shipment.products %}
                            <tr class="product_row">
                                <th></th>
                                <th class="input"></th>

                                <!--<td colspan="2" class="input"><input type="text" name="bn_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].bn[index] }}" placeholder="Batch No. / Lot No."></td>-->
                                <td></td><td></td>

                                {% if json_decode(Contract.shipment.containers_detail2)[i].pn[index] %}
                                    <td class='input' style="font-weight:bold;text-align:center;"><input type="text" name="pn_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].pn[index] }}" readonly><input type="hidden" name="contract_product_id_{{ i }}[]" value="{{ product.Id }}"></td>
                                {% else %}
                                    <td class='input' style="font-weight:bold;text-align:center;">
                                        <input type="text" name="pn_{{ i }}[]" value="{{ product.product.name }}" readonly>
                                        <input type="hidden" name="contract_product_id_{{ i }}[]" value="{{ product.Id }}">
                                    </td>
                                {% endif %}

                                <td class="input"><input type="text" name="np_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].np[index] }}" placeholder="No. Of Packages" data-container="{{ i }}" class="productNoOfPackages PC{{ i }}C1"></td>

                                <td class="input"><input type="text" name="gw_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].gw[index] }}" placeholder="Gross Weight" data-container="{{ i }}" class="productGrossWeight PC{{ i }}C2"></td>

                                <td class="input"><input type="text" name="nw_{{ i }}[]" value="{{ json_decode(Contract.shipment.containers_detail2)[i].nw[index] }}" placeholder="Net Weight" data-container="{{ i }}" class="productNetWeight PC{{ i }}C3"></td>
                            </tr>
                        {% endfor %}

                        <tr class="blank_row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <br><br><br>

        <h2>Sealing & Other Details</h2>
        <br>

        <div class="row">
            <div class="col-6 form">
                <div class="form-group">
                    <label>Invoice No.</label>
                    <input type="text" name="invoice_no" value="{{ Contract.shipment.invoice_no }}">
                </div>

                <div class="form-group">
                    <label>Invoice Date</label>
                    <input type="text" name="export_invoice_date" class="datepick" value="{{ (Contract.shipment.export_invoice_date != "0000-00-00") ? Contract.shipment.export_invoice_date|date('d-m-Y') }}">
                </div>

                <div class="form-group">
                    <label>ARE No.</label>
                    <input type="text" name="are_no" value="{{ Contract.shipment.are_no }}">
                </div>

                <div class="form-group">
                    <label>ARE Date</label>
                    {% if Contract.shipment.are_date != "" %}
                        <input type="text" name="are_date" class="datepick" value="{{ (Contract.shipment.are_date != "0000-00-00") ? Contract.shipment.are_date|date('d-m-Y') }}">
                    {% else %}
                        <input type="text" name="are_date" class="datepick" value="">
                    {% endif %}
                </div>

                <!--<div class="form-group">
                    <label>DBK Scheme Sr. No.</label>
                    <input type="text" name="dbk_scheme_no" value="{{ Contract.shipment.dbk_scheme_no }}">
                </div>-->

                {# <div class="form-group">
                    <label>DBK Tariff Item No.</label>
                    <input type="text" name="dbk_tariff_item_no" value="{{ Contract.shipment.dbk_tariff_item_no }}">
                </div> #}

                <div class="form-group">
                    <label>DBK Rate</label>
                    {% if Contract.shipment.invoice_no == "" and Contract.shipment.dbk_rate == "" %}
                        <input type="text" name="dbk_rate" value="{{ Contract.shipment.products[0].product.fob }}">
                    {% else %}
                        <input type="text" name="dbk_rate" value="{{ Contract.shipment.dbk_rate }}">
                    {% endif %}
                </div>

                <div class="form-group">
                    <label>File No.</label>
                    {% if Contract.shipment.invoice_no == "" and Contract.shipment.file_no == "" %}
                        <input type="text" name="file_no" value="{{ Contract.shipment.products[0].product.file_no }}">
                    {% else %}
                        <input type="text" name="file_no" value="{{ Contract.shipment.file_no }}">
                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Freight (Keep 0 If None)</label>
                    <input type="text" name="freight" value="{{Contract.shipment.comm_freight}}">
                </div>

                <div class="form-group">
                    <label>Extra Charge Name (Keep Blank If None)</label>
                    <input type="text" name="extra_charge_name" value="{{Contract.shipment.extra_charge_name}}">
                </div>
                <div class="form-group">
                    <label>Extra Charge Amount (Keep 0 If None)</label>
                    <input type="text" name="extra_charge" value="{{Contract.shipment.extra_charge}}">
                </div>
            </div>

            <div class="col-6 form">
                <!--<div class="form-group">
                    <label>Examination Date</label>
                    <input type="text" name="examination_date" class="datepick" value="{{ Contract.shipment.examination_date|date('d-m-Y') }}">
                </div>-->

                <div class="form-group">
                    <label>Examining Officer</label>
                    <input type="text" name="examining_officer" value="{{ Contract.shipment.examining_officer }}">
                </div>

                <div class="form-group">
                    <label>Supervision Officer</label>
                    <input type="text" name="supervision_officer" value="{{ Contract.shipment.supervision_officer }}">
                </div>

                <div class="form-group">
                    <label>Examined</label>
                    <input type="text" name="examined" value="{{ Contract.shipment.examined }}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Container Markings</label><br>
            <textarea name="markings" style="width:100%">{{ Contract.shipment.markings }}</textarea>
        </div>

        <hr>

        <br><br>
        <h3>
            <label style="font-size:14px;cursor: pointer;" class="checkboxLabel">
                <input type="checkbox" name="multiple_invoice" class="multipleInvoiceToggle" value="true" {% if Contract.shipment.multiple_invoice == 1 %} checked="checked" {% endif %}> Multiple Invoice?
                <div class="fake"></div>
            </label>
        </h3>
        <br>

        <div class="multipleInvoiceTable" {% if Contract.shipment.multiple_invoice == 0 %} style="display: none" {% endif %}>
            <table class="table">
                <thead>
                    <tr>
                        <th>Invoice No.</th>
                        <th>Invoice Date</th>
                        <th>No. Of 20' Containers</th>
                        <th>No. Of 40' Containers</th>

                        {% for product in Contract.shipment.products %}
                            <th>{{ product.product.name }}<br>(Qty. in MT)</th>
                        {% endfor %}

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in json_decode(Contract.shipment.multiple_invoice_data) %}
                        <tr>
                            <td class="input"><input type="text" name='m_invoice_no[]' value="{{ row.invoice_no }}"></td>
                            <td class="input"><input type="text" name='m_invoice_date[]' class="datepick" value="{{ (row.invoice_date != "0000-00-00") ? row.invoice_date|date('d-m-Y') }}"></td>
                            <td class="input"><input type="number" name='m_uptotwenty[]' value="{{ row.uptotwenty }}"></td>
                            <td class="input"><input type="number" name='m_uptoforty[]' value="{{ row.uptoforty }}"></td>

                            {% for k, product in Contract.shipment.products %}
                                <td class="input"><input type="text" name="product_{{ k }}[]" value="{{ row['product_' ~ k] }}" placeholder="Quantity"></td>
                            {% endfor %}

                            <td class="action"><i class="ti ti-close removeMultiInvoiceRow"></i></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="input"><input type="text" name='m_invoice_no[]'></td>
                            <td class="input"><input type="text" name='m_invoice_date[]' class="datepick"></td>
                            <td class="input"><input type="number" name='m_uptotwenty[]'></td>
                            <td class="input"><input type="number" name='m_uptoforty[]'></td>

                            {% for k, product in Contract.shipment.products %}
                                <td class="input"><input type="text" name="product_{{ k }}[]" placeholder="Quantity"></td>
                            {% endfor %}

                            <td class="action"><i class="ti ti-close removeMultiInvoiceRow"></i></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class='btn btn-yellow addMultiInvoiceRow' type='button'><i class="ti ti-plus"></i> Add More</button>
        </div>

        <hr>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Buyer / Importer Address</label>
                    {% if Contract.shipment.invoice_buyer_address == "" %}
                        <textarea name="invoice_buyer_address">{{ Contract.importer_address }}</textarea>
                    {% else %}
                        <textarea name="invoice_buyer_address">{{ Contract.shipment.invoice_buyer_address }}</textarea>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Notify Party</label>
                    {% if Contract.shipment.invoice_notifier_address == "" %}
                        <textarea name="invoice_notifier_address">{{ Contract.notifier_party }}</textarea>
                    {% else %}
                        <textarea name="invoice_notifier_address">{{ Contract.shipment.invoice_notifier_address }}</textarea>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>
        <br><br><br>

        <label style="font-size:18px;cursor: pointer;" class="checkboxLabel">
            <input type="checkbox" name="stuffing_phase" value="true" {% if Contract.shipment.stuffing_phase == 1 %} checked="checked" {% endif %}    >
            Stuffing Dataentry Process Completed
            <div class="fake"></div>
        </label>

        <br><br><br>
        <button class="btn-green">Save Containers & Sealing Details</button>
    </form>
</div>
