<ul class="tabs">
    <li class="active" data-tab="#basicTab"><i class="ti-pencil-alt"></i> Basic</li>
    <li data-tab="#packagingTab"><i class="ti-package"></i> Products</li>
    <li data-tab="#doTab"><i class="ti-truck"></i> Delivery Order</li>
    <li data-tab="#rawMaterialTab"><i class="ti-shopping-cart"></i> Raw Material</li>
    <li data-tab="#stuffingTab"><i class="ti-anchor"></i> Stuffing</li>
    <li data-tab="#paymentTab"><i class="ti-money"></i>Comm. Invoice</li>
    <li data-tab="#vgm"><i class="ti-agenda"></i> VGM</li>
    <li data-tab="#printTab"><i class="ti-printer"></i> Print</li>
    <li data-tab="#documentsTab"><i class="ti-clip"></i>Docs</li>
    
    <!-- <li data-tab="#schemesTab"><i class="ti-medall"></i>Schemes</li>-->
    <li class="dropdown" style="display:none">
        <a href="#"><i class="ti-more"></i> More <i class="ti-angle-down" style="margin-left:3px;font-size:12px;vertical-align:middle;"></i></a>
        <ul>
            <li data-tab="#printTab"><a href="#"><i class="ti-star"></i> Bookmark</a></li>
            <li class="divider"></li>
            <li data-tab="#printTab"><a href="#"><i class="ti-eye"></i> Change Log</a></li>
        </ul>
    </li>
</ul>