<div class="panel tab" id="vgm">
    <div class="row">
        <div class="col-12">
            <div class="form">
            <form action="{{ url('contract/vgm/' ~ Contract.shipment.Id) }}" method="post">
                <input type="hidden" name="contract_id" value="{{ Contract.Id }}">
                <input type="hidden" name="shipment_id" value="{{ Contract.shipment.Id }}">
                <input type="hidden" name="do_id" value="{{ Contract.do.Id }}">
            <div class="col-6">
                <div class="form-group">
                    <label for="">Name(Authorized)</label>
                    {% if Contract.shipment.vgms.name_authorized == true %}
                    <input type="text" name="name_authorized" value="{{ Contract.shipment.vgms.name_authorized }}">
                    {% else %}
                    <input type="text" name="name_authorized" value="Lalitbhai">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Designation(Authorized)</label>
                    <input type="text" name="designation_authorized" value="{{ Contract.shipment.vgms.designation_authorized }}">
                </div>
                 <div class="form-group">
                    <label for="">Contact Detail</label>
                    {% if Contract.shipment.vgms.contact_detail == true %}
                    <input type="text" name="contact_detail" value="{{ Contract.shipment.vgms.contact_detail }}">
                    {% else %}
                    <input type="text" name="contact_detail" value="9714613331">
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Date and time</label>

                    {% if Contract.shipment.vgms.date_time == false %}
                        <input type="text" class="datetimepick" name="date_time" value="" autocomplete="off">
                    {% else %}
                        <input type="text" class="datetimepick" name="date_time" value="{{ Contract.shipment.vgms.date_time|date("d-m-Y g:i") }}" autocomplete="off">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>If Hazardous UN NO.IMDG class</label>
                    <input type="text" name="hazardous" value="{{ Contract.shipment.vgms.hazardous }}">
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>Sr No.</th>
                    <th>Size</th>
                    <th>Container No.</th>
                    <th>Max Weight(CSC)</th>
                    <th>Gross Mass</th>
                    <th>Weighing slip no.</th>
                    <th>Type</th>
                    <th>Booking</th>
                </tr>

            {% if Contract.shipment.container_size[0] is not empty and Contract.shipment.container_size[0] != 0  %}
            {% for i in 1..Contract.shipment.container_size[0] %}
                <tr>
                    <td>{{ i }}</td>
                    <td>20'</td>
                    <td>{{ json_decode(Contract.shipment.containers_detail).twentyContainer[i-1] }}</td>
                    <td class="input">
                        {% if json_decode(Contract.shipment.vgms.max_weight_csc)[i-1] == false %}
                            <input type="text" name="max_weight_csc[]" value="30480">
                        {% else %}
                            <input type="text" name="max_weight_csc[]" value="{{ json_decode(Contract.shipment.vgms.max_weight_csc)[i-1] }}">
                        {% endif %}
                    </td>
                    <td class="input">
                        {% if Contract.shipment.vgms.gross_method == false %}
                            <input type="text" style="width: 100% !important" name="gm_method[]" value="Method-1" placeholder="Method"><br>
                            <input type="number" style="width: 100% !important" class="gross_net g{{ i-1 }}n" data-index="{{i-1}}" name="gm_net[]" value="" placeholder="NET"><br>
                            <input type="number" style="width: 100% !important" class="gross_tare g{{ i-1 }}t" data-index="{{i-1}}" name="gm_tare[]" value="" placeholder="TARE"><br>
                            <input type="number" style="width: 100% !important" class="gross_tare g{{ i-1 }}t" data-index="{{i-1}}" name="gm_packing[]" value="" placeholder="PACKING">
                            <!-- <br><input type="number" style="width: 49% !important" data-index="{{i-1}}" class="gross_total g{{ i-1 }}a" name="gm_total[]" value="" placeholder=""> -->
                            <!-- <textarea name="gross_mass[]">METHOD-1 / NET 17100+ TARE 2220 + PACKING 840 = 20160</textarea> -->
                        {% else %}
                            <input type="text" style="width: 100% !important" name="gm_method[]" 
                            value="{{ json_decode(Contract.shipment.vgms.gross_method)[i-1] }}" placeholder="Method"><br>
                            <input type="number" style="width: 100% !important" name="gm_net[]" class="gross_net g{{ i-1 }}n" data-index="{{i-1}}"
                            value="{{ json_decode(Contract.shipment.vgms.gross_net)[i-1] }}" placeholder="NET"><br>
                            <input type="number" style="width: 100% !important" name="gm_tare[]" class="gross_tare g{{ i-1 }}t" data-index="{{i-1}}" 
                            value="{{ json_decode(Contract.shipment.vgms.gross_tare)[i-1] }}" placeholder="TARE"><br>
                            <input type="number" style="width: 100% !important" name="gm_packing[]" class="gross_packing g{{ i-1 }}p" data-index="{{i-1}}"
                            value="{{ json_decode(Contract.shipment.vgms.gross_packing)[i-1] }}" onchange="" placeholder="PACKING">
                            <!-- <br><input type="number" style="width: 100% !important" name="" data-index="{{i-1}}" class="gross_total g{{ i-1 }}a" value="{{ (json_decode(Contract.shipment.vgms.gross_net)[i-1])+(json_decode(Contract.shipment.vgms.gross_tare)[i-1])+(json_decode(Contract.shipment.vgms.gross_packing)[i-1]) }}" placeholder=""> -->
                            <!-- <textarea name="gross_mass[]">{{ json_decode(Contract.shipment.vgms.gross_mass)[i-1] }}</textarea> -->
                        {% endif %}
                    </td>
                    <td class="input">
                       <input type="text" class="w_slip_no" name="weight_slip_no[]" value="{{ json_decode(Contract.shipment.vgms.weight_slip_no)[i-1] }}">
                    </td>
                    <td class="input">
                        <select name="type[]">
                            <option value="Normal" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Normal' %} selected="selected" {% endif %} >Normal</option>
                            <option value="Reefer" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Reefer' %} selected {% endif %}>Reefer</option>
                            <option value="Hazardous" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Hazardous' %} selected {% endif %}>Hazardous</option>
                            <option value="Other" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Other' %} selected {% endif %}>Other</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="booking[]" value="{{ json_decode(Contract.shipment.vgms.booking)[i-1] }}">
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
            
            {% if Contract.shipment.container_size[1] is not empty and Contract.shipment.container_size[1] != 0 %}
            {% for i in (Contract.shipment.container_size[0]+1)..(Contract.shipment.container_size[0]+Contract.shipment.container_size[1]) %}
                <tr>
                    <td>{{ i }}</td>
                    <td>40'</td>
                    <td>{{ json_decode(Contract.shipment.containers_detail).fortyContainer[i-Contract.shipment.container_size[0]-1] }}</td>
                    <td class="input">
                        {% if Contract.shipment.vgms.max_weight_csc == false %}
                            <input type="text" name="max_weight_csc[]" value="30480">
                        {% else %}
                            <input type="text" name="max_weight_csc[]" value="{{ json_decode(Contract.shipment.vgms.max_weight_csc)[i-1] }}">
                        {% endif %}
                    </td>
                    <td class="input">
                        {# {% if json_decode(Contract.shipment.vgms.gross_mass)[i-1] == false %}
                            <textarea name="gross_mass[]" >METHOD-1 / NET 17100+ TARE 2220 + PACKING 840 = 20160</textarea>
                        {% else %}
                            <textarea name="gross_mass[]" >{{ json_decode(Contract.shipment.vgms.gross_mass)[i-1] }}</textarea>
                        {% endif %} #}

                        {% if json_decode(Contract.shipment.vgms.gross_method)[i-1] == false %}
                            <input type="text" style="width: 100% !important" name="gm_method[]" value="Method-1" placeholder="Method"><br>
                            <input type="number" style="width: 100% !important" name="gm_net[]" value="" placeholder="NET"><br>
                            <input type="number" style="width: 100% !important" name="gm_tare[]" value="" placeholder="TARE"><br>
                            <input type="number" style="width: 100% !important" name="gm_packing[]" value="" placeholder="PACKING">
                            <!-- <br><input type="number" style="width: 49% !important" name="gm_total[]" value="" placeholder=""> -->
                            <!-- <textarea name="gross_mass[]">METHOD-1 / NET 17100+ TARE 2220 + PACKING 840 = 20160</textarea> -->
                        {% else %}
                            <input type="text" style="width: 100% !important" name="gm_method[]" value="{{ json_decode(Contract.shipment.vgms.gross_method)[i-1] }}" placeholder="Method"><br>
                            <input type="number" style="width: 100% !important" name="gm_net[]" class="grossmass_net g{{ i-1 }}gn" data-index="{{i-1}}"
                            value="{{ json_decode(Contract.shipment.vgms.gross_net)[i-1] }}" placeholder="NET"><br>
                            <input type="number" style="width: 100% !important" name="gm_tare[]" class="grossmass_tare g{{ i-1 }}gt" data-index="{{i-1}}"
                            value="{{ json_decode(Contract.shipment.vgms.gross_tare)[i-1] }}" placeholder="TARE"><br>
                            <input type="number" style="width: 100% !important" name="gm_packing[]" class="grossmass_pack g{{ i-1 }}gp" data-index="{{i-1}}"
                            value="{{ json_decode(Contract.shipment.vgms.gross_packing)[i-1] }}" placeholder="PACKING">
                            <br><input type="number" style="width: 49% !important" name="" class="grossmass_total g{{ i-1 }}ga" data-index="{{i-1}}"
                            value="{{ (json_decode(Contract.shipment.vgms.gross_net)[i-1])+(json_decode(Contract.shipment.vgms.gross_tare)[i-1])+(json_decode(Contract.shipment.vgms.gross_packing)[i-1]) }}" placeholder="">
                            <!-- <textarea name="gross_mass[]">{{ json_decode(Contract.shipment.vgms.gross_mass)[i-1] }}</textarea> -->
                        {% endif %}

                    </td>
                    <td class="input">
                       <input type="text" name="weight_slip_no[]" value="{{ json_decode(Contract.shipment.vgms.weight_slip_no)[i-1] }}"> 
                    </td>
                    <td class="input">

                        <select name="type[]">
                            <option value="Normal" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Normal' %} selected="selected" {% endif %} >Normal</option>
                            <option value="Reefer" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Reefer' %} selected="selected" {% endif %}>Reefer</option>
                            <option value="Hazardous" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Hazardous' %} selected="selected" {% endif %}>Hazardous</option>
                            <option value="Other" {% if json_decode(Contract.shipment.vgms.type)[i-1] == 'Other' %} selected="selected" {% endif %}>Other</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="booking[]" value="{{ json_decode(Contract.shipment.vgms.booking)[i-1] }}">
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
            </table>

                 <div class="form-group mt20 mb20 ml20">
                    <label></label>
                    <button type="submit" class="btn"><i class="ti-plus"></i> Update VGM Container Detail</button>
                </div>
                </form>
            
            </div>
        </div>
    </div>
</div>
</div>
