{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-truck"></i> Update Importer</div>
    <ul class="toolbar">
        <li><a href="{{ url('importers') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('importer/edit/' ~ Importer.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>Importer Company Name</label>
                <input type="text" name="name" value="{{ Importer.name }}">
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea name="address">{{ Importer.address }}</textarea>
            </div>

            <div class="form-group">
                <label>Country</label>
                <input type="text" name="country" value="{{ Importer.country }}">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" value="{{ Importer.phone }}">
            </div>

            <div class="form-group">
                <label>Phone 2</label>
                <input type="text" name="phone2" value="{{ Importer.phone2 }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}