<form action="{{ url('quick/add/importer') }}" method='post' class="form quickForm">
    <div class="form-group">
        <label>Importer Company Name</label>
        <input type="text" name="name" class="quickFocus">
    </div>

    <div class="form-group">
        <label>Address</label>
        <textarea name="address"></textarea>
    </div>

    <div class="form-group">
        <label>Country</label>
        <input type="text" name="country">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="text" name="phone">
    </div>

    <div class="form-group">
        <label>Phone 2</label>
        <input type="text" name="phone2">
    </div>

    <div class="form-group mt20">
        <label></label>
        <button type="button" class="btn quickAdd">Create</button>
    </div>
</form>