{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-anchor"></i> Update DeliveryTerm</div>
    <ul class="toolbar">
        <li><a href="{{ url('deliveryterms') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('deliveryterm/edit/' ~ DeliveryTerm.Id) }}" method='post' class="form">
            <div class="form-group">
                <label>DeliveryTerm Name</label>
                <input type="text" name="name" value="{{ DeliveryTerm.name }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}