{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-stamp"></i> Surveyors Register</div>
    <ul class="toolbar">
        <li><a href="{{ url('surveyor/new') }}"><i class="ti-notepad"></i> Add New</a></li>
    </ul>
{% endblock %}

{% block content %}

        <table class="table">
            <colgroup>
                <col style='width: 40px'>
                <col span=4>
                <col style='width: 88px'>
            </colgroup>
            <tr>
                <th>No.</th>
                <th>Surveyor's Name</th>
                <th></th>
            </tr>

            {% for item in Surveyors %}
                <tr>
                    <td class='text-center'>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <a href="{{ url('surveyor/edit/' ~ item.Id) }}" class='btn btn-yellow'><i class='ti-pencil'></i></a>
                        <a href="{{ url('surveyor/remove/' ~ item.Id) }}" class='btn btn-orange confirm-delete'><i class='ti-trash'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}