{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-stamp"></i> Add New Surveyor</div>
    <ul class="toolbar">
        <li><a href="{{ url('surveyors') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('surveyor') }}" method='post' class="form">
            <div class="form-group">
                <label>Surveyor Name</label>
                <input type="text" name="name">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Create</button>
            </div>
        </form>

{% endblock %}