<form action="{{ url('quick/add/surveyor') }}" method='post' class="form quickForm">
    <div class="form-group">
        <label>Surveyor Name</label>
        <input type="text" name="name" class="quickFocus">
    </div>

    <div class="form-group mt20">
        <label></label>
        <button type="button" class="btn quickAdd">Create</button>
    </div>
</form>