{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-settings"></i> Application Settings</div>
{% endblock %}

{% block content %}

        <form action="{{ url('app/settings') }}" method='post' class="form">
            <legend style="color:red">Not Available Right Now :)</legend>

            <div class="form-group">
                <label>Setting 1</label>
                <input type="text" name="name" value="{{ Company.name }}">
            </div>

            <div class="form-group">
                <label>Setting 2</label>
                <input type="text" name="name" value="{{ Company.name }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}