<title>{{ Title }}</title>
<link rel="stylesheet" href="{{ asset('css/print.css') }}">

<div class="a4">
    <table contenteditable="true">
        <tr>
            <td colspan="9" class="t-center">Contracts Weekly Report</td>
        </tr>
        <tr>
            <td colspan="3">Prepared By : </td>
            <td></td>
            <td></td>
            <td></td>
            <td>Date</td>
            <td colspan="2">{{ now|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td colspan="9" class="t-center">Personal Contracts Done</td>
        </tr>
        <tr>
            <td>Buyer Name</td>
            <td>Product</td>
            <td>Pkg</td>
            <td>Qty. (MT)</td>
            <td>Containers</td>
            <td>Date</td>
            <td>Shipment</td>
            <td>Rate (USD)</td>
            <td>Amount (USD)</td>
        </tr>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.importer.name }}</td>
                <td>{{ contract.shipments[0].products[0].product.name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
</div>