
{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i>Report Formats</div>
    <ul class="toolbar">
        <!-- <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li> -->
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
    <!-- <link rel="stylesheet" href="{{ asset('css/print.css') }}"> -->
{% endblock %}

{% block content %}
<style type="text/css">
/*@page {
    size: auto;
    margin: 0;
}*/
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .ti-printer { display: none; }
    .print-hidden-table { display: none; }
    .header { display: none; }
    .page-footer { display: none; }
     * { margin: 0 !important; padding: 0 !important; }
    .table { border-color: #000 !important; }
}
</style>
    <table class="table">
        <tr>
            <td> Booking Detail </td>
            <td>
                <a href="{{ url('reports/bookingdetail') }}" class="btn"><i class="ti-download"></i> Download</a>
            </td>
        </tr>
        <tr>
            <td> Shipping Schedule </td>
            <td><a href="{{ url('reports/shippingschedule') }}" class="btn"><i class="ti-download"></i> Download</a></td>
        </tr>
        <tr>
            <td> Export Stuffing Schedule </td>
            <td><a href="{{ url('reports/exportstuffingschedule') }}" class="btn"><i class="ti-download"></i> Download</a></td>
        </tr>
    </table>
{% endblock %}