{% extends 'layouts/standard.twig' %}

{% block header %}
    <div style="color: red">NOT READY FOR USE !!!</div><br><br>
    <div class="title"><i class="ti-calendar"></i> Custom Query Report</div>
{% endblock %}

{% block content %}

    <textarea name="" id="query-text" cols="30" rows="10" placeholder="Query String [For Developer Only]">SELECT * FROM `users`</textarea><br>
    <button class="btn-teal mt5" id="get-report">Get Report</button>

    <hr>

    <div class="target"></div>

{% endblock %}