{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i>Weekly Invoice Report</div>
    <ul class="toolbar">
        <!-- <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li> -->
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <form method="POST" action="{{ url('reports/weeklyinvoice') }}">
                <label>Start Date:</label>
                <input type="text" name="fromDate" class="datepick" value="{{ fromDate|date('d-m-Y') }}">&nbsp;
                <label>End Date:</label>
                <input type="text" name="toDate" class="datepick" value="{{ toDate|date('d-m-Y') }}">&nbsp;
                <button type="submit" class="btn">Go</button>
                </form>
            </td>
        <br>
        </tr>
    </table><br>
    
    <table class="table">
        <tr>
            {% for user in username %}
            <td>Prepared By : {{ user.first_name }} {{ user.last_name }}<span class="pull-right">Date : {{ "now"|date("d-m-Y") }}</span></td>
             {% endfor %}    
        </tr>
    </table>
   <!--  <table class="table">
        <tr>
            <th colspan="6"><b>Weekly Invoice Detail</b></th>
        </tr>
        <tr>
            <th>Buyer</th>
            <th>Product</th>
            <th>Invoice No.</th>
            <th>Container</th>
            <th>Date</th>
            <th>Amount(USD)</th>
        </tr>

        {% for ship in shipment %}
            <tr>
                <td>{{ ship.contract.importer.name }}</td>
                <td>
                {% for pro in ship.products %}
                    {% if loop.last %}
                    {{ pro.product.shortcode }}
                    {% else %}
                    {{ pro.product.shortcode }}<b>,</b>
                    {% endif %}
                {% endfor %}
                </td>
                <td>{{ ship.invoice_no }}</td>
                <td>
                {% if ship.container_size[0] == true and ship.container_size[1] == true %}
                    {{ ship.container_size[0] }}(20')<b>,</b> {{ ship.container_size[1] }}(40')
                        {% elseif ship.container_size[1] == true and ship.container_size[0] == false %}
                            {{ ship.container_size[1] }}(40')
                        {% elseif ship.container_size[0] == true and ship.container_size[1] == false %}
                            {{ ship.container_size[0] }}
                {% endif %}
                </td>
                <td>{{ ship.export_invoice_date|date('d-m-Y') }}</td>
                <td class="text-right">
                {% set ans = 0 %}
                {% for pro in ship.products %}
                   {% set ans = ans + pro.total_amount %} 
                {% endfor %}
                {{ ans|number_format(2,'.') }}
                </td>
            </tr>
        {% endfor %}
        
        <tr>
            <td colspan="4"></td>
            <td class="text-center"><b>TOTAL</b></td>
            {% set sum = 0 %}
                {% for ship in shipment %}
                {% for pro in ship.products %}
                    {% set sum = sum + pro.total_amount %}
                {% endfor %}
                {% endfor %}
            <td class="text-right">$ {{ sum|number_format(2,'.') }}</td>

        </tr>
    </table>
    <br>
    <div class="text-center">
        <button type="button" onclick="window.print();return false;" class="printBtn btn-green ti-printer"> Print</button>    
    </div> -->
{% endblock %}