
{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i>Weekly Contracts Done Report</div>
    <ul class="toolbar">
        <!-- <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li> -->
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
    <!-- <link rel="stylesheet" href="{{ asset('css/print.css') }}"> -->
{% endblock %}

{% block content %}
<style type="text/css">
/*@page {
    size: auto;
    margin: 0;
}*/
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .ti-printer { display: none; }
    .print-hidden-table { display: none; }
    .header { display: none; }
    .page-footer { display: none; }
     * { margin: 0 !important; padding: 0 !important; }
    .table { border-color: #000 !important; }
}
</style>

    <table class="print-hidden-table">
        <tr>
            <td>
                <form method="POST" action="{{ url('reports/weeklycontracts') }}">
                    <label>Start Date:</label>
                    <input type="text" name="fromDate" class="datepick" value="{{ fromDate|date('d-m-Y') }}">&nbsp;
                    <label>End Date:</label>
                    <input type="text" name="toDate" class="datepick" value="{{ toDate|date('d-m-Y') }}">&nbsp;
                    <button type="submit" class="btn">Go</button>
                </form>
            </td>
        <br>
        </tr>
    </table>
    <br>
    <table class="table">
        <tr>
            <td colspan="12"> Weekly Report No. : {{ week }} - {{"now"|date("Y")}}</td>
        </tr>
        <tr>
            {% for user in username %}
            <td colspan="12"> Prepared By : {{ user.first_name }} {{ user.last_name }}<span class="pull-right">Date : {{ "now"|date("d-m-Y") }}</span></td>
            {% endfor %}
        </tr>
       <!--  <tr>
            <td colspan="12" class="text-center"><b>Contracts Done</b></td>
        </tr>
        <tr>
            <th>Sr.</th>
            <th>C.Number</th>
            <th>C.date</th>
            <th>Buyer</th>
            <th>Product</th>
            <th>Pkg.</th>
            <th>Qty(MT)</th>
            <th>Cont.</th>
            <th>Port</th>
            <th>Shipment</th>
            <th>Rate($)</th>
            <th>Amount($)</th>
        </tr>
        {% set sum = 0 %}
        {% for i in contract %}
            {% set sr = loop.index %}
            {% for item in i %}
            <tr class="contract-row">
                <td>{{ sr }}</td>
                <td>{{ item.contract_no }}</td>
                <td>{{ item.contract_date|date('d-m-Y') }}</td>
                <td>{{ item.importer.name }}</td>
                {% for pro in item.contract_product %}
                    {% if loop.first %}
                    <td>{{ pro.product.name }}</td>
                    <td>{{ pro.package_type }}</td>
                    <td>{{ pro.quantity }}</td>
                    <td>--</td>
                    <td>{{ item.port_discharge }}</td>
                    <td>
                    {% for ship in item.shipments %}
                    {% if pro.shipment_id == ship.Id %}  
                       {{ ship.eta }}
                       {% endif %}
                    {% endfor %}
                    </td>   
                    <td><span class="text-left">$</span>{{ pro.rate }}</td>
                    <td><span class="text-left">$</span>{{ pro.total_amount }}</td>
                     {% set sum = sum + pro.total_amount %}
                    {% endif %}
                {% endfor %}
                {% for pro in item.contract_product %}
                {% if loop.index0 %}
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                    <td>{{ pro.product.shortcode }}</td>
                    <td>{{ pro.package_type }}</td>
                    <td>{{ pro.quantity }}</td>
                    <td>--</td>
                    <td>{{ item.port_discharge }}</td>
                    <td>
                    {% for ship in item.shipments %}
                    {% if pro.shipment_id == ship.Id %}   
                       {{ ship.eta }}
                       {% endif %}
                    {% endfor %}
                    </td>
                    <td><span class="text-left">$</span>{{ pro.rate }}</td>
                    <td><span class="text-left">$</span>{{ pro.total_amount }}</td>
                    {% set sum = sum + pro.total_amount %}
                    </tr>
                {% endif %}
                {% endfor %}    
            </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="11" class="text-right"><b>Total</b></td>
            <td><span class="text-left">${{ sum }}</span></td>
        </tr> -->
    </table>
    <!-- <br>
    <div class="text-center">
        <button type="button" onclick="window.print();return false;" class="printBtn btn-green ti-printer"> Print</button>  
    </div> -->
    
{% endblock %}