{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i>Weekly Documents Report</div>
    <ul class="toolbar">
        <!-- <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li> -->
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <form method="post" action="{{ url('reports/weeklydocument') }}">
                <label>Start Date:</label>
                <input type="text" name="fromDate" class="datepick" value="{{ fromDate|date('d-m-Y') }}">&nbsp;
                <label>End Date:</label>
                <input type="text" name="toDate" class="datepick" value="{{ toDate|date('d-m-Y') }}">&nbsp;
                <button type="submit" class="btn">Go</button>
                </form>
            </td>
        <br>
        </tr>
    </table><br>
    
    <table class="table">
        <tr>
            {% for user in username %}
            <td colspan="8">Prepared By : {{ user.first_name }} {{ user.last_name }}<span class="pull-right">Date : {{ "now"|date("d-m-Y") }}</span></td>
             {% endfor %}
        </tr>
        <!-- <tr>
            <th colspan="8" class="text-center"><b>DOCUMENTS SET COMPLETE THIS WEEK</b></th>
        </tr>
        <tr>
            <th class="text-uppercase">Sr No.</th>
            <th class="text-uppercase">Comm. Invoice No.</th>
            <th class="text-uppercase">Buyer's Name</th>
            <th class="text-uppercase">Vessel</th>
            <th class="text-uppercase">Document Ready On</th>
            <th class="text-uppercase">ETA</th>
            <th class="text-uppercase">Document Status</th>
            <th class="text-uppercase">Pending/Remarks</th>
        </tr>
            {% for ship in shipment %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ship.comm_invoice_no }}</td>
                <td>{{ ship.contract.importer.name }}</td>
                <td>
                    {% if ship.deliveryorder.etd_origin == "0000-00-00 00:00:00" %}
                        <span></span>
                    {%else%}
                        {{ ship.deliveryorder.etd_origin|date('d-m-Y') }}
                    {% endif %}
                </td>
                <td>{{ ship.document_ready_on|date("d-m-Y") }}</td>
                <td>{% if ship.deliveryorder.eta_destination == "0000-00-00 00:00:00" %}
                        <span></span>
                    {% else %}
                        {{ ship.deliveryorder.eta_destination|date('d-m-Y') }}
                    {% endif %}
                </td>
                <td>{{ ship.document_status }}</td>
                <td></td>
            </tr>
            {% endfor %}
    </table>
    
    <br>
    
    <table class="table">
        <tr>
            <th colspan="6"><b>IN PROCESS DOCUMENTS</b></th>
        </tr>
        <tr>
            <th>Inv.No.</th>
            <th>Buyer</th>
            <th>Stuffing</th>
            <th>Vessel</th>
            <th>ETA</th>
            <th>ETA</th>
        </tr>
        {% for ship in inProcess %}
        <tr>
            <td>{{ ship.comm_invoice_no }}</td>
            <td>{{ ship.contract.importer.name }}</td>
            <td>{{ ship.deliveryorder.stuffing_from }}</td>
            <td>
            {% if ship.deliveryorder.etd_origin == "0000-00-00 00:00:00" %}
                    <span></span>
                {%else%}
                    {{ ship.deliveryorder.etd_origin|date('d-m-Y') }}
                {% endif %}
            </td>
            <td>{% if ship.deliveryorder.eta_destination == "0000-00-00 00:00:00" %}
                        <span></span>
                    {% else %}
                        {{ ship.deliveryorder.eta_destination|date('d-m-Y') }}
                    {% endif %}
                </td>
            <td>{{ ship.comm_eta }}</td>
        </tr>
        {% endfor %} -->
       
    </table>
    <!-- <br>
    <div class="text-center">
        <button type="button" onclick="window.print();return false;" class="printBtn btn-green ti-printer"> Print</button>    
    </div> -->
{% endblock %}