{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i>Weekly Stuffing Report</div>
    <ul class="toolbar">
        <!-- <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li> -->
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <form method="POST" action="{{ url('reports/weeklystuffing') }}">
                <label>Start Date:</label>
                <input type="text" name="fromDate" class="datepick" value="{{ fromDate|date('d-m-Y') }}">&nbsp;
                <label>End Date:</label>
                <input type="text" name="toDate" class="datepick" value="{{ toDate|date('d-m-Y') }}">&nbsp;
                <button type="submit" class="btn">Go</button>
                </form>
            </td>
        <br>
        </tr>
    </table><br>
    
    <table class="table">
        <tr>
            {% for user in username %}
            <td>Prepared By : {{ user.first_name }} {{ user.last_name }}<span class="pull-right">Date : {{ "now"|date("d-m-Y") }}</span></td>
             {% endfor %}    
        </tr>
    </table>
    <!-- <table class="table">
        <tr>
            <th colspan="5"><b>STUFFING REPORT</b></th>
        </tr>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Invoice No.</th>
            <th>Party Name</th>
            <th>Remarks</th>
        </tr>
        {% for ship in shipment %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ ship.export_invoice_date|date('d-m-Y') }}</td>
            <td>{{ ship.invoice_no }}</td>
            <td>{{ ship.contract.importer.name }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="text-center">
        <button type="button" onclick="window.print();return false;" class="printBtn btn-green ti-printer"> Print</button>    
    </div> -->
{% endblock %}