{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-agenda"></i>Weekly Freight Report</div>
    <ul class="toolbar">
        <!-- <li><a href="{{ url('contract/new') }}"><i class="ti-notepad"></i> Add New</a></li> -->
        <!-- <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
        <li><a href="#"><i class="ti-filter"></i> Filter</a></li>
        <li><a href="#"><i class="ti-printer"></i> Print</a></li>
        <li><a href="#"><i class="ti-pie-chart"></i> Chart</a></a></li> -->
    </ul>
{% endblock %}

{% block content %}

    <table>
        <tr>
            <td>
                <form method="post" action="{{ url('reports/weeklyfreight') }}">
                <label>Start Date:</label>
                <input type="text" name="fromDate" class="datepick" value="{{ fromDate|date('d-m-Y') }}">&nbsp;
                <label>End Date:</label>
                <input type="text" name="toDate" class="datepick" value="{{ toDate|date('d-m-Y') }}">&nbsp;
                <button type="submit" class="btn">Go</button>
                </form>
            </td>
        <br>
        </tr>
    </table><br>
    
    <table class="table">
        <tr>
            {% for user in username %}
            <td>Prepared By : {{ user.first_name }} {{ user.last_name }}</td>
             {% endfor %}    
            <td class="text-right">Date : {{ "now"|date("d-m-Y") }}</td>
        </tr>
    </table>

    
    <!-- <table class="table">
        <tr>
            <th colspan="11"><b>REPORT</b></th>
        </tr>
        <tr>
            <th>INV NO.</th>
            <th>CO. NO.</th>
            <th>BUYER</th>
            <th>ORIGIN PORT</th>
            <th>DESTINATION PORT</th>
            <th>CONTAINER</th>
            <th>TYPE OF CONTAINER</th>
            <th>FORWARDER</th>
            <th>ACTUAL FREIGHT</th>
            <th>QUOTATION SHEET</th>
            <th>DIFFERENCE</th>
        </tr>
        {% for shi in shipment %}
        {% for ship in shi %}
        <tr>
            <td>{{ ship.invoice_no }}</td>
            <td>{{ ship.contract.contract_no }}</td>
            <td>
            {% for impo in importer %}
                {% if impo.Id == ship.contract.importer_id %}
                    {{ impo.name }}
                {% endif %}
            {% endfor %}
            </td>
            <td>
            {% for p in port %}
                {% if p.Id == ship.contract.port_loading %}
                    {{ p.name }}
                {% endif %}
            {% endfor %}
            </td>
            <td>
            {{ ship.contract.port_discharge }}
            {% if ship.contract.port_discharge2 != false %}
                ,{{ ship.contract.port_discharge2 }}
                {% if ship.contract.port_discharge3 != false %}
                    ,{{ ship.contract.port_discharge3 }}
                {% endif %}
            {% endif %}
            </td>

            <td class="text-center">{{ ship.container_size[0] }}</td>
            <td class="text-center">20'</td>
            <td>
            {% for forw in forwarder %}
            {% if forw.Id == ship.deliveryorder.forwarder_id %}
                {{ forw.name }}
            {% endif %}
            {% endfor %}
            </td>
            <td>{{ ship.deliveryorder.total_freight }}</td>
            <td class="text-center">{{ ship.quotation_freight[0] }}</td>
            <td class="text-right">{{ ((ship.quotation_freight[0] - ship.deliveryorder.total_freight) * ship.container_size[0]) }}</td>
            {% if ship.container_size[1] == true %}
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">{{ ship.container_size[1] }}</td>
                <td class="text-center">40'</td>
                <td>
                {% for forw in forwarder %}
                {% if forw.Id == ship.deliveryorder.forwarder_id %}
                    {{ forw.name }}
                {% endif %}
                {% endfor %}
                </td>
                <td>{{ ship.deliveryorder.total_freight }}</td>
                <td class="text-center">{{ ship.quotation_freight[0] }}</td>
                <td class="text-right">{{ ((ship.quotation_freight[1] - ship.deliveryorder.total_freight) * ship.container_size[1]) }}</td>
                </tr>
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
        <tr>
        <td colspan="9"></td>
            <td class="text-center"><b>TOTAL</b></td>
            {% set sum = 0 %}
            {% for shi in shipment %}
            {% for ship in shi %}
                {% set sum = sum + ((ship.quotation_freight[1] - ship.deliveryorder.total_freight) * ship.container_size[1]) %}
                {% if ship.container_size[1] == true %}
                {% set sum = sum + ((ship.quotation_freight[0] - ship.deliveryorder.total_freight) * ship.container_size[0]) %}
                {% endif %}
            {% endfor %}
            {% endfor %}
            <td class="text-right"><b>$ {{ sum }}</b></td>
        </tr>
    </table>
    <br>
    <div class="text-center">
        <button type="button" onclick="window.print();return false;" class="printBtn btn-green ti-printer"> Print</button>    
    </div> -->
{% endblock %}