{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-key"></i> Change Password</div>
{% endblock %}

{% block content %}

        <div class="form">
            <div class="form-group">
                <label>Old Password</label>
                <input type="password" class="old_pass">
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="new_pass">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button class="btn-red" id="updatePass" data-action="{{ url('user/updatepass') }}">Update Password</button>
            </div>

            <div class="form-group mt20">
                <div class="errormsg" style="color:#D9434E;margin-left:10px">&nbsp;</div>
            </div>
        </div>

{% endblock %}