{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-lock"></i> User Restricted Areas &middot; [ {{ User.last_name }} {{ User.first_name }} @ {{ User.username }} ]</div>
    <ul class="toolbar">
        <li><a href="{{ url('user/index') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

    <form action="{{ url('user/edit/' ~ User.Id) }}" method='post' class="form">

        {% for key, category in Haystack %}
            <div class="form-group">
                <legend>{{ key }}</legend>
                {% for label, item in category %}
                    <label class="checkboxLabel">
                        {% set temp = item|split(',') %}
                        <input type="checkbox" name="check[]" value="{{ item }}" {% if temp.0 in Restricted %} checked="checked" {% endif %}>
                        {{ label }}
                        <div class="fake"></div>
                    </label>
                {% endfor %}
            </div>

            <hr>
        {% endfor %}

        <div class="form-group mt20">
            <label></label>
            <button type="submit" class="btn">Update</button>
        </div>
    </form>

{% endblock %}