{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-user"></i> User Management</div>
    <ul class="toolbar">
        <li><a href="{{ url('user/new') }}"><i class="ti-notepad"></i> Add New</a></li>
    </ul>
{% endblock %}

{% block content %}

        <table class="table">
            <colgroup>
                <col style='width: 40px'>
                <col span=2>
                <col style='width: 88px'>
            </colgroup>
            <tr>
                <th>No.</th>
                <th>Full Name</th>
                <th>Username</th>
                <th></th>
            </tr>

            {% for item in Users %}
                <tr>
                    <td class='text-center'>{{ loop.index }}</td>
                    <td>{{ item.last_name ~ " " ~ item.first_name }}</td>
                    <td>{{ item.username }}</td>
                    <td>
                        <a href="{{ url('user/edit/' ~ item.Id) }}" class='btn btn-yellow'><i class='ti-lock'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}