{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-truck"></i> Add New User</div>
    <ul class="toolbar">
        <li><a href="{{ url('user/index') }}"><i class="ti-angle-left"></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}

        <form action="{{ url('user') }}" method='post' class="form">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" autocomplete="new-password">
            </div>

            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="first_name">
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="last_name">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Create</button>
            </div>
        </form>

{% endblock %}