{% extends 'layouts/standard.twig' %}

{% block header %}
    <div class="title"><i class="ti-user"></i> User Profile</div>
{% endblock %}

{% block content %}

        <style>
            .form input { width: 250px; }
        </style>

        <form action="{{ url('user/profile') }}" method='post' class="form">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="first_name" value="{{ User.first_name }}">
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="last_name" value="{{ User.last_name }}">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{ User.email }}">
            </div>

            <div class="form-group">
                <label>Website</label>
                <input type="text" name="website" value="{{ User.website }}">
            </div>

            <div class="form-group">
                <label>Facebook ID</label>
                <input type="text" name="facebook" value="{{ User.facebook }}">
            </div>

            <div class="form-group">
                <label>Skype ID</label>
                <input type="text" name="skype" value="{{ User.skype }}">
            </div>

            <div class="form-group mt20">
                <label></label>
                <button type="submit" class="btn">Update</button>
            </div>
        </form>

{% endblock %}