<div class="page-footer">
    &copy; Copyrights 2016
    &middot;
    <a href="#">Elementary Softwares</a>
    &middot;
    Ver. 2016.08.14
    &middot;
    <a href="#">Check for updates</a>
    &middot;
    <a href="#">Server info</a>
</div>