<div class="header">
    <div class="pull-left">
        <ul>
            <li><a href="{{ url() }}"><i class="ti-home"></i> Dashboard</a></li>

            <li class="dropdown dropdown-left">
                <a href="#"><i class="ti-receipt"></i> <span>Contracts</span></a>
                <ul>
                    <li><a href="{{ url('contracts') }}"><i class="ti-agenda"></i> Contracts Register</a></li>
                    <li><a href="{{ url('contracts2') }}"><i class="ti-agenda"></i> Contracts Register 2nd</a></li>
                    <li><a href="{{ url('contract/new') }}"><i class="ti-plus"></i> New Contract</a></li>
                </ul>
            </li>

            <li><a href="{{ url('quotation') }}"><i class="ti-bar-chart-alt"></i> Quotation Sheet</a></li>
            <li><a href="{{ url('purchase') }}"><i class="ti-money"></i> Purchase</a></li>
            <li><a href="{{ url('purchase/stock') }}"><i class="ti-bolt"></i> Stock</a></li>

            <li class="dropdown dropdown-left">
                <a href="#"><i class="ti-server"></i> <span>Data</span></a>
                <ul>
                    <li><a href="{{ url('products') }}"><i class="ti-package"></i> Products</a></li>
                    <li><a href="{{ url('importers') }}"><i class="ti-truck"></i> Importers</a></li>
                    {#<li><a href="{{ url('schemes') }}"><i class="ti-medall"></i> Export Schemes</a></li>#}
                    <li><a href="{{ url('surveyors') }}"><i class="ti-stamp"></i> Surveyor Companies</a></li>
                    <li><a href="{{ url('countrys') }}"><i class="ti-flag"></i> Countries</a></li>
                    <li><a href="{{ url('ports') }}"><i class="ti-anchor"></i> Ports</a></li>
                    <li><a href="{{ url('forwarders') }}"><i class="ti-world"></i> Forwarder Companies</a></li>
                    <li><a href="{{ url('dischargeports') }}"><i class="ti-anchor"></i> Discharge Ports</a></li>
                    <li><a href="{{ url('paymentterms') }}"><i class="ti-money"></i> Payment Terms</a></li>
                    <li><a href="{{ url('deliveryterms') }}"><i class="ti-notepad"></i> Delivery Terms</a></li>
                    {# <li><a href="{{ url('finaldestinations') }}"><i class="ti-flag"></i> Final Destination</a></li> #}
                    {#<li><a href="{{ url('packages') }}"><i class="ti-package"></i> Packages</a></li>#}
                </ul>
            </li>

            <li class="dropdown dropdown-left">
                <a href="#"><i class="ti-calendar"></i> <span>Reports</span></a>
                <ul>
                    <li><a href="{{ url('reports/contracts/girnar-master') }}">Girnar Master</a></li>
                    <li><a href="{{ url('reports/contracts/weekly-sheet') }}">Contracts - Weekly Sheet (User Based)</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url('reports/weeklycontracts') }}">Weekly Contracts Done(I)</a></li>
                    <li><a href="{{ url('reports/weeklyinvoice') }}">Weekly Invoice Detail(J)</a></li>
                    <li><a href="{{ url('reports/weeklydocument') }}">Weekly Documents(S)</a></li>
                    <li><a href="{{ url('reports/weeklyfreight') }}">Weekly Freight Report(D)</a></li>
                    <li><a href="{{ url('reports/weeklystuffing') }}">Weekly Stuffing Report(L)</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url('reports/format') }}">Report Formats</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-left">
                <a href="#"><i class="ti-settings"></i> <span>Settings</span></a>
                <ul>
                    <li><a href="{{ url('user/profile') }}"><i class="ti-user"></i> <span>User Profile</span></a></li>
                    <li><a href="{{ url('user/changepass') }}"><i class="ti-key"></i> <span>Change Password</span></a></li>
                    <li><a href="{{ url('user/index') }}"><i class="ti-user"></i> <span>User Management</span></a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url('company') }}"><i class="ti-direction-alt"></i> <span>Company Details</span></a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url('app/settings') }}"><i class="ti-settings"></i> <span>App Settings</span></a></li>
                    <li><a href="{{ url('log') }}"><i class="ti-book"></i> <span>Log Master</span></a></li>
                    {#<li><a href="{{ url('backup') }}"><i class="ti-cloud-up"></i> <span>Backup</span></a></li>#}
                </ul>
            </li>

            <!-- <li><a href="#"><i class="ti-write"></i></a></li>
            <li><a href="#"><i class="ti-calendar"></i></a></li>
            <li><a href="#"><i class="ti-book"></i></a></li>
            <li><a href="#"><i class="ti-clipboard"></i></a></li> -->
            <!-- <li class="dropdown dropdown-left">
                <a href="#"><i class="ti-time"></i></a>
                <ul>
                    <li style="padding:0px 20px"><h2>22nd August 2016</h2><h3>01:02 PM</h3><h4>Monday</h4></li>
                </ul>
            </li> -->
        </ul>
    </div>
    <div class="pull-right">
        <ul>
            <!-- <li><a href="#"><i class="ti-bell"></i></a></li> -->
            <!-- <li><a href="#"><i class="ti-face-smile"></i></a></li>
            <li><a href="#"><i class="ti-help"></i></a></li> -->
            <li><a href="{{ url('logout') }}"><i class="ti-power-off"></i></a></li>
        </ul>
    </div>
</div>