    {# Javascript configuration #}
    <script type="text/javascript">
    	var config = {
    		'url': '{{ url() }}',
    		'other': 'hiren',
    	}
    </script>

    {# Javascript files #}
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.datepick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin.confirm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/layout.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/index.js') }}"></script>

    {# Extra Javascript files #}
    {% if _js %}
        {% for item in _js %}
            <script type="text/javascript" src="{{ item }}"></script>
        {% endfor %}
    {% endif %}

</body>
</html>