<html>
<head>
    <title>{{ Title }}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    {# Stylesheets #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    {# Extra CSS files #}
    {% if _css %}
        {% for item in _css %}
            <link rel="stylesheet" type="text/css" href="{{ item }}">
        {% endfor %}
    {% endif %}
</head>
<body>