<div class="sidebar">
    <ul>
        <!-- <li><a href="{{ url() }}"><i class="ti-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="divider"></li>
        <li><a href="{{ url('contracts') }}"><i class="ti-agenda"></i>  <span>Contract Register</span></a></li>
        <li class="divider"></li> -->
        <!-- <li><a href="{{ url('importers') }}"><i class="ti-truck"></i> <span>Importers</span></a></li>
        <li><a href="{{ url('products') }}"><i class="ti-package"></i> <span>Products</span></a></li>
        <li><a href="{{ url('schemes') }}"><i class="ti-medall"></i> <span>Schemes</span></a></li>
        <li><a href="{{ url('surveyors') }}"><i class="ti-stamp"></i> <span>Surveyor Companies</span></a></li>
        <li><a href="{{ url('countrys') }}"><i class="ti-flag"></i> <span>Countries</span></a></li>
        <li><a href="{{ url('ports') }}"><i class="ti-anchor"></i> <span>Ports</span></a></li>
        <li class="divider"></li> -->
        <!-- <li><a href="{{ url('reports') }}"><i class="ti-receipt"></i> <span>Reports</span></a></li>
        <li class="divider"></li> -->
        <!-- <li><a href="{{ url('company') }}"><i class="ti-direction-alt"></i> <span>Company Detail</span></a></li>
        <li><a href="{{ url('user/profile') }}"><i class="ti-user"></i> <span>User Profile</span></a></li>
        <li><a href="{{ url('app/settings') }}"><i class="ti-settings"></i> <span>App Settings</span></a></li> -->
    </ul>
</div>