.selectWrap {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	button {
		display: block;
		background-color: #fff;
		border: 1px solid #ddd;
		width: 300px;
		height: 28px;
		padding: 0 5px;
		font-size: 14px;

		&:hover {
			border-color: #bbb;
		}

		&:active, &.active, &:focus {
			border-color: #0080C0;
		}

		> span {
			float: left;
		}

		> i {
			float: right;
			margin-left: 10px;
		}

		.optionsWrap {
			display: none;
			background-color: #fff;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 9999;
			width: 100%;
			padding-top: 10px;
			text-align: left;
			box-shadow: 3px 5px 10px 0px #ddd;

			input {
				display: inline-block;
				vertical-align: text-top;
				margin-top: -5px;
				margin-bottom: 3px;
				margin-left: 5px;
				border: none;
				background-color: transparent;
			}

			ul {
				list-style: none;
				border-top: 1px solid #ddd;
				padding-top: 5px;
				padding-bottom: 5px;
				max-height: 250px;
				overflow: auto;
			}

			li {
				display: block;
				padding: 5px 10px;
				text-align: left;

				&:hover {
					background-color: #ddd;
				}

				&.active {
					background-color: #ddd;
					color: darken(#0080C0, 15%);
				}
			}

			a.selectBoxAddNew {
				display: block;
				padding: 10px;
				border-top: 1px solid #ddd;
				cursor: pointer;

				&:hover {
					background-color: #eee;
				}
			}
		}
	}
}