.radioLabel, .checkboxLabel {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    margin-bottom: 5px;
    line-height: 20px;
    vertical-align: middle;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .fake {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border: 1px solid #bbb;
    }

    &:hover input ~ .fake,
    input:focus ~ .fake {
        background: #ccc;
    }

    input:checked ~ .fake {
        background-color: #fff;
    }

    &:hover input:not([disabled]):checked ~ .fake,
    input:checked:focus ~ .fake {
        background: #e5e5e5;
    }

    input:disabled ~ .fake {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }

    input:checked ~ .fake:after {
        display: block;
    }
}

.radioLabel {
    .fake {
        border-radius: 50%;
    }

    .fake:after {
        left: 5px;
        top: 5px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #204A87;
    }
    input:disabled ~ .fake:after {
        background: #7b7b7b;
    }
}

.checkboxLabel {
    .fake:after {
        left: 6px;
        top: 1px;
        width: 4px;
        height: 12px;
        border: solid #204A87;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    input:disabled ~ .fake:after {
        border-color: #7b7b7b;
    }
}

.fake:after {
    content: '';
    position: absolute;
    display: none;
}

