/**
 * Popup Plugin
 */

@modalBaseColor : #3BB1D9;

.modal {
	display: none;
	background-color: #fff;
	border: 1px solid #777;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 100;
	box-shadow: 2px 5px 20px 0 #888;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;


	width: 500px;
	margin-left: -250px;
	margin-top: -150px;

	.modal-title {
		border-bottom: 1px solid #e5e5e5;
		padding: 0 15px;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
		color: #111;
	}

	.modal-close {
		position: absolute;
		top: 11;
		right: 12;
		color: #666;
		font-size: 18px;
		cursor: pointer;

		&:hover {
			color: darken(#666, 30%);
		}

		&:active {
			color: darken(#666, 40%);
		}
	}

	.modal-content {
		padding: 20px;
		overflow: auto;
		max-height: 208px;
		margin-bottom: 50px;
	}

	.modal-footer {
		height: 50px;
		border-top: 1px solid #e5e5e5;
		padding: 10px;
		background-color: #eee;
		text-align: right;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		a {
			margin-right: 5px;
		}
	}
}

.modal::before {
	display: block;
	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}


// Special Case :: Print Preview Modal
.printPreviewModal {
	width: 1000px;
	margin-left: -500px;
	margin-top: 0;
	position: fixed;
	top: 10;
	bottom: 10;
	overflow: hidden;

	.modal-content {
		max-height: inherit;
		margin-bottom: 0;
		padding: 0;
	}

    #printPreviewIframe {
    	display: block;
    	width: 100%;
    	height: 100%;
    	padding-bottom: 40px;
    }
}

// Special Case :: iFrame Modal
.iFrameModal {
	width: 1000px;
	margin-left: -500px;
	margin-top: 0;
	position: fixed;
	top: 10;
	bottom: 10;
	overflow: hidden;

	.modal-content {
		max-height: inherit;
		margin-bottom: 0;
		padding: 0;
		overflow: auto;
	}

	#iFrameIframe {
		display: block;
		width: 100%;
		height: 100%;
		padding-bottom: 40px;
	}
}