//@import "roboto/stylesheet.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body, table {
	font-family: Cambria, Calibri, sans, serif, arial;
	font-size: 11px;
	line-height: 1.4;
	background-color: #fff;
}

// set chrome's margin to zero
@page {
	margin: 0;
}

.a4 {
	//width: 210mm;
	height: 296mm;
	padding: 20px;
}

.a4-2 {
	height: 296mm;
	padding: 40px;
}

.clearfix { content: ''; clear: both; overflow: hidden; }

.t-right { text-align: right; }
.t-center { text-align: center; }

.bb2 { border-bottom: 1px solid #000; }
.bl2 { border-left: 1px solid #000; }

.nb { border: none }
.nbt { border-top: none }
.nbb { border-bottom: none }
.nbl { border-left: none }
.nbr { border-right: none }
.np { padding: 0 }

.mt20 { margin-top: 20px }
.mt50 { margin-top: 50px }

.pull-left { float: left }
.pull-right { float: right }

.row {
    .clearfix;

    .col-6 {
        width: 50%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;

        &.border-left {
            border-left: 1px solid #ddd;
        }
        &.border-right {
            border-right: 1px solid #ddd;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    .col-8 {
        width: 67%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;

        &.border-left {
            border-left: 1px solid #ddd;
        }
        &.border-right {
            border-right: 1px solid #ddd;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    .col-4 {
        width: 33%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;

        &.border-left {
            border-left: 1px solid #ddd;
        }
        &.border-right {
            border-right: 1px solid #ddd;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    .col-1 {
        width: 8%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;

        &.border-left {
            border-left: 1px solid #ddd;
        }
        &.border-right {
            border-right: 1px solid #ddd;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    .col-7 {
        width: 58%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;

        &.border-left {
            border-left: 1px solid #ddd;
        }
        &.border-right {
            border-right: 1px solid #ddd;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

table {
	height: 100%;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
	table-layout: fixed;

	td, th {
		border: 1px solid #000;
		vertical-align: top;
		font-weight: bold;
		padding: 1px;
		height: 1px !important;

		.title {
			text-decoration: underline;
			font-weight: normal;
            margin-bottom: 4px;
		}
	}
}